<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="category_step_add">
<div>
    <object th:include="expertise/fragment/category_four/category_step3 :: category_step3" th:remove="tag" ></object>
<!--    <object th:include="expertise/fragment/category_four/category_step4 :: category_step4" th:remove="tag" ></object>-->
<!--    <object th:include="expertise/fragment/category_four/category_step5 :: category_step5" th:remove="tag" ></object>-->
<!--    <object th:include="expertise/fragment/category_four/category_step6 :: category_step6" th:remove="tag" ></object>-->
<!--    <object th:include="expertise/fragment/category_four/category_step7 :: category_step7" th:remove="tag" ></object>-->
</div>
</body>
</html>