<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body class="layout-6">
    <div th:fragment="prepayment">
        <div class="container-fluid mb-lg-5">
            <div class="row" th:object="${invoice}">
                <div class="col-md-7 border-right" style="border-color: #7d878c; border:2px">
                    <div class="row m-15">
                        <div class="col-md-6 text-left">
                            <h3 th:text="#{sys_invoice.invoice}">Номер инвойса</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <h4><span th:text="*{invoice}"></span></h4>
                        </div>
                    </div>
                    <div class="row m-15">
                        <div class="col-md-6 text-left">
                            <h3 th:text="#{sys_payerName}">ФИО плательщика</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <h4><span th:text="*{payerName}"></span></h4>
                        </div>
                    </div>
                    <div class="row m-15">
                        <div class="col-md-6 text-left">
                            <h3 th:text="#{sys_invoice.createdDate}">Дата выдачи инвойса</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <h4>
                                <span th:if="${invoice.createdDate!=null}" th:utext="${#dates.format(invoice.createdDate, 'dd.MM.yyyy HH:mm:ss')}"></span>
                                <!--03.05.2019-->
                            </h4>
                        </div>
                    </div>
                    <div class="row m-15">
                        <div class="col-md-6 text-left">
                            <h3 th:text="#{sys_invoice.qty}">Оплата в МРЗП</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <h4>
                                <span th:text="*{qty}"></span>
                                <!--20-->
                            </h4>
                        </div>
                    </div>
                    <div class="row m-15">
                        <div class="col-md-6 text-left">
                            <h3 th:text="#{sys_invoice.qty_sum}">Оплата в МРЗП</h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <h4>
                                <span th:if="${regApplication.addNds==null or !regApplication.addNds}" >
                                    <span th:text="*{#numbers.formatDecimal(amount, 1, 'WHITESPACE', 2, 'POINT')}"></span>
                                    <span th:text="#{sys_currency.sum}"></span>
                                </span>
                                <span th:if="${regApplication.addNds!=null and regApplication.addNds}" >
                                     <span th:text="*{#numbers.formatDecimal(amount/1.15, 1, 'WHITESPACE', 2, 'POINT')}"></span>
                                     <span th:text="#{sys_currency.sum}"></span>
                                </span>
                                <!--20-->
                            </h4>
                        </div>
                    </div>
                    <div class="row m-15">
                        <div class="col-md-6 text-left">
                            <h3 th:text="#{sys_nds.additional}"></h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <h4>
                                <span th:if="${regApplication.addNds==null or !regApplication.addNds}">0%</span>
                                <span th:if="${regApplication.addNds!=null and regApplication.addNds}">15%</span>
                                <!--20-->
                            </h4>
                        </div>
                    </div>
                    <div class="row m-15">
                        <div class="col-md-6 text-left">
                            <h3 th:text="#{sys_nds.additional_sum}"></h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <h4>
                                <span th:if="${regApplication.addNds==null or !regApplication.addNds}">
                                    0 <span th:text="#{sys_currency.sum}"></span>
                                </span>
                                <span th:if="${regApplication.addNds!=null and regApplication.addNds}" >
                                    <span th:text="*{#numbers.formatDecimal(((amount*15)/115), 1, 'WHITESPACE', 2, 'POINT')}"></span>
                                    <span th:text="#{sys_currency.sum}"></span>
                                </span>
                                <!--20-->
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 ">
                    <div class="row  text-center mt-5">
                        <div class="col-md-12 m-20">
                            <h1 class="display-4" th:text="#{sys_invoice.amount}"> Сумма к оплате </h1>
                        </div>
                        <div class="col-md-12 m-20">
                            <h1 class="display-4">
                                <strong th:text="*{#numbers.formatDecimal(amount, 1, 'WHITESPACE', 2, 'POINT')}"> </strong>&nbsp;<span th:text="#{sys_currency.sum}"></span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- /top navigation -->
</body>
</html>