# Created by .ignore support plugin
.idea
core/target
ecoexpertise/target
cabinet/target
rest/target
docmanagement/target
logs
/home/utkir/IdeaProjects/ecology/cabinet/target
/home/utkir/IdeaProjects/ecology/core/target
/home/utkir/IdeaProjects/ecology/ecoexpertise/target

*/*.iml
/uploads/
