# Created by .ignore support plugin
.idea
core/target
ecoexpertise/target
cabinet/target
/home/utkir/IdeaProjects/ecology/cabinet/target
/home/utkir/IdeaProjects/ecology/core/target
/home/utkir/IdeaProjects/ecology/ecoexpertise/target