<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" th:href="@{/static/modal-window-effects/css/md-modal.css}">
    <style>
        .table td, .table th{
            white-space: unset;
        }
    </style>
    <style>
        .table td, .table th{
            white-space: pre-line;
        }
        .datepicker>.datepicker-days {
            display: block;
        }
        .acc-wrap .acc-top {
            background-color: #45bfe8;
        }

        .acc-wrap .acc-top i {
            -webkit-transition: all 0.2s linear;
            transition: all 0.2s linear;
        }

        .acc-wrap .acc-top .angle-down {
            -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
        }

        .acc-wrap .acc-body {
            display: none;
        }
        .custom-progress-modal .modal-header .modal-title::before {
            content: "";
            position: absolute;
            width: 5px;
            height: 30px;
            background-color: #007bff;
            left: 0;
            top: 15px;
        }
    </style>

</head>
<body class="layout-6">
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

<object th:include="fragments/header :: head" th:remove="tag" ></object>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">

                            <!-- [ sample-page ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body" style="min-height: calc(100vh - 130px);">
                                        <h5 th:text="#{reg_application}+': ' + ${regApplication.id}"></h5>
                                        <hr>
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link show active" id="applicant-tab" data-toggle="tab" href="#applicant" role="tab" aria-controls="applicant" aria-selected="true" th:text="#{general_info}"></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link show" id="expertise-tab" data-toggle="tab" href="#expertise" role="tab" aria-controls="expertise" aria-selected="false" th:text="#{sys_expertise}"></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link show" id="contract-tab" data-toggle="tab" href="#contract" role="tab" aria-controls="contract" aria-selected="false" th:text="#{sys_contract}"></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link show" id="payment-tab" data-toggle="tab" href="#payment" role="tab" aria-controls="payment" aria-selected="false" th:text="#{sys_payment}"></a>
                                            </li>
<!--                                            <li class="nav-item">-->
<!--                                                <a class="nav-link show" id="log-tab" data-toggle="tab" href="#log" role="tab" aria-controls="log" aria-selected="false" th:text="#{sys_log}"></a>-->
<!--                                            </li>-->
                                        </ul>

                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade active show" id="applicant" role="tabpanel" aria-labelledby="applicant-tab">
                                                <div class="form-group row" >
                                                    <div class="col-md-3 text-right">
                                                        <label class="col-form-label" th:text="#{reg_application.input_type}"></label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input class="form-control" readonly="readonly" th:value="${regApplication.inputType}">
                                                    </div>
                                                </div>
                                                <object th:include="expertise/fragment/applicant :: applicant" th:remove="tag"></object>
                                            </div>
                                            <div class="tab-pane fade" id="expertise" role="tabpanel" aria-labelledby="expertise-tab">
                                                <object th:include="expertise/fragment/expertise :: expertise" th:remove="tag"></object>
                                            </div>
                                            <div class="tab-pane fade" id="contract" role="tabpanel" aria-labelledby="contract-tab">
                                                <object th:include="expertise/fragment/contract :: contract" th:remove="tag"></object>
                                            </div>
                                            <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
                                                <object th:include="expertise/fragment/payment :: payment" th:remove="tag" th:if="${regApplication.invoiceId!=null}"></object>
                                            </div>
<!--                                            <div class="tab-pane fade" id="log" role="tabpanel" aria-labelledby="log-tab">-->
<!--                                                <object th:include="expertise/fragment/log :: log" th:remove="tag"></object>-->
<!--                                            </div>-->
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
<script type="text/javascript" src="/static/js/form.js?v=28122016"></script>
<script type="text/javascript" src="/static/parsley/parsley.min.js"></script>
<script th:src="@{'/static/parsley/i18n/' + __${#locale}__ + '.js'}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        const accordion = $('.acc-top');

        $(accordion).click(function() {
            $(this).next().slideToggle(500);
            accordion.not(this).next().slideUp(500);
            $(this).children("i").toggleClass("angle-down");
            accordion.not(this).children("i").removeClass("angle-down");
        });
    })
</script>

<script type="text/javascript" th:inline="javascript">

    $('.btnNext').click(function() {
        $('.nav-tabs .active').parent().next('li').find('a').trigger('click');
    });

    $('.btnPrevious').click(function() {
        $('.nav-tabs .active').parent().prev('li').find('a').trigger('click');
    });

</script>
</body>
</html>