<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <link rel="stylesheet" href="/static/datatables/css/datatables.min.css">
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/select2.min.css}">
    <style>
        .table td, .table th{
            white-space: pre-line;
        }
        .datepicker>.datepicker-days {
            display: block;
        }
    </style>
</head>
<body>
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

<object th:include="fragments/header :: head" th:remove="tag" ></object>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ task-board ] start -->
                            <div class="col-xl-3 col-lg-12">
                                <div class="card task-board-left">
                                    <div class="card-header">
                                        <h5>Search Box</h5>
                                    </div>
                                    <div class="card-block ">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control add_task_todo" placeholder="Search here..." required="">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary btn-icon btn-msg-send" type="button"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                        <div class="task-right">
                                            <div class="task-right-header-status">
                                                <span class="f-w-400" data-toggle="collapse">Completed Status</span>
                                                <i class="fas fa-caret-down float-right m-t-5"></i>
                                            </div>
                                            <div class="taskboard-right-progress" style="">
                                                <h6 class="m-t-10">Highest priority</h6>
                                                <div class="progress">
                                                    <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <h6 class="m-t-15">High priority</h6>
                                                <div class="progress">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <h6 class="m-t-15">Normal priority</h6>
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <h6 class="m-t-15">Low priority</h6>
                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                            <div class="task-right-header-users">
                                                <span class="f-w-400" data-toggle="collapse">Assign Users</span>
                                                <i class="fas fa-caret-down float-right m-t-5"></i>
                                            </div>
                                            <div class="user-box assign-user taskboard-right-users" style="">
                                                <div class="media mb-2" th:each="user : ${users}">
                                                    <div class="media-left media-middle mr-3">
                                                        <a href="#">
                                                            <img class="media-object img-radius" src="/static/images/avatar-2.jpg" alt="Generic placeholder image">
                                                            <div class="live-status bg-danger"></div>
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 th:text="${user.fullName}">Josephin Doe</h6>
                                                        <p th:if="${user.organizationId}" th:text="${@helperService.getOrganizationName(user.organizationId,#locale)}">Santa Ana,CA</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="task-right-header-revision">
                                                <span class="f-w-400" data-toggle="collapse">Revision</span>
                                                <i class="fas fa-caret-down float-right m-t-5"></i>
                                            </div>
                                            <div class="taskboard-right-revision user-box" style="display: none;">
                                                <div class="media">
                                                    <div class="media-left">
                                                        <a class="btn btn-outline-primary btn-icon" href="#" role="button"><i class="fas fa-cogs"></i>
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="chat-header f-w-400 mb-1">Drop the IE specific hacks for temporal inputs</div>
                                                        <p class="chat-header  text-muted">4 minutes ago</p>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <div class="media-left">
                                                        <a class="btn btn-outline-danger btn-icon" href="#" role="button"><i class="fas fa-share-alt"></i>
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="chat-header f-w-400 mb-1">Have Carousel ignore keyboard events</div>
                                                        <p class="chat-header text-muted">12 Dec,2015</p>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <div class="media-left">
                                                        <a class="btn btn-outline-warning btn-icon" href="#" role="button"><i class="fas fa-font"></i>
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="chat-header f-w-400 mb-1">Add full font overrides for popovers and tooltips</div>
                                                        <p class="chat-header text-muted">2 month ago</p>
                                                    </div>
                                                </div>
                                                <div class="media">
                                                    <div class="media-left">
                                                        <a class="btn btn-outline-success btn-icon" href="#" role="button"><i class="fas fa-mobile-alt"></i>
                                                        </a>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="chat-header">Responsive Asssignment</div>
                                                        <p class="chat-header  text-muted">6 month ago</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-9 col-lg-12 filter-bar">
                                <nav class="navbar m-b-30 p-10">
                                    <ul class="nav">
                                       <!-- <li class="nav-item f-text active">
                                            <a class="nav-link text-secondary" href="#">Filter: <span class="sr-only">(current)</span></a>
                                        </li>-->
                                        <!--<li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-secondary" href="#" id="bydate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-clock"></i> By Date</a>
                                            <div class="dropdown-menu" aria-labelledby="bydate">
                                                <a class="dropdown-item" href="#">Show all</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Today</a>
                                                <a class="dropdown-item" href="#">Yesterday</a>
                                                <a class="dropdown-item" href="#">This week</a>
                                                <a class="dropdown-item" href="#">This month</a>
                                                <a class="dropdown-item" href="#">This year</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-secondary" href="#" id="bystatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-chart-line"></i> By Status</a>
                                            <div class="dropdown-menu" aria-labelledby="bystatus">
                                                <a class="dropdown-item" href="#">Show all</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Open</a>
                                                <a class="dropdown-item" href="#">On hold</a>
                                                <a class="dropdown-item" href="#">Resolved</a>
                                                <a class="dropdown-item" href="#">Closed</a>
                                                <a class="dropdown-item" href="#">Dublicate</a>
                                                <a class="dropdown-item" href="#">Wontfix</a>
                                            </div>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-secondary" href="#" id="bypriority" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-list-ol"></i> By Priority</a>
                                            <div class="dropdown-menu" aria-labelledby="bypriority">
                                                <a class="dropdown-item" href="#">Show all</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Highest</a>
                                                <a class="dropdown-item" href="#">High</a>
                                                <a class="dropdown-item" href="#">Normal</a>
                                                <a class="dropdown-item" href="#">Low</a>
                                            </div>
                                        </li>-->
                                    </ul>
                                    <div class="nav-item nav-grid f-view">
                                        <a th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).RegApplicationList}" class="btn btn-primary btn-icon m-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="list view">
                                            <i class="fas fa-list-ul"></i>
                                        </a>
                                        <a  th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).RegApplications}" class="btn btn-primary btn-icon m-0" data-toggle="tooltip" data-placement="top" title="" data-original-title="grid view">
                                            <i class="fas fa-th-large"></i>
                                        </a>
                                    </div>
                                </nav>
                                <div class="row">
                                    <div class="col-md-6 col-sm-12" th:each="regApplication :${regApplications}">
                                        <div class="card card-border-c-blue">
                                            <div class="card-header">
                                                <a href="#" class="text-secondary"><span th:text="#{reg_application_number}">ariza raqami</span>:<span th:text="${regApplication.id}"></span></a>
                                                <span class="label label-primary float-right" th:if="${regApplication.registrationDate!=null}" th:text="${#dates.format(regApplication.registrationDate, 'dd.MM.yyyy HH:mm:ss')}"> </span>
                                            </div>
                                            <div class="card-block card-task">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <p class="task-detail" th:if="${regApplication.materialId!=null}" th:text="${@helperService.getMaterial(regApplication.materialId,#locale)}"></p>
                                                        <p class="task-due">
                                                            <strong> Due : </strong>
                                                            <strong class="label label-primary">
                                                                <span th:text="${regApplication.deadline}"></span>
                                                            </strong>
                                                        </p>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="task-list-table">
                                                    <a href="#">
                                                        <img class="img-fluid img-radius mr-1" src="/static/images/avatar-2.jpg" alt="1">
                                                        <span th:if="${regApplication.performerId!=null}" th:text="${@helperService.getUserById(regApplication.performerId)}"></span>
                                                    </a>
                                                </div>
                                                <!--<div class="task-board">
                                                    <div class="dropdown-secondary dropdown">
                                                        <button class="btn btn-primary btn-sm dropdown-toggle  " type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Normal</button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 25px, 0px);">
                                                            <a class="dropdown-item  " href="#"><span class="point-marker bg-danger"></span>Highest priority</a>
                                                            <a class="dropdown-item  " href="#"><span class="point-marker bg-warning"></span>High priority</a>
                                                            <a class="dropdown-item   active" href="#"><span class="point-marker bg-success"></span>Normal priority</a>
                                                            <a class="dropdown-item  " href="#"><span class="point-marker bg-info"></span>Low priority</a>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown-secondary dropdown">
                                                        <button class="btn btn-primary btn-sm dropdown-toggle  b-none txt-muted" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Open</button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 25px, 0px);">
                                                            <a class="dropdown-item   active" href="#">Open</a>
                                                            <a class="dropdown-item  " href="#">On hold</a>
                                                            <a class="dropdown-item  " href="#">Resolved</a>
                                                            <a class="dropdown-item  " href="#">Closed</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item  " href="#">Dublicate</a>
                                                            <a class="dropdown-item  " href="#">Invalid</a>
                                                            <a class="dropdown-item  " href="#">Wontfix</a>
                                                        </div>
                                                    </div>
                                                    <div class="dropdown-secondary dropdown">
                                                        <button class="btn btn-primary btn-sm dropdown-toggle  b-none txt-muted" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars"></i></button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdown3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 25px, 0px);">
                                                            <a class="dropdown-item  " href="#">Check in</a>
                                                            <a class="dropdown-item  " href="#">Attach screenshot</a>
                                                            <a class="dropdown-item  " href="#">Reassign</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item  " href="#">Edit task</a>
                                                            <a class="dropdown-item  " href="#">Remove</a>
                                                        </div>
                                                    </div>
                                                </div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ task-board ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
<script th:src="@{/static/datatables/datatables.min.js}"></script>
<script type="text/javascript" src="/static/js/form.js?v=28122016"></script>
<script type="text/javascript" src="/static/plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" th:src="@{/static/js/select2.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/task-board.js}"></script>
</body>
</html>