<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <link rel="stylesheet" href="/static/datatables/css/datatables.min.css">
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/select2.min.css}">
    <style>
        .table td, .table th{
            white-space: pre-line;
        }
        .datepicker>.datepicker-days {
            display: block;
        }
    </style>
</head>
<body class="layout-6">
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

<object th:include="fragments/header :: head" th:remove="tag" ></object>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ sample-page ] start -->
                            <div class="col-sm-12">
                                <!-- Accordion block begins here -->
                                <div class="accordion" id="accordionExample">
                                    <!-- filters card begins here -->
                                    <div class="card" style="border-radius: 5px">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed" th:text="#{reg_application.filters}"></a></h5>
                                        </div>
                                        <div id="collapseOne" class="card-body collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" style="">
                                            <form class="row">
                                                <div class="form-group col-sm-2">
                                                    <label for="tin" class="control-label" th:text="#{sys_tin}">ИНН</label>
                                                    <input type="text" class="form-control" id="tin">
                                                </div>
                                                <div class="form-group col-sm-2">
                                                    <label for="name" class="control-label" th:text="#{sys_legal_entity_name}">Наименование предприятия</label>
                                                    <input type="text" class="form-control" id="name">
                                                </div>
                                                <div class="form-group col-sm-2">
                                                    <label for="applicationId" class="control-label" th:text="#{reg_application.number}">№ id</label>
                                                    <input type="text" class="form-control" id="applicationId">
                                                </div>
                                                <div class="form-group col-sm-2">
                                                    <label for="regionId" class="control-label" th:text="#{sys_region}"></label>
                                                    <select id="regionId" class="form-control">
                                                        <option value="" th:text="#{sys_select}"></option>
                                                        <option th:each="region : ${regions}" th:value="${region.id}" th:text="${region.getNameTranslation(#locale)}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-sm-4" >
                                                    <label for="regDateBegin" class="control-label" th:text="#{reg_application.regdate}"></label>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <input class="form-control datepicker" id="regDateBegin" th:placeholder="#{sys_begin}"/>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <input class="form-control datepicker" id="regDateEnd" th:placeholder="#{sys_end}"/>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group col-sm-3">
                                                    <label for="activityId" class="control-label" th:text="#{sys_about.activity}"></label>
                                                    <select id="activityId" class="form-control">
                                                        <option value="" th:text="#{sys_select}"></option>
                                                        <option th:each="activity : ${activityList}" th:value="${activity.id}" th:text="${activity.getNameTranslation(#locale)}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-sm-3">
                                                    <label for="objectId" class="control-label" th:text="#{sys_about.objectExpertise}"></label>
                                                    <select id="objectId" class="form-control">
                                                        <option value="" th:text="#{sys_select}"></option>
                                                        <option th:each="objectExpertise : ${objectExpertiseList}" th:value="${objectExpertise.id}" th:text="${objectExpertise.getNameTranslation(#locale)}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-sm-2">
                                                    <label for="subRegionId" class="control-label" th:text="#{sys_subregion}">Вилоят</label>
                                                    <select id="subRegionId" class="form-control">
                                                        <option value="" th:text="#{sys_select}"></option>
                                                        <option th:each="subRegion : ${subRegions}" th:value="${subRegion.id}" th:text="${subRegion.getNameTranslation(#locale)}" th:class="${'sr-'+subRegion.parentId}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-sm-2">
                                                    <label for="status" class="control-label" th:text="#{sys_status}"></label>
                                                    <select id="status" class="form-control">
                                                        <option value="" th:text="#{sys_select}"></option>
                                                        <option th:each="status : ${statusList}" th:value="${status.id}" th:text="#{${status.getPerformerName()}}"></option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-sm-2">
                                                    <label for="deadlineDateBegin" class="control-label" th:text="#{sys_deadlineDate}"></label>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <input class="form-control datepicker" id="deadlineDateBegin" th:placeholder="#{sys_begin}" />
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <input class="form-control datepicker" id="deadlineDateEnd" th:placeholder="#{sys_end}" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group col-sm-12 text-right">
                                                    <a class="btn btn-primary text-white" onclick="getDatatableConnect();return false;">
                                                        <i class="feather icon-search mr-1"></i>
                                                        <span th:text="#{sys_search}">Search</span>
                                                    </a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                </div>
                                        <!-- dataTable card begins here -->

                                <div class="parent-card col-xl-12 mh-1000">
<!--                                    <div class="card-header">-->
<!--                                        <h5 th:text="#{sys_menu.performerList}"></h5>-->
<!--                                    </div>-->

                                    <ul class="nav nav-tabs w-auto" id="myTab" role="tablist">

                                        <li class="nav-item card-nav-item w-50 text-center">
                                            <a class="nav-link text-uppercase active show" id="executing-tab" data-toggle="tab" href="#profile" onclick="getDatatableConnect(1)" role="tab" aria-controls="profile" aria-selected="false"><span th:text="#{sys_forwardingStatus.all}">Xammasi</span>
                                            </a>
                                        </li>
                                        <li class="nav-item card-nav-item w-50 text-center">
                                            <a class="nav-link text-uppercase show" id="executing-tab1" data-toggle="tab" href="#profile" onclick="getDatatableConnect(2)" role="tab" aria-controls="profile" aria-selected="false"><span th:text="#{sys_forwardingStatus.initial}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="table-responsive break-word" id="result" >
                                            <table id="data-table" class="table table-striped table-hover dataTable" style="width: 100%">
                                                <thead>
                                                <tr>
                                                    <th th:text="#{reg_application.number}"></th>
                                                    <th th:text="#{sys_tin}"></th>
                                                    <th th:text="#{sys_legal_entity_name}"></th>
                                                    <th th:text="#{sys_about.material}"></th>
                                                    <th th:text="#{sys_about.activity}"></th>
                                                    <th th:text="#{sys_list.registration_date}"></th>
                                                    <th th:text="#{sys_list.deadline_date}"></th>
                                                    <th th:text="#{sys_agreement.status}"></th>
                                                    <th th:text="#{sys_conclusion_status}"></th>
                                                    <th ></th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                        <!-- dataTable card ends here -->
                            </div>
                                <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
<script th:src="@{/static/datatables/datatables.min.js}"></script>
<script type="text/javascript" src="/static/js/form.js?v=28122016"></script>
<script type="text/javascript" src="/static/plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" th:src="@{/static/js/select2.min.js}"></script>

<script th:inline="javascript">
    var logId = 0;
    var ajaxRequestLink = [[${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).PerformerListAjax}]];
    var ajaxRequestViewLink = [[${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).PerformerView}]];
    function getCurrentLanguage() {
        return [[__${#locale}__]];
    }
    var leftDay = [[#{left_day}]];
    var haveDay = [[#{have_day}]];
</script>
<script th:inline="none">
    /*<![CDATA[*/
    var labelView = "View";
    var dataDatatableSelector;
    var thead;

    function renderActionsColumn(data, type, row, meta) {
        var currentViewLink = ajaxRequestViewLink + '?id=' + row[0];
        var html = '';
        html += '<div class="btn-group"><a class="btn btn-info btn-sm mr-1" href="'+currentViewLink+'" title="'+labelView+'"><i class="feather icon-eye" style="margin-right: 0px;"></i></a></div>';
        return html;
    }

    function renderDeadlineDateColumn(data, type, row, meta) {
        var html='';
        var deadlineDate1 = row[6];
        var complete = row[11];
        if (deadlineDate1!='' && deadlineDate1!=null){
            if (complete!=null){
                if (complete){
                    html='<span class="badge badge-info">'+deadlineDate1+'</span>'
                }else{
                    html='<span class="badge badge-danger">'+deadlineDate1+'</span>'
                }
            }else{
                var parts = deadlineDate1.split('.');
                var nowDate = new Date();
                nowDate.setHours(0,0,0,0);
                var deadlineDate = new Date(parts[2],parts[1]-1,parts[0]);
                var nearDate = new Date(parts[2],parts[1]-1,parts[0]);
                nearDate.setDate(nearDate.getDate()-3);
                nearDate.setHours(0,0,0,0);

                if (nearDate > nowDate){
                    html='<span class="badge badge-info"  data-toggle="tooltip" data-placement="top" title="'+(deadlineDate.getTime()-nowDate.getTime())/(1000*3600*24)+haveDay+'">'+deadlineDate1+'</span>'
                }else{
                    if (deadlineDate>=nowDate && nearDate<=nowDate){
                        html='<span class="badge badge-warning" data-toggle="tooltip" data-placement="top" title="'+(deadlineDate.getTime()-nowDate.getTime())/(1000*3600*24)+haveDay+'">'+deadlineDate1+'</span>'
                    }else{
                        html='<span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="'+(nowDate.getTime()-deadlineDate.getTime())/(1000*3600*24)+leftDay+'">'+deadlineDate1+'</span>'
                    }
                }
            }

        }

        return html;
    }

    function renderLogStatusColumn(data, type, row, meta) {
        var statusLabel = '';
        if (row[10]===0)statusLabel += '<span class="badge badge-secondary">'+row[9]+'</span>';
        if (row[10]===1)statusLabel += '<span class="badge badge-secondary">'+row[9]+'</span>';
        if (row[10]===2)statusLabel += '<span class="badge badge-secondary">'+row[9]+'</span>';
        if (row[10]===3)statusLabel += '<span class="badge badge-warning">'+row[9]+'</span>';
        if (row[10]===4)statusLabel +='<span class="badge badge-success">'+row[9]+'</span>';
        if (row[10]===5)statusLabel +='<span class="badge badge-danger">'+row[9]+'</span>';
        return statusLabel;
    }

    function renderAgreementStatusColumn(data, type, row, meta) {
        var statusLabel = '';
        if (row[8]===0)statusLabel += '<span class="badge badge-secondary">'+row[7]+'</span>';
        if (row[8]===1)statusLabel += '<span class="badge badge-secondary">'+row[7]+'</span>';
        if (row[8]===2)statusLabel += '<span class="badge badge-warning">'+row[7]+'</span>';
        if (row[8]===3)statusLabel += '<span class="badge badge-warning">'+row[7]+'</span>';
        if (row[8]===4)statusLabel +='<span class="badge badge-success">'+row[7]+'</span>';
        if (row[8]===5)statusLabel +='<span class="badge badge-danger">'+row[7]+'</span>';
        return statusLabel;
    }

    function datatableConnect(tab) {
        let filterTab = "";
        if (tab === 0){
            if (logId === 1){
                filterTab = $('#status').val();
            }else{
                filterTab = 0;
                logId = tab;
            }
        }
        if (tab === 1){
            logId = tab;
        }
        if (tab === 2){
            filterTab = 0;
            logId = tab;
        }

            dataDatatableSelector.DataTable({
            processing: true,
            serverSide: true,
            scrollX: true,
            pageLength: 25,
            lengthMenu: [ [25, 500, 1000], [25, 500, 1000] ],
            order: [[5, 'desc']],
            dom: 'lrtip',
                stateSave: true,
            ajax : function (dataToSend, callback, settings) {
                var api = this.api();
                var jqTable = $(api.table().node());

                dataToSend.page = api != undefined ? api.page() : 0;
                dataToSend.size = api != undefined ? api.page.len() : 25;
                dataToSend.tin = $('#tin').val();
                dataToSend.name = $('#name').val();
                dataToSend.contractNumber = "";
                dataToSend.applicationId = $('#applicationId').val();
                dataToSend.regionId = $('#regionId').val();
                dataToSend.subRegionId = $('#subRegionId').val();
                dataToSend.regDateBegin = $('#regDateBegin').val();
                dataToSend.regDateEnd = $('#regDateEnd').val();
                dataToSend.activityId = $('#activityId').val();
                dataToSend.objectId = $('#objectId').val();
                dataToSend.deadlineDateBegin = $('#deadlineDateBegin').val();
                dataToSend.deadlineDateEnd = $('#deadlineDateEnd').val();
                dataToSend.status =filterTab;

                var order = api != undefined ? api.order() : [[1, 'desc']];
                dataToSend.sort = dataToSend.columns[ order[0][0] ].name + ',' + order[0][1];

                $.get(ajaxRequestLink, dataToSend, function(data){
                    callback(data);
                });
            },
            columns: [
                {data: 0, name: 'id'},
                {data: 1, name: 'applicant.tin'},
                {data: 2, name: 'applicant.name'},
                {data: 3, orderable:false},
                {data: 4, name: 'category'},
                {data: 5, name: 'registrationDate'},
                {render: renderDeadlineDateColumn, name: 'deadlineDate',visible:false},
                {data: 7, render:renderAgreementStatusColumn, orderable:false},
                {data: 9, render:renderLogStatusColumn, orderable:false},
                {render: renderActionsColumn, orderable: false}
            ],
            language: {
                'url': '/static/datatables/lang_' + getCurrentLanguage() + '.json'
            }
        });
    }

    function getDatatableConnect(tab = 4) {
        dataDatatableSelector.DataTable().destroy();
        dataDatatableSelector.html(thead);
        datatableConnect(tab);
    }




    $(document).ready(function () {
        bindSubRegionSelectToRegionSelect('#subRegionId', '#regionId');
        dataDatatableSelector = $('#data-table');
        thead = dataDatatableSelector.html();
        datatableConnect();
        $('#activityId').select2();

        $('.datepicker').datepicker({
            format: "dd.mm.yyyy",
            todayHighlight: true,
            autoclose: true
        });
    });

    $('#data-table').css("width", "100%");
    /*]]>*/
</script>
</body>
</html>