<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <style>
        .table{
            margin-bottom: 0px;
            width: 100%;
            background-color: transparent;
        }
    </style>
</head>
<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

    <object th:include="fragments/header :: head" th:remove="tag" ></object>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">

                    <div class="row">

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <a class="card-block text-center" th:href="${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationDashboard}">
                                    <i class="feather icon-align-center" style="font-size: 40px;padding-bottom: 25px;color: #3d8af7;"></i>
                                    <h5  style="margin-top: 25px;" th:text="#{reg_application.dashboard}">Отправить заявление</h5>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-6 col-xl-3">
                            <div class="card">
                                <a class="card-block text-center" th:href="${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).AppealUserList}">
                                    <i class="feather icon-mail" style="font-size: 40px;padding-bottom: 25px;color: #3d8af7;"></i>
                                    <h5  style="margin-top: 25px;" th:text="#{sys_appeal.list}">Обрашения</h5>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
</body>
</html>