<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="/static/eco_fo/styles/vendor.css">
    <link rel="stylesheet" href="/static/eco_fo/styles/main.css">
    <link rel="stylesheet" th:href="@{/static/modal-window-effects/css/md-modal.css}">
    <style>
        .bold-style{
            color: black;
            font-weight: bold;
        }
        .fade:not(.show) {
            opacity: 2;
        }

    </style>
</head>

<body>
    <div class="main-wrapper">
        <header>
            <div class="header-top-wrapper">
                <div class="container">
                    <div class="header-top">
                        <div class="header-top-left">
                            <div class="contact-number"><span th:text="#{front_phone_for_info}">+99871) 207-07-70 (1001</span></div>
                            <div class="flex-center media-w-100">
                                <ul>
                                    <li>
                                        <a href="https://t.me/ecoserviceuz" target="_blank" >
                                            <i style="color: white" class="icon mdi mdi-telegram"></i>
                                            <span style="color: white" th:text="#{group_telegarm_support}"></span>
                                        </a>
                                    </li>
<!--                                    <li>-->
<!--                                        <a formtarget="_blank" href="https://www.facebook.com/ecoekspertiza/">-->
<!--                                            <img src="/static/eco_fo/img/facebook-logo.svg" alt="">-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="https://t.me/ecoserviceuz">-->
<!--                                            <img src="/static/eco_fo/img/instagram-logo.svg" alt="">-->
<!--                                        </a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="#">-->
<!--                                            <img src="/static/eco_fo/img/instagram-logo.svg" alt="">-->
<!--                                        </a>-->
<!--                                    </li>-->
                                </ul>
                                <div class="lang-wrapper">
                                    <div class="current-lang">Uzb</div>
                                    <div class="lang-list"><a class="lang-item" href="#">Pyc</a>  <a class="lang-item" href="#">Eng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header-top-right">
                            <ul class="header-top-nav-list">
                                <li><a href="/login"><span th:text="#{front.one_id}">One ID orqali kirish</span></a>
                                </li>
                                <li><a href="/login"><span th:text="#{front.eds}">ERI orqali kirish</span></a>
                                </li>
                            </ul>
                            <form action="">
                                <div class="form-block">
                                    <input type="text" th:placeholder="#{front.placeholder}">
                                    <button></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom-wrapper">
                <div class="container">
                    <div class="menu-wrapper">
                        <a href="#" class="logo">
                            <img src="/static/eco_fo/img/logo-new.jpg" alt="">
                            <div class="menu-nav">
                                <span class="bold-style" th:text="#{front.logo_info}">O'zbekiston Respublikasi ekologiya va atrof muhitni muhofaza qilish davlat qo'mitasi</span>
                            </div>
                        </a>
                        <ul class="menu-nav">
                            <li><a href="#" class="active"><span th:text="#{front.menu_home}" class="bold-style">Bosh sahifa</span></a>
                            </li>
                            <li><a href="#service"><span th:text="#{front.menu_services}" class="bold-style">Xizmatlar</span></a>
                            </li>
                            <li><a href="#news"><span th:text="#{front.menu_news}" class="bold-style">Yangiliklar</span></a>
                            </li>
                            <li><a href="#statistic"><span th:text="#{front.menu_statistic}" class="bold-style">Statistika</span></a>
                            </li>
                            <li><a href="#contact"><span th:text="#{front.menu_connect}" class="bold-style">Bog’lanishlar</span></a>
                            </li>
                        </ul>
                        <div class="menu-btn"></div>
                    </div>
                </div>
            </div>
        </header>
        <div class="top-slider-wrapper">
            <div class="top-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="/static/eco_fo/img/content/slider1.jpg" alt="">
                            <div class="container">
                                <div class="slider-text-block text-center" style="margin-top: 17%">
                                    <div class="info">
                                        <div class="title justify-content-center"><span>Davlat ekologik ekspertizasi markazining interaktiv xizmatlari portali</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img src="/static/eco_fo/img/content/slider2.jpg" alt="">
                            <div class="container">
                                <div class="slider-text-block text-center" style="margin-top: 17%">
                                    <div class="info">
                                        <div class="title"><span>Davlat ekologik ekspertizasi markazining interaktiv xizmatlari portali</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="top-slider-button-next"></div>
                <div class="top-slider-button-prev"></div>
            </div>
        </div>
        <div class="services-wrapper" id="service">
            <div class="container">
                <div class="services-block">
                    <div class="services-title"><span th:text="#{front.service-title}">Xizmatlar</span>
                    </div>
                    <div class="services-subtitle"><span th:text="#{front.service-subtitle}">“Portal orqali foydalanadigan interaktiv xizmatlar ro’yxati”</span>
                    </div>
                    <div class="services-items">
                        <div class="services-item">
                            <a href="#" class="services-card">
                                <div class="card-img-block">
                                    <img src="/static/eco_fo/img/icon1.png" alt="">
                                </div>
                                <div class="card-subtitle"><span th:text="#{front.service_card_social_text}">Ijtimoiy sohani, rivojlantirish davlat dasturlari, konsepsiyalari va sxemalarining, shuningdek, davlat tomonidan muhofaza etiladigan tabiiy hududlarni boshqarish rejalarining loyihalarini davlat ekologik ekspertizasidan o’tkazish</span>
                                </div>
                            </a>
                        </div>
                        <div class="services-item">
                            <a href="#" class="services-card">
                                <div class="card-img-block">
                                    <img src="/static/eco_fo/img/icon2.png" alt="">
                                </div>
                                <div class="card-subtitle"><span th:text="#{front.service_card_working_text}">Ishlab chiqarish kuchlari, iqtisodiyot tarmoqlarini joylashtirish va rivojlantirish konsepsiyalari, sxemalarining loyihalarini davlat ekologik ekspertizasidan o’tkazish</span>
                                </div>
                            </a>
                        </div>
                        <div class="services-item">
                            <a href="#" class="services-card">
                                <div class="card-img-block">
                                    <img src="/static/eco_fo/img/icon3.png" alt="">
                                </div>
                                <div class="card-subtitle"><span th:text="#{front.service_card_all_kinds_text}">Barcha turdagi qurilish uchun yer uchastkalarini tanlash materiallarini davlat ekologik ekspertizasidan o’tkazish</span>
                                </div>
                            </a>
                        </div>
                        <div class="services-item">
                            <a href="#" class="services-card">
                                <div class="card-img-block">
                                    <img src="/static/eco_fo/img/icon4.png" alt="">
                                </div>
                                <div class="card-subtitle"><span th:text="#{front.service_card_activities_text}">Faoliyat turlari bo’yicha loyihaoldi va loyiha hujjatlarini davlat ekologik ekspertizasidan o’tkazish</span>
                                </div>
                            </a>
                        </div>
                        <div class="services-item">
                            <a href="#" class="services-card">
                                <div class="card-img-block">
                                    <img src="/static/eco_fo/img/icon5.png" alt="">
                                </div>
                                <div class="card-subtitle"><span th:text="#{front.service_card_natural_resources_text}">Tabiiy resurslardan foydalanish bilan bog’liq xo’jalik va boshqa faoliyatni tartibga soluvchi normativ-texnik va yo’riqnoma-uslubiy hujjatlarning loyihalarini davlat ekologik ekspertizasidan o’tkazish</span>
                                </div>
                            </a>
                        </div>
                        <div class="services-item">
                            <a href="#" class="services-card">
                                <div class="card-img-block">
                                    <img src="/static/eco_fo/img/icon6.png" alt="">
                                </div>
                                <div class="card-subtitle"><span th:text="#{front.service_card_technique_text}">Texnika, texnologiya, materiallar, moddalar, mahsulotlarninig yangi turlarni yaratishga doir hujjatlarni davlat ekologik ekspertizasidan o’tkazish</span>
                                </div>
                            </a>
                        </div>
                        <div class="services-item">
                            <a href="#" class="services-card">
                                <div class="card-img-block">
                                    <img src="/static/eco_fo/img/save.svg" alt="">
                                </div>
                                <div class="card-subtitle"><span th:text="#{front.service_card_environment_text}">Atrof tabiiy muhitga va fuqarolarning sog’ligiga salbiy ta’sir ko’rsatuvchi ishlab turgan korxonalar va boshqa ob’yektlarni davlat ekologik ekspertizasidan o’tkazish</span>
                                </div>
                            </a>
                        </div>
                        <div class="services-item">
                            <a href="#" class="services-card">
                                <div class="card-img-block">
                                    <img src="/static/eco_fo/img/water-cycle.svg" alt="">
                                </div>
                                <div class="card-subtitle"><span th:text="#{front.service_card_regions_text}">Hududlarga keyinchalik muhofaza qilinadigan tabiiy hududlar, favqulodda ekologik vaziyat va ekologik ofat zonalari maqomini berish maqsadida ularni kompleks tekshirish materiallarini davlat ekologik ekspertizasidan o’tkazish</span>
                                </div>
                            </a>
                        </div>
                        <div class="services-item">
                            <a href="#" class="services-card">
                                <div class="card-img-block">
                                    <img src="/static/eco_fo/img/eco-house.svg" alt="">
                                </div>
                                <div class="card-subtitle"><span th:text="#{front.service_card_urban_planning_text}">Shaharsozlik hujjatlarini davlat ekologik ekspertizasidan o’tkazish</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="latest-articles-wrapper" id="news">
            <div class="container">
                <div class="latest-articles-title"><span th:text="#{front.latest_title}">“Yangiliklar”</span>
                </div>
                <div class="latest-articles-slider-wrapper" id="sliders">

                    </div>
                </div>
            </div>
        </div>
        <div class="statistic-wrapper" id="statistic">
            <div class="container">
                <div class="statistic-list">
                    <div class="statistic-item">
                        <div class="number"><span th:if="${total!=null}" th:text="${total}"></span>
                        </div>
                        <div class="title"><span th:text="#{front.all_statistic_title}">Umumiy arizalar soni</span>
                        </div>
                    </div>
                    <div class="statistic-item">
                        <div class="number"><span th:if="${done!=null}" th:text="${done}"></span>
                        </div>
                        <div class="title"><span th:text="#{front.in_closed_statistic_title}">Ko’rib chiqilgan arizalar soni</span>
                        </div>
                    </div>
                    <div class="statistic-item">
                        <div class="number"><span th:if="${total!=null and done!=null}" th:text="${total - done}"></span>
                        </div>
                        <div class="title"><span th:text="#{front.in_progress_statistic_title}">Jarayondagi arizalar soni</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact" id="contact">
            <div class="container">
                <div class="contact-wrapper">
                    <div class="contact-info">
                        <form action="" id="form_form">
                            <div class="contact-form">
                                <div class="title"><span th:text="#{front.contact-form-title}">Contact Us!</span>
                                </div>
                                <div class="form-input-wrapper">
                                    <div class="form-group user">
                                        <input type="text" id="front_full_name" name="full_name"  th:placeholder="#{front.user_name}">
                                    </div>
                                    <div class="form-group star">
                                        <input type="text" id="front_company_name" name="company_name" th:placeholder="#{front.company_name}">
                                    </div>
                                    <div class="form-group message">
                                        <input type="text" id="front_email" name="email" th:placeholder="#{front.user_mail}">
                                    </div>
                                    <div class="form-group phone">
                                        <input type="text" id="front_phone" name="phone" th:placeholder="#{front.user_phone}" >
                                    </div>
                                    <div class="form-group w-100">
                                        <textarea id="front_message" name="message" th:placeholder="#{front.user_message}"></textarea>
                                    </div>
                                    <button type="button" class="form-btn" id="suggest_button"><i class="mdi mdi-telegram mr-2"></i><span th:text="#{front.send-contact-btn}">send</span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="customers-items">
            <div class="customers-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="customers-item">
                            <a href="https://president.uz" class="item" target="_blank">
                                <div class="img-block">
                                    <img src="/static/eco_fo/img/eco.png" alt="">
                                </div>
                                <div class="text"><span th:text="#{front.presidentuz_title}">O'zbekiston Respublikasi qonun hujjatlari ma'lumotlari milliy bazasi</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customers-item">
                            <a href="https://www.gov.uz/" class="item" target="_blank">
                                <div class="img-block">
                                    <img src="/static/eco_fo/img/2.png" alt="">
                                </div>
                                <div class="text m-b-20"><span th:text="#{front.govuz_title}">Oʻzbekiston Respublikasi hukumat portali</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customers-item">
                            <a href="https://my.gov.uz/" class="item" target="_blank">
                                <div class="img-block">
                                    <img src="/static/eco_fo/img/4.png" alt="">
                                </div>
                                <div class="text m-b-20"><span th:text="#{front.my_govuz_title}">Yagona interaktiv davlat xizmatlari portali</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customers-item">
                            <a href="http://strategy.uz/" class="item" target="_blank">
                                <div class="img-block">
                                    <img src="/static/eco_fo/img/5.png" alt="">
                                </div>
                                <div class="text m-b-20"><span th:text="#{front.strategyuz_title}">Oʻzbekiston Respublikasini rivojlantirishning beshta ustuvor yoʻnalishi boʻyicha harakatlar strategiyasi</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customers-item">
                            <a href="https://regulation.gov.uz/" class="item" target="_blank">
                                <div class="img-block">
                                    <img src="/static/eco_fo/img/8.png" alt="">
                                </div>
                                <div class="text"><span th:text="#{front.regulation_govuz_title}">Normativ huquqiy hujjatlarining muhokamasi</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="customers-item">
                            <a href="http://lex.uz/ru/lexuz" class="item" target="_blank">
                                <div class="img-block">
                                    <img src="/static/eco_fo/img/1.png" alt="">
                                </div>
                                <div class="text"><span th:text="#{front.lexuz_title}">O'zbekiston Respublikasi qonun hujjatlari ma'lumotlari milliy bazasi</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-center">
                <div class="container">
                    <div class="footer-center-list">
                        <div class="footer-center-item">
                            <div class="img-block">
                                <img src="/static/eco_fo/img/logo.png" alt="">
                            </div>
                            <div class="site-title"><span th:text="#{front.footer_logo_title}">O'zbekiston Respublikasi ekologiya va atrof muhitni muhofaza qilish davlat qo'mitasi</span>
                            </div>
                            <div class="link-site"><a href="http://eco.gov.uz"><span th:text="#{front.footer_logo_info}">Veb saytga o'tish</span></a>
                            </div>
                        </div>
                        <div class="footer-center-item">
                            <div class="title"><span th:text="#{front.footer_menu_title}">MENU</span>
                            </div>
                            <ul class="footer-nav">
                                <li><a href="#"><span th:text="#{front.menu_home}">BOSH SAHIFA</span></a>
                                </li>
                                <li><a href="#"><span th:text="#{front.menu_services}">XIZMATLAR</span></a>
                                </li>
                                <li><a href="#"><span th:text="#{front.menu_news}">YANGILIKLAR</span></a>
                                </li>
                                <li><a href="#"><span th:text="#{front.menu_statistic}">STATISTIKA</span></a>
                                </li>
                                <li><a href="#"><span th:text="#{front.menu_connect}">BOG’LANISH</span></a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-center-item">
                            <div class="title"><span th:text="#{front.footer_address_title}">“Bog’lanish”</span>
                            </div>
                            <div class="address icon">
                                <div class="address-title"><span th:text="#{front.footer_address_subtitle}">Manzil:</span>
                                </div>
                                <div class="address-subtitle"><span th:text="#{front.footer_address}">100047, Toshkent shahar, Yashnоbod tumani, To'y-tepa ko'chasi 2A uy</span>
                                </div>
                            </div>
                            <div class="phone icon">
                                <div class="item"><span th:text="#{front.footer_phone}">(99871) 207-07-70 (ichki: 1001#),</span>
                                </div>
                                <div class="item"><span th:text="#{front.footer_phone}">(99871) 207-07-70 (ichki: 5015#)</span>
                                </div>
                            </div>
                            <div class="email icon">
                                <div class="item">info@uznature.uz</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-wrapper">
                        <a href="#" class="logo">
                            <img src="/static/eco_fo/img/bottom.png" alt="">
                            <div class="menu-nav"><span class="bold-style" th:text="#{front.logo_info}">O'zbekiston Respublikasi ekologiya va atrof muhitni muhofaza qilish davlat qo'mitasi</span>
                            </div>
                        </a>
                        <ul class="social-list">
                            <li>
                                <a target="_blank" href="https://t.me/ecoekspertiza">
                                    <img src="/static/eco_fo/img/telegram.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a target="_blank" href="https://www.facebook.com/ecoekspertiza/">
                                    <img src="/static/eco_fo/img/facebook-logo.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="scroll-to-top"></div>
    </div>
    <form action="/news" id="newsForm"  style="display: none">
        <input  name="image" id="image"/>
        <input name="title" id="title"/>
        <input name="create" id="create"/>
        <input name="content" id="content"/>
        <input type="submit" id="submitButton"/>
    </form>


<!--    <a href="#myModal" onclick="openModalFile()" class="col-md-3" style="padding-bottom: 25px;"></a>-->

    <!-- Modal -->
<!--    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalTitle" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 900px">-->
<!--            <div class="modal-content" style="height: 800px">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" th:text="#{eco.upload_files}" style="float: left">Modal title</h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" >-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    <iframe th:src="${'http://docs.google.com/gview?url=http://eco-service.uz/get_modal_file&amp;embedded=true'}" style="width: 100%;height: 100%;"></iframe>-->

<!--                </div>-->
<!--                <div class="modal-footer" style="text-align: center;">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal"><span th:text="#{modal_close}"></span></button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->


    <script src="/static/eco_fo/scripts/jquery-3.3.1.min.js"></script>
    <script src="/static/plugins/bootstrap/bootstrap.min.js"></script>

    <script th:inline="javascript">
        var apitext=JSON.parse([[${element}]]);
        var moreText = [[#{sys_more}]];

        function getId(id,lang) {
            var newsData=apitext['data'][id];
            $('#image').val(newsData.image);
            $('#create').val(newsData.created_at);
            if (lang==='uz'){
                $('#title').val(newsData.titleUZ);
                $('#content').val(newsData.contentUZ);
            }else{
                $('#title').val(newsData.titleRU);
                $('#content').val(newsData.contentRU);
            }
            $('#submitButton').click();
        }
    </script>
    <script>

        function openModalFile() {
            $('#myModal').modal('show');
        }

        $("#suggest_button").click(function(e){
            console.log("button clicked")
            var form = $('#form_form');
            $.ajax({
                url: [[${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).SuggestAppealLanding}]],
                data: form.serialize(),
                type: 'post',
                dataType: 'json',
                success: function(response) {
                    console.log(response);
                }
            });
        });

        $(document).ready(function () {
            /*image,created_at,titleUz,descriptionUz,contentUz,titleRU,descriptionRU,contentRu*/

            if (apitext!=null && apitext['status']) {
                var html = '';
                 html += ' <div class="latest-articles-slider" ><div class="swiper-wrapper">';
                $.each(apitext['data'], function (item, val) {
                    // console.log("item= " + item + " val=" + val);
                    if (val.titleUZ != '') {
                        html += '<div class="swiper-slide">' +
                            '       <div class="latest-articles-card">' +
                            '           <div class="header">' +
                            '                 <div class="header-date">' + val.created_at + '</div>' +
                            '           </div>' +
                            '           <div class="info">' +
                            '               <div class="title" style="overflow: hidden;height: 85px;"><span>' + val.titleUZ + '</span></div>' +
                            '               <div class="subtitle" style="height: 80px;overflow: hidden;">' +
                            '                   <span>' + val.descriptionUZ + '</span>\n' +
                            '               </div>\n' +
                            '           </div>' +
                            '           <button class="learn-more" onclick="getId('+item+',\'uz\')"><span>'+moreText+'</span></button>' +
                            '      </div>\n' +
                            ' </div>';
                    }
                    /*else{
                        html+='<div class="swiper-slide">' +
                            '       <div class="latest-articles-card">' +
                            '           <div class="header">' +
                            '                 <div class="header-date">'+val.created_at+'</div>' +
                            '           </div>' +
                            '           <div class="info">' +
                            '               <div class="title"><span>'+val.titleRU+'</span></div>' +
                            '               <div class="subtitle">' +
                            '                   <span>'+val.descriptionRU+'</span>\n' +
                            '               </div>\n' +
                            '           </div>' +
                            '           <button class="learn-more" onclick="getId('+item+',\'ru\')"><span th:text="#{sys_more}"> davomi...</span></button>' +
                            '      </div>\n' +
                            ' </div>';
                    }*/
                });
                html+='</div><div class="latest-articles-button-next"></div><div class="latest-articles-button-prev"></div></div>';
                $('#sliders').append(html);
            }
            openModalFile()
        });
    </script>
    <script src="/static/eco_fo/scripts/vendor.min.js"></script>
    <script src="/static/eco_fo/scripts/main.js"></script>
</body>
</html>