<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
</head>
<body>
<div class="auth-wrapper">
    <div class="auth-content subscribe">
        <div class="card">
            <div class="row no-gutters">
                <div class="col-md-4 col-lg-6 d-none d-md-flex d-lg-flex theme-bg align-items-center justify-content-center">
                    <img th:src="@{/static/images/lock.png}" alt="lock images" class="img-fluid" />
                </div>
                <div class="col-md-8 col-lg-6">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active text-uppercase" id="oneid-tab" data-toggle="tab" href="#oneid" role="tab" aria-controls="oneid" aria-selected="false"><span th:text="#{id.gov.uz}"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" id="eds-tab" data-toggle="tab" href="#edsid" role="tab" aria-controls="oneid" aria-selected="false"><span th:text="#{eds}"></span></a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="oneid" role="tabpanel" aria-labelledby="oneid-tab">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <div class="mb-5"></div>
                                    <h5 class="mb-5" th:text="#{sign_in.one.id.title}"></h5>
                                    <a href="/sys/igu/login" class="btn btn-primary shadow-2 mb-5 text-white" th:text="#{sign_in.one.id}">One.id</a>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="edsid" role="tabpanel" aria-labelledby="eds-tab">
                            <div class="col-sm-12">
                                <div class="form-group text-center">
                                    <div class="mb-5"></div>
                                    <h5 class="mb-5" th:text="#{sign_in.eds.title}" style="margin-bottom: 1rem!important;"></h5>

                                    <div id="login" class="animate form">
                                        <section class="login_content">
                                            <form action="/sys/eds_login" name="testform" method="post">
                                                <!--<h2 th:text="#{sys_systemName}"></h2>-->
                                                <!--<h4>Войти</h4>-->


                                                <label id="message"></label>
                                                Выберите ключ <br/>
                                                <select class="form-control" name="key"></select><br/>
                                                <!--<div>
                                                    <input type="password" class="form-control" placeholder="Password" required="" name="password"/>
                                                </div>-->

                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                                <input type="hidden" name="data" value="test" />
                                                <input type="hidden" name="pkcs7" value="" />
                                                <!--<br/>-->
                                                <div class="clearfix"></div>
                                                <div class="separator">

                                                    <a class="btn btn-primary shadow-2 mb-5 text-white submit" onclick="sign();">Войти</a>

                                                    <div class="clearfix"></div>
                                                    <!--<br/>-->

                                                    <!--<div>-->
                                                        <!--<p>©2018 All Rights Reserved.</p>-->
                                                    <!--</div>-->
                                                </div>
                                            </form>
                                            <!-- form -->
                                        </section>
                                        <!-- content -->

                                        <br/>

                                        <script src="/static/gnk/e-imzo.js" type="text/javascript"></script>
                                        <script src="/static/gnk/e-imzo-client.js" type="text/javascript"></script>

                                        <script th:inline="javascript">
                                            //<![CDATA[
                                            var EIMZO_MAJOR = 3;
                                            var EIMZO_MINOR = 37;


                                            var errorCAPIWS = 'Ошибка соединения с E-IMZO. Возможно у вас не установлен модуль E-IMZO или Браузер E-IMZO.';
                                            var errorBrowserWS = 'Браузер не поддерживает технологию WebSocket. Установите последнюю версию браузера.';
                                            var errorUpdateApp = 'ВНИМАНИЕ !!! Установите новую версию приложения E-IMZO или Браузера E-IMZO.<br /><a href="https://e-imzo.uz/main/downloads/" role="button">Скачать ПО E-IMZO</a>';
                                            var errorWrongPassword = 'Пароль неверный.';


                                            var AppLoad = function () {
                                                EIMZOClient.API_KEYS = [
                                                    'localhost', '96D0C1491615C82B9A54D9989779DF825B690748224C2B04F500F370D51827CE2644D8D4A82C18184D73AB8530BB8ED537269603F61DB0D03D2104ABF789970B',
                                                    '127.0.0.1', 'A7BCFA5D490B351BE0754130DF03A068F855DB4333D43921125B9CF2670EF6A40370C646B90401955E1F7BC9CDBF59CE0B2C5467D820BE189C845D0B79CFC96F',
                                                    'null', 'E0A205EC4E7B78BBB56AFF83A733A1BB9FD39D562E67978CC5E7D73B0951DB1954595A20672A63332535E13CC6EC1E1FC8857BB09E0855D7E76E411B6FA16E9D',
                                                    [[${api_key_domain}]], [[${api_key}]]
                                                ];
                                                uiLoading();
                                                EIMZOClient.checkVersion(function(major, minor){
                                                    var newVersion = EIMZO_MAJOR * 100 + EIMZO_MINOR;
                                                    var installedVersion = parseInt(major) * 100 + parseInt(minor);
                                                    if(installedVersion < newVersion) {
                                                        uiUpdateApp();
                                                    } else {
                                                        EIMZOClient.installApiKeys(function(){
                                                            uiLoadKeys();
                                                        },function(e, r){
                                                            if(r){
                                                                uiShowMessage(r);
                                                            } else {
                                                                wsError(e);
                                                            }
                                                        });
                                                    }
                                                }, function(e, r){
                                                    if(r){
                                                        uiShowMessage(r);
                                                    } else {
                                                        uiNotLoaded(e);
                                                    }
                                                });
                                            };


                                            var uiShowMessage = function(message){
                                                alert(message);
                                            };

                                            var uiLoading = function(){
                                                var l = document.getElementById('message');
                                                l.innerHTML = 'Загрузка ...';
                                                l.style.color = 'red';
                                            };

                                            var uiNotLoaded = function(e){
                                                var l = document.getElementById('message');
                                                l.innerHTML = '';
                                                if (e) {
                                                    wsError(e);
                                                } else {
                                                    uiShowMessage(errorBrowserWS);
                                                }
                                            };

                                            var uiUpdateApp = function(){
                                                var l = document.getElementById('message');
                                                l.innerHTML = errorUpdateApp;
                                            };

                                            var uiLoadKeys = function(){
                                                uiClearCombo();
                                                EIMZOClient.listAllUserKeys(function(o, i){
                                                    var itemId = "itm-" + o.serialNumber + "-" + i;
                                                    return itemId;
                                                },function(itemId, v){
                                                    return uiCreateItem(itemId, v);
                                                },function(items, firstId){
                                                    uiFillCombo(items);
                                                    uiLoaded();
                                                    uiComboSelect(firstId);
                                                },function(e, r){
                                                    uiShowMessage(errorCAPIWS);
                                                });
                                            };

                                            var uiComboSelect = function(itm){
                                                if(itm){
                                                    var id = document.getElementById(itm);
                                                    id.setAttribute('selected','true');
                                                }
                                            };

                                            var uiClearCombo = function(){
                                                var combo = document.testform.key;
                                                combo.length = 0;
                                            };

                                            var uiFillCombo = function(items){
                                                var combo = document.testform.key;
                                                for (var itm in items) {
                                                    combo.append(items[itm]);
                                                }
                                            };

                                            var uiLoaded = function(){
                                                var l = document.getElementById('message');
                                                l.innerHTML = '';
                                            };

                                            var uiCreateItem = function (itmkey, vo) {
                                                var now = new Date();
                                                vo.expired = dates.compare(now, vo.validTo) > 0;
                                                var itm = document.createElement("option");
                                                itm.value = itmkey;
                                                itm.text = vo.CN;
                                                if (!vo.expired) {

                                                } else {
                                                    itm.style.color = 'gray';
                                                    itm.text = itm.text + ' (срок истек)';
                                                }
                                                itm.setAttribute('vo',JSON.stringify(vo));
                                                itm.setAttribute('id',itmkey);
                                                return itm;
                                            };

                                            var wsError = function (e) {
                                                if (e) {
                                                    uiShowMessage(errorCAPIWS + " : " + e);
                                                } else {
                                                    uiShowMessage(errorBrowserWS);
                                                }
                                            };

                                            sign = function () {
                                                var itm = document.testform.key.value;
                                                if (itm) {
                                                    var id = document.getElementById(itm);
                                                    var vo = JSON.parse(id.getAttribute('vo'));
                                                    var data = document.testform.data.value;
                                                    EIMZOClient.loadKey(vo, function(id){
                                                        EIMZOClient.createPkcs7(id, data, null, function(pkcs7){
                                                            document.testform.pkcs7.value = pkcs7;
                                                            document.testform.submit();
                                                        }, function(e, r){
                                                            wsError(e);
                                                        });
                                                    }, function(e, r){
                                                        if(r){
                                                            if (r.indexOf("BadPaddingException") != -1) {
                                                                uiShowMessage(errorWrongPassword);
                                                            } else {
                                                                uiShowMessage(r);
                                                            }
                                                        } else {
                                                            uiShowMessage(errorBrowserWS);
                                                        }
                                                    });
                                                }
                                            };

                                            window.onload = AppLoad;
                                            //]]>
                                        </script>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
</body>
</html>