<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="expertise">
        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_reg_application.objectExpertise}"></label>
            </div>
            <div class="col-md-6">
                <input class="form-control only-number" readonly="readonly" th:value="${@helperService.getObjectExpertise(regApplication.objectId,#locale)}">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_reg_application.activity}"></label>
            </div>
            <div class="col-md-6">
                <input class="form-control only-number" readonly="readonly" th:value="${@helperService.getActivity(regApplication.activityId,#locale)}">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_reg_application.material}">Фирменное наименование предприятия</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" th:value="${@helperService.getMaterial(regApplication.materialId,#locale)}" readonly="readonly">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_reg_application.name}">Директор</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" readonly="readonly" th:value="${regApplication.name}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_reg_application.offer}">Директор</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" readonly="readonly" th:value="${regApplication.name}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_reg_application.documents}">Директор</label>
            </div>
            <div class="col-md-6">
                <div class="col-md-3" th:each="file : ${regApplication.documentFiles}" th:id="${'file-block-' + file.id}">
                    <div class="file">
                        <a th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).DownloadDocumentFiles + '?file_id=' + file.id}">
                            <i class="feather icon-file file-icon"></i>
                            <span th:text="${file.name}">File.pdf</span>
                            <span th:text="${file.size}">size</span>
                        </a>
                        <!--<button type="button" class="file-delete-btn" th:onclick="'deleteFile(' + ${file.id} + ')'">-->
                            <!--<i class="feather icon-x"></i>-->
                        <!--</button>-->
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12 text-center" id="tab-control-buttons">
                <a class="btn btn-danger" onclick="tabActive(3)" href="#payment" th:text="#{sys_back}">Отмена</a>
                <a class="btn btn-primary" onclick="tabActive(5)" href="#forward" th:text="#{sys_next}">Далее</a>
            </div>
        </div>

</body>
</html>