<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="forward">

    <form id="form" method="post" action="/expertise/forwarding/action" th:if="${regApplication.forwardingLogId!=null && regApplicationLog.status==T(uz.maroqand.ecology.core.constant.expertise.LogStatus).Initial}">
        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_reg_application.performer}"></label>
            </div>
            <div class="col-md-6">
                <select class="form-control" id="performerId" name="performerId">
                    <optgroup th:each="department : ${departmentList}" th:label="${department.getNameTranslation(#locale)}">
                        <option th:each="user : ${userList}" th:if="${department.id == user.departmentId}" th:value="${user.id}" th:text="${user.getFullName()}"></option>
                    </optgroup>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_reg_application.performer_text}" th:selected="${regApplication}"></label>
            </div>
            <div class="col-md-6">
                <textarea class="form-control" name="comment" rows="4" th:value="${performerLog!=null? performerLog.comment:''}"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_reg_application.addAgreement}"></label>
            </div>
            <div class="col-md-6">
                <select class="form-control" id="agreements" name="agreements">
                    <optgroup th:each="department : ${departmentList}" th:label="${department.getNameTranslation(#locale)}">
                        <option th:each="user : ${userList}" th:if="${department.id == user.departmentId}" th:value="${user.id}" th:text="${user.getFullName()}"></option>
                    </optgroup>
                </select>
            </div>
        </div>
        <h4 class="text-center" th:text="#{sys_reg_application.agreements}"></h4>
        <div class="col-md-10 offset-1">
            <h5 class="mt-lg-5" th:text="#{reg_application.approvalStatuses}"></h5>
            <table style="width: 100%">
                <tr style="border-bottom: 1px solid #f4f4f4" th:each="agreementLog : ${agreementLogList}">
                    <td style="width: 15%; padding-bottom: 5px; padding-top: 20px" >
                        <span class="hei-50 wid-50 d-inline-block rounded-circle font-weight-bold text-center f-18" style="color: white; padding-top: 15%; background-color: #bdc0c3" >AS</span>
                    </td>
                    <td style="width: 60%;">
                        <h6 class="mb-0" th:text="${@helperService.getUserFullNameById(agreementLog.updateById)}">Акбар Сапаев</h6>
                        <small th:text="#{sys_logType.agreement}">Директор</small>
                    </td>
                    <td>
                        <span th:if="${agreementLog.status.getId()==0}" class="badge badge-pill badge-secondary" th:text="#{${agreementLog.status.getAgreementName()}}"></span>
                        <span th:if="${agreementLog.status.getId()==1}" class="badge badge-pill badge-warning" th:text="#{${agreementLog.status.getAgreementName()}}"></span>
                        <span th:if="${agreementLog.status.getId()==2}" class="badge badge-pill badge-success" th:text="#{${agreementLog.status.getAgreementName()}}"></span>
                        <span th:if="${agreementLog.status.getId()==3}" class="badge badge-pill badge-danger" th:text="#{${agreementLog.status.getAgreementName()}}"></span>
                    </td>
                </tr>
            </table>
        </div>

        <h4 class="text-center" th:text="#{sys_regApplicationLog.documentFiles}"></h4>
        <div class="col-md-6 offset-md-3 row" style="padding: 40px 0 40px 0;" id="files-div-documentFiles">
            <a href="#upload-file-modal" onclick="openModalFile()" class="col-md-3" style="padding-bottom: 25px;">
                <div class="add-file">
                    <img src="/static/images/uploading.gif" alt="" id="upload-gif" style="display: none;">
                    <span id="percentage"><span id="percentage-num"></span>%</span>
                    <i class="feather icon-plus" id="plus-icon"></i>
                </div>
            </a>
            <div class="col-md-3" th:each="file : ${regApplicationLog.documentFiles}" th:id="${'file-block-' + file.id}">
                <div class="file">
                    <a th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).FileDownload + '?file_id=' + file.id}">
                        <i th:if="${file.extension=='doc' || file.extension=='docx'}" class="mdi mdi-file-word file-icon"></i>
                        <i th:if="${file.extension=='xls' || file.extension=='xlsx'}" class="mdi mdi-file-excel file-icon"></i>
                        <i th:if="${file.extension=='pdf'}" class="mdi mdi-file-pdf file-icon"></i>
                        <i th:if="${file.extension=='png' || file.extension=='jpg' || file.extension=='jpeg'}" class="mdi mdi-image file-icon"></i>
                        <i th:if="${file.extension!='doc' && file.extension!='docx' && file.extension!='xls' && file.extension!='xlsx' && file.extension!='pdf' && file.extension!='png' && file.extension!='jpg' && file.extension!='jpeg'}" class="mdi mdi-file file-icon"></i>
                        <span th:text="${file.description}"></span>
                        <p th:text="${file.name}"></p>
                    </a>
                    <button type="button" class="file-delete-btn" th:onclick="'deleteFile(' + ${file.id} + ')'">
                        <i class="feather icon-x"></i>
                    </button>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" th:value="${regApplication.id}">
        <input type="hidden" name="logId" th:value="${regApplicationLog.id}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="form-group row">
            <div class="col-md-12 text-center" id="tab-control-buttons">
                <a class="btn btn-danger btnPrevious text-white" th:text="#{sys_back}">Отмена</a>
                <input class="btn btn-primary text-white" type="submit" th:value="#{sys_send}">
            </div>
        </div>
    </form>


    <form th:if="${regApplication.forwardingLogId!=null && regApplicationLog.status!=T(uz.maroqand.ecology.core.constant.expertise.LogStatus).Initial}">
        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_reg_application.performer}"></label>
            </div>
            <div class="col-md-6">
                <input class="form-control" readonly="readonly" th:value="${@helperService.getUserFullNameById(regApplication.performerId)}">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_reg_application.performer_text}"></label>
            </div>
            <div class="col-md-6">
                <textarea class="form-control" readonly="readonly" rows="8" th:text="${regApplicationLog.comment}"></textarea>
            </div>
        </div>
        <h4 class="text-center" th:text="#{sys_regApplicationLog.documentFiles}"></h4>
        <div class="col-md-6 offset-md-3 row" style="padding: 40px 0 40px 0;">
            <div class="col-md-3" th:each="file : ${regApplicationLog.documentFiles}" th:id="${'file-block-' + file.id}">
                <div class="file">
                    <a th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).ExpertiseFileDownload + '?file_id=' + file.id}">
                        <i th:if="${file.extension=='doc' || file.extension=='docx'}" class="mdi mdi-file-word file-icon"></i>
                        <i th:if="${file.extension=='xls' || file.extension=='xlsx'}" class="mdi mdi-file-excel file-icon"></i>
                        <i th:if="${file.extension=='pdf'}" class="mdi mdi-file-pdf file-icon"></i>
                        <i th:if="${file.extension=='png' || file.extension=='jpg' || file.extension=='jpeg'}" class="mdi mdi-image file-icon"></i>
                        <i th:if="${file.extension!='doc' && file.extension!='docx' && file.extension!='xls' && file.extension!='xlsx' && file.extension!='pdf' && file.extension!='png' && file.extension!='jpg' && file.extension!='jpeg'}" class="mdi mdi-file file-icon"></i>
                        <span th:text="${file.description}"></span>
                        <p th:text="${file.name}"></p>
                    </a>
                </div>
            </div>
        </div>
        <input type="hidden" name="id" th:value="${regApplication.id}">
        <input type="hidden" name="logId" th:value="${regApplicationLog.id}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <div class="form-group row">
            <div class="col-md-12 text-center" >
                <a class="btn btn-danger btnPrevious text-white" th:text="#{sys_back}">Отмена</a>
                <!--<a href="#upload-file-modal" onclick="openModalFile()" class="btn btn-primary text-white" th:text="#{sys_edit_forwarding}"></a>-->
            </div>
        </div>
    </form>


    <!-- Modal -->
    <div class="modal fade" id="upload-file-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" th:text="#{sys_about.upload_files}" style="float: left">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="file-name">
                            <span th:text="#{sys_file_name}"></span>
                            <span class="required">*</span>
                        </label>
                        <input class="form-control" type="text" id="file-name" required="" />
                    </div>
                    <div class="input-group">
                          <span class="input-group-btn">
                            <span class="btn btn-primary" style="border-bottom-right-radius: 0px;border-top-right-radius: 0px" onclick="$(this).parent().find('input[type=file]').click();">
                               <i class="mdi mdi-file-download-outline"></i> <span th:text="#{file_select}"></span>
                            </span>
                            <input name="uploaded_file" id="file-input" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file">
                          </span>
                        <span class="form-control" onclick="$(this).parent().find('input[type=file]').click();" id="fileDescription" style="border-bottom-left-radius: 0px;border-top-left-radius: 0px" placeholder="sdfsdfsdfsdf">

                        </span>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: center;">
                    <button class="btn btn-info" type="button" th:text="#{sys_upload}" onclick="uploadFile()"></button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>