<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="forward">
<form id="form" method="post" action="">
    <div class="form-group row">
        <div class="col-md-3 text-right">
            <label class="col-form-label" th:text="#{sys_reg_application.template}">СТИР</label>
        </div>
        <div class="col-md-6">
            <input class="form-control" id="performerId" name="performerId"/>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-3 text-right">
            <label class="col-form-label" th:text="#{sys_reg_application.comments}">СТИР</label>
        </div>
        <div class="col-md-6">
            <textarea class="form-control" rows="8" id="comments" name="comments"></textarea>
        </div>
    </div>

<div class="form-group row">
    <div class="col-md-12 text-center" id="tab-control-buttons">
        <a class="btn btn-danger" onclick="tabActive(4)" data-toggle="tab" href="#home" role="tab" aria-controls="home" th:text="#{sys_back}">Отмена</a>
        <a class="btn btn-primary" onclick="tabActive(3)" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" th:text="#{sys_next}">Далее</a>
    </div>
</div>
</form>
</body>
</html>