<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="payment">
    <div class="row">
        <div class="col-md-6 text-center">
            <h4 th:text="#{sys_invoice_number}"></h4>
        </div>
        <div class="col-md-6 text-center">
            <h4>123123123123123</h4>
        </div>
        <div class="col-md-6 text-center">
            <h4 th:text="#{sys_payer_name}"></h4>
        </div>
        <div class="col-md-6 text-center">
            <h4>Applicant Name</h4>
        </div>
        <div class="col-md-6 text-center">
            <h4 th:text="#{sys_invoice_createdAt}"></h4>
        </div>
        <div class="col-md-6 text-center">
            <h4>OPF Name</h4>
        </div>
        <div class="col-md-6 text-center">
            <h4 th:text="#{sys_payment_amount}"></h4>
        </div>
        <div class="col-md-6 text-center">
            <h4>payed</h4>
        </div>
        <div class="col-md-12 text-center" id="tab-control-buttons">
            <a class="btn btn-danger" onclick="tabActive(2)" href="#contract" th:text="#{sys_back}">Отмена</a>
            <a class="btn btn-primary" onclick="tabActive(4)" href="#expertise" th:text="#{sys_next}">Далее</a>
        </div>
    </div>
</body>
</html>