<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="sender">
        <div class="row">

            <div class="col-md-6 pr-0" th:if="${regApplicationLog.status==T(uz.maroqand.ecology.core.constant.expertise.LogStatus).Initial}">
                <form id="form" method="post" action="/expertise/agreement_complete/list" >
                    <div class="form-group col-md-10 offset-1">
                        <label th:text="#{sys_performer.conclusionResult}">Результат заключения</label>
                        <select class="form-control" name="performerStatus">
                            <option value="2" th:text="#{sys_performerStatus.approved}" ></option>
                            <option value="3" th:text="#{sys_performerStatus.denied}" ></option>
                        </select>
                    </div>
                    <div class="form-group col-md-10 offset-1">
                        <label th:text="#{sys_reg_application.comments}"></label>
                        <textarea class="p-2" style="width: 100%; resize: none; border-radius: 10px" rows="4" name="comment" th:placeholder="#{sys_comment.messagePlaceholder}"></textarea>
                    </div>

                    <div class="col-md-10 offset-1">
                        <div class="card-block task-attachment" >
                            <p style="font-weight: bold; color: black;margin-left: 10px;" th:text="#{sys_performer.conclusionFiles}">Добавить сканированная копия заключения</p>
                            <div class="col-md-12 row" id="files-div">
                                <a href="#upload-file-modal" class="col-md-3 pb-3 p-0" onclick="openModalFile()">
                                    <div class="add-file">
                                        <img src="/static/images/uploading.gif" alt="" id="upload-gif" style="display: none;">
                                        <span id="percentage"><span id="percentage-num"></span>%</span>
                                        <i class="feather icon-plus" id="plus-icon"></i>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="id" th:value="${regApplication.id}">
                    <input type="hidden" name="logId" th:value="${regApplicationLog.id}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="col-md-10 offset-1">
                        <button class="btn btn-primary pl-lg-3 pr-lg-3 mr-0" >
                            <i class="mdi mdi-telegram"></i>
                            <span th:text="#{sys_send}"></span>
                        </button>
                    </div>
                </form>
            </div>

            <div class="col-md-6 pr-0" th:if="${regApplicationLog.status!=T(uz.maroqand.ecology.core.constant.expertise.LogStatus).Initial}">
                <div class="form-group col-md-10 offset-1">
                    <label th:text="#{sys_performer.conclusionResult}">Результат заключения</label>
                    <input class="form-control" readonly="readonly" th:value="#{sys_performerStatus.approved}" th:if="${regApplicationLog.status==T(uz.maroqand.ecology.core.constant.expertise.LogStatus).Approved}" />
                    <input class="form-control" readonly="readonly" th:value="#{sys_performerStatus.denied}" th:if="${regApplicationLog.status==T(uz.maroqand.ecology.core.constant.expertise.LogStatus).Denied}" />
                    <input class="form-control" readonly="readonly" th:value="#{sys_performerStatus.modification}" th:if="${regApplicationLog.status==T(uz.maroqand.ecology.core.constant.expertise.LogStatus).Modification}" />
                </div>
                <div class="col-md-10 offset-1">
                    <div class="card-block task-attachment" >
                        <p style="font-weight: bold; color: black;margin-left: 10px;" th:text="#{sys_performer.conclusionFiles}">Добавить сканированная копия заключения</p>
                        <ul class="media-list p-0">
                            <li class="media d-flex m-b-15" th:each="documentFile :${regApplicationLog.documentFiles}">
                                <div class="m-r-20 file-attach">
                                    <i class="mdi mdi-file-pdf f-28 text-muted"></i>
                                </div>
                                <div class="media-body">
                                    <a href="#" class="m-b-5 d-block text-secondary">
                                        <span th:text="${documentFile.name}">Письмо КМК-234 от 23.01.2019 г.pdf</span>
                                    </a>
                                    <!--<div class="text-muted">
                                        <span >Size: 1.2Mb</span>
                                    </div>-->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <!--<div style="border-bottom: 1px solid #f4f4f4"></div>-->
            <!--<div class="col-md-10 offset-1">
                <h5 class="mt-lg-5">Статус согласование </h5>
                <table style="width: 100%">
                    <tr style="border-bottom: 1px solid #f4f4f4">
                        <td style="width: 15%; padding-bottom: 5px;padding-top: 10px" >
                            <span class="hei-50 wid-50 d-inline-block rounded-circle font-weight-bold text-center f-18" style="color: white; padding-top: 15%; background-color: #bdc0c3" >AI</span>
                        </td>
                        <td style="width: 60%;">
                            <h6 class="mb-0">Холмуратов Жахонгир</h6>
                            <small>Исполнитель</small>
                        </td>
                        <td>
                            <span class="badge badge-pill badge-success">Согласовано</span>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #f4f4f4">
                        <td style="width: 15%; padding-bottom: 5px; padding-top: 20px" >
                            <span class="hei-50 wid-50 d-inline-block rounded-circle font-weight-bold text-center f-18" style="color: white; padding-top: 15%; background-color: #bdc0c3" >AS</span>
                        </td>
                        <td style="width: 60%;">
                            <h6 class="mb-0">Акбар Сапаев</h6>
                            <small>Директор</small>
                        </td>
                        <td>
                            <span class="badge badge-pill badge-danger">Возвращено</span>
                        </td>
                    </tr>
                    <tr style="border-bottom: 1px solid #f4f4f4">
                        <td style="width: 15%; padding-bottom: 5px; padding-top: 20px" >
                            <span class="hei-50 wid-50 d-inline-block rounded-circle font-weight-bold text-center f-18" style="color: white; padding-top: 15%; background-color: #bdc0c3" >UB</span>
                        </td>
                        <td style="width: 60%;">
                            <h6 class="mb-0">Уткирбек Болтаев</h6>
                            <small>Председатель</small>
                        </td>
                        <td>
                            <span class="badge badge-pill badge-warning">Не завершено</span>
                        </td>
                    </tr>
                </table>
            </div>-->

        </div>



</body>
</html>