<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <link rel="stylesheet" th:href="@{/static/datatables/css/datatables.min.css}">
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <style>
        table.dataTable.nowrap th, table.dataTable.nowrap td {
            white-space: pre-line;
        }
        .table td, .table th{
            white-space: pre-line;
        }
        .datepicker>.datepicker-days {
            display: block;
        }
        .btn-active{
            color: #fff;
            background-color: #748892;
            border-color: #748892;
        }
    </style>
</head>
<body class="layout-6">
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

<object th:include="fragments/header :: head" th:remove="tag" ></object>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ sample-page ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 th:text="#{sys_menu.payment_file_all}"></h5>
                                    </div>
                                    <div class="card-body">
                                        <form id="regIndividual" method="post" class="row">
                                            <div class="form-group col-sm-2">
                                                <label class="control-label"  th:text="#{sys_date_from}"></label><br/>
                                                <input type="text" class="form-control datepicker" id="dateBegin" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label class="control-label"  th:text="#{sys_date_to}"></label><br/>
                                                <input type="text" class="form-control datepicker" id="dateEnd" />
                                            </div>
                                            <div class="form-group col-sm-2">
                                                <label class="control-label" th:text="#{sys_payment_id}"></label>
                                                <input type="text" class="form-control" id="paymentId">
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label" th:text="#{invoice_number}"></label>
                                                <input type="text" class="form-control" id="invoice">
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label" th:text="#{sys_mfo}"></label>
                                                <input type="text" class="form-control" id="bankMfo">
                                            </div>

                                            <div class="form-group col-sm-3">
                                                <label class="control-label" th:text="#{invoice_payer.tin}"></label>
                                                <input type="text" class="form-control" id="payerTin">
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label" th:text="#{sys_payerName}"></label>
                                                <input type="text" class="form-control" id="payerName">
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label" th:text="#{sys_payment_detail}"></label>
                                                <input type="text" class="form-control" id="detail">
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label" th:text="#{mntr_user.organization}">:</label><br/>
                                                <select id="organizationId" class="form-control">
                                                    <option value="" th:text="#{sys_select}"></option>
                                                    <option th:each="organization : ${organizationList}" th:value="${organization.id}" th:text="${organization.getNameTranslation(#locale)}"></option>
                                                </select>
                                            </div>


                                            <div class="form-group col-sm-3">
                                                <label for="isComplete" class="control-label" th:text="#{sys_payment_file.isComplete}"></label>
                                                <select id="isComplete" class="form-control">
                                                    <option value="" th:text="#{sys_all}"></option>
                                                    <option value="0" th:text="#{sys_payment_file.isCompleteFalse}"></option>
                                                    <option value="1" th:text="#{sys_payment_file.isCompleteTrue}"></option>
                                                </select>
                                            </div>

                                            <div class="clearfix"></div>

                                            <div class="col-sm-9 text-right">
                                                <label class="control-label">&nbsp;</label><br/>
                                                <a href="#" onclick="getDatatableConnect();return false;" class="btn btn-info"><i class="feather icon-search"></i>
                                                    <span th:text="#{sys_search}">Поиск</span>
                                                </a>
                                            </div>
                                        </form>
                                        <div class="table-responsive">
                                            <table id="data-table" class="display table nowrap table-striped table-hover" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th >#ID</th>
                                                    <th th:text="#{invoice}"></th>
                                                    <th th:text="#{sys_payerName}"></th>
                                                    <th th:text="#{invoice_payer.tin}"></th>
                                                    <th th:text="#{sys_payment_date}"></th>
                                                    <th th:text="#{sys_invoice.amount}"></th>
                                                    <th th:text="#{sys_receiver_acc}"></th>
                                                    <th th:text="#{sys_receiver_name}"></th>
                                                    <th th:text="#{sys_receiver_inn}"></th>
                                                    <th th:text="#{sys_receiver_mfo}"></th>
                                                    <th th:text="#{sys_payment_detail}"></th>
                                                    <th ></th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
<script th:src="@{/static/datatables/datatables.min.js}"></script>
<script type="text/javascript" src="/static/parsley/parsley.min.js"></script>
<script type="text/javascript" src="/static/plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/js/form.js?v=28122016"></script>
<script th:src="@{'/static/parsley/i18n/' + __${#locale}__ + '.js'}" ></script>


<script th:inline="javascript">
    var ajaxLink = [[${T(uz.maroqand.ecology.cabinet.constant.billing.BillingUrls).PaymentFileAllListAjax}]];
    var viewLink = [[${T(uz.maroqand.ecology.cabinet.constant.billing.BillingUrls).PaymentFileAllView}]];
    var editLink = [[${T(uz.maroqand.ecology.cabinet.constant.billing.BillingUrls).PaymentFileAllEdit}]];
    var connectInvoiceLink = [[${T(uz.maroqand.ecology.cabinet.constant.billing.BillingUrls).PaymentFileAllConnectInvoice}]];
    function getCurrentLanguage() {
        return [[__${#locale}__]];
    }
    var deleteInvoiceLink = [[${T(uz.maroqand.ecology.cabinet.constant.billing.BillingUrls).PaymentFileAllDelete}]];

    let isAdmin = [[${isAdmin}]];
</script>
<script th:inline="none">
    /*<![CDATA[*/
    var dataDatatableSelector;
    var thead;

    function renderActionsColumn(data, type, row, meta) {
        var html ='';
        html+='<a class="btn btn-info btn-sm mr-1" href="'+viewLink+'/'+row[0]+'"><i class="feather icon-eye" style="margin-right: 0px;"></i></a>';
        if (row[6]){
            html+='<a class="btn btn-warning btn-sm mr-1" href="'+editLink+'?id='+row[0]+'"><i class="feather icon-edit" style="margin-right: 0px;"></i></a>';
        }
        console.log(isAdmin);
        console.log(row[1]);
        if (isAdmin==true && row[1]==""){
            html+='<a class="btn btn-info btn-sm mr-1" href="'+connectInvoiceLink+'?id='+row[0]+'"><i class="feather icon-settings" style="margin-right: 0px;"></i></a>';
        }
        if (row[12]!=null&&isAdmin==true){
            html+='<a class="btn btn-danger btn-sm mr-1" href="'+deleteInvoiceLink+'/'+row[0]+'"><i class="feather icon-trash" style="margin-right: 0px;"></i></a>';
        }
        return html;
    }

    function datatableConnect() {
        dataDatatableSelector.DataTable({
            processing: true,
            serverSide: true,
            scrollX: true,
            pageLength: 25,
            lengthMenu: [ [25, 500, 1000], [25, 500, 1000] ],
            order: [[0, 'desc']],
            dom: 'Blrtip',
            buttons: [
                 'excel'
            ],
            ajax : function (dataToSend, callback, settings) {
                var api = this.api();
                var jqTable = $(api.table().node());

                dataToSend.page = api != undefined ? api.page() : 0;
                dataToSend.size = api != undefined ? api.page.len() : 25;


                dataToSend.dateBegin = $("#dateBegin").val();
                dataToSend.dateEnd = $("#dateEnd").val();
                dataToSend.invoice = $("#invoice").val();
                dataToSend.paymentId = $("#paymentId").val();

                dataToSend.payerTin = $("#payerTin").val();
                dataToSend.payerName = $("#payerName").val();
                dataToSend.detail = $("#detail").val();
                dataToSend.bankMfo = $("#bankMfo").val();
                dataToSend.organizationId= $('#organizationId').val();
                dataToSend.isComplete = $("#isComplete").val();

                dataToSend._csrf = $("#global_csrf").val();

                var order = api != undefined ? api.order() : [[1, 'desc']];
                dataToSend.sort = dataToSend.columns[ order[0][0] ].name + ',' + order[0][1];

                $.post(ajaxLink, dataToSend, function(data){
                    callback(data);
                });
            },
            columns: [
                {data: 0, name: 'id'},
                {data: 1, name: 'invoice'},
                {data: 2, name: 'payerName'},
                {data: 7, name: 'payerTin'},
                {data: 3, name: 'paymentDate'},
                {data: 4, name: 'amount'},
                {data: 8, name: 'receiverAccount'},
                {data: 9, name: 'receiverName'},
                {data: 10, name: 'receiverInn'},
                {data: 11, name: 'receiverMfo'},
                {data: 5, name: 'details'},
                {render: renderActionsColumn, orderable:false}
            ],
            language: {
                'url': '/static/datatables/lang_' + getCurrentLanguage() + '.json'
            }
        });
    }

    function getDatatableConnect() {
        dataDatatableSelector.DataTable().destroy();
        dataDatatableSelector.html(thead);
        datatableConnect();
    }

    $(document).ready(function () {
        bindSubRegionSelectToRegionSelect('#subRegionId', '#regionId');
        dataDatatableSelector = $('#data-table');
        thead = dataDatatableSelector.html();
        datatableConnect();

        $('.datepicker').datepicker({
            format: "dd.mm.yyyy",
            todayHighlight: true,
            autoclose: true
        });


    });

    $('#data-table').css("width", "100%");

    /*]]>*/
</script>
</body>
</html>