<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <!-- smart-wizard css -->
    <link rel="stylesheet" href="/static/plugins/smart-wizard/css/smart_wizard.min.css">
    <link rel="stylesheet" href="/static/plugins/smart-wizard/css/smart_wizard_theme_dots.min.css">
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" th:href="@{/static/modal-window-effects/css/md-modal.css}">
    <link rel="stylesheet" href="/static/plugins/ol/ol.css">
    <link rel="stylesheet" href="/static/css/select2.min.css">

    <style>
        .table thead th{
            white-space: normal;
        }
        .datepicker>.datepicker-days {
            display: block;
        }

        .table td, .table th{
            text-align: center;
        }
        .required-border{
            border: 1px dashed darkred;
        }

        .add-file {
            background-color: #F4F7FA;
            border: 1px solid #CED4DA;
            height: 150px;
            width: 100%;
        }

        .add-file i {
            font-size: 60px;
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .is-invalid{

        }
        .file {
            position: relative;
            background-color: #F4F7FA;
            border: 1px solid #CED4DA;
            height: 150px;
            width: 100%;
            color: #748892;
        }

        .file-icon {
            font-size: 60px;
            position: relative;
            float: left;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .file span {
            position: absolute;
            bottom: 35px;
            width: 100%;
            text-align: center;
            left: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .file p {
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;
            left: 0;
            font-size: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .file a{
            color: #748892;
        }

        .file a:hover {
            color: #5CB85C;
        }

        .file-delete-btn {
            color: red;
            position: absolute;
            right: 0;
            border: none;
            margin: 5px;
        }
        .file-delete-btn:hover {
            color:darkred;
        }

        #upload-gif{
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 125px;
        }

        #percentage {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }
        .undo-btn {
            position: absolute;
            top: .5em;
            right: .5em;
        }
        .undo-btn button {
            cursor: pointer;
        }
        /* #loader_box {
             width: 100%;
             height: 100%;
             position: absolute;
             z-index: 999999;
             top: 0px;
             left: 0px;
             background-color: rgba(255, 255, 255, 0.8);
             background-image: url("/static/images/uploading.gif");
             background-repeat: no-repeat;
             background-position: center center;
             display: none;
         }*/
    </style>

</head>
<body class="layout-6">
<!--<div style="display: none;" id="loader_box"></div>-->
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

    <object th:include="fragments/header :: head" th:remove="tag" ></object>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ sample-page ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 >
                                                <span th:text="#{reg_application.number}"></span>&nbsp;
                                                <span th:text="${regApplication.id}"></span>
                                            </h5>
                                        </div>
                                        <div class="card-body">

                                            <object th:include="reg/category_four/step_wizard :: wizard" th:remove="tag" ></object>

                                            <div class="row" >
                                                <div class="form-group col-md-12" >
                                                    <form action="" method="post" th:object="${regApplication}" data-parsley-validate="" id="about-form">
                                                        <div class="row">
                                                            <div class="col-md-6">

                                                                <div class="form-group row" >
                                                                    <div class="col-md-4 text-right">
                                                                        <label class="col-form-label" th:text="#{sys_step_3.common_area}"></label>
                                                                        <span class="required">*</span>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <div class="input-group mb-3">
                                                                            <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.commonArea}" required="" data-parsley-type="number" data-parsley-errors-container="#error_commonArea" />
                                                                            <div class="input-group-append">
                                                                        <span class="input-group-text">
                                                                            m <sup>2</sup>
                                                                        </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="error_commonArea" class="col-md-7 offset-4"></div>
                                                                </div>

                                                                <div class="form-group row" >
                                                                    <div class="col-md-4 text-right">
                                                                        <label class="col-form-label" th:text="#{sys_step_3.building_under_area}"></label>
                                                                        <span class="required">*</span>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <div class="input-group mb-3">
                                                                            <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.buildingUnderArea}" required="" data-parsley-type="number" data-parsley-errors-container="#error_buildingUnderArea" />
                                                                            <div class="input-group-append">
                                                                        <span class="input-group-text">
                                                                            m <sup>2</sup>
                                                                        </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="error_buildingUnderArea" class="col-md-7 offset-4"></div>
                                                                </div>

                                                            </div>
                                                            <div class="col-md-6">

                                                                <div class="form-group row" >
                                                                    <div class="col-md-4 text-right">
                                                                        <label class="col-form-label" th:text="#{sys_step_3.area_additional}"></label>
                                                                        <span class="required">*</span>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <div class="input-group mb-3">
                                                                            <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.areaAdditional}" required="" data-parsley-type="number" data-parsley-errors-container="#error_areaAdditional" />
                                                                            <div class="input-group-append">
                                                                        <span class="input-group-text">
                                                                            m <sup>2</sup>
                                                                        </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="error_areaAdditional" class="col-md-7 offset-4"></div>
                                                                </div>

                                                                <div class="form-group row" >
                                                                    <div class="col-md-4 text-right">
                                                                        <label class="col-form-label" th:text="#{sys_step_3.road_area}"></label>
                                                                        <span class="required">*</span>
                                                                    </div>
                                                                    <div class="col-md-7">
                                                                        <div class="input-group mb-3">
                                                                            <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.roadArea}" required="" data-parsley-type="number" data-parsley-errors-container="#error_roadArea" />
                                                                            <div class="input-group-append">
                                                                        <span class="input-group-text">
                                                                            m <sup>2</sup>
                                                                        </span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="error_roadArea" class="col-md-7 offset-4"></div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="alert alert-light row col-md-8 offset-2" role="alert" th:if="${field==1}">
                                                            <div class="col-auto">
                                                                <button class="btn drp-icon btn-danger dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-alert-triangle"></i></button>
                                                            </div>
                                                            <div class="col-auto f-25" style="padding: inherit">
                                                                <span th:utext="#{sys_step_3.plan_files}"></span>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-12">
                                                            <h5 class="text-center" th:text="#{sys_step_3.plan_files_upload}"> Объектнинг жойлашув режасини юклаш</h5>
                                                            <div class="col-md-6 offset-md-3 row" style="padding: 5px 0 5px 0;" id="files-div">
                                                                <a href="#upload-file-modal" onclick="openModalFile()" class="col-md-3" style="padding-bottom: 25px;">
                                                                    <div class="add-file">
                                                                        <img src="/static/images/uploading.gif" alt="" id="upload-gif" style="display: none;">
                                                                        <span id="percentage"><span id="percentage-num"></span>%</span>
                                                                        <i class="feather icon-plus" id="plus-icon"></i>
                                                                    </div>
                                                                </a>
                                                                <div class="col-md-3" th:each="file : ${regApplicationCategoryFourAdditional.planFiles}" th:id="${'file-block-' + file.id}">
                                                                    <div class="file">
                                                                        <a th:href="${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationFourCategoryStep3FileDownload + '?file_id=' + file.id + '&id=' + regApplicationCategoryFourAdditional.id }">
                                                                            <i th:if="${file.extension=='doc' || file.extension=='docx'}" class="mdi mdi-file-word file-icon"></i>
                                                                            <i th:if="${file.extension=='xls' || file.extension=='xlsx'}" class="mdi mdi-file-excel file-icon"></i>
                                                                            <i th:if="${file.extension=='pdf'}" class="mdi mdi-file-pdf file-icon"></i>
                                                                            <i th:if="${file.extension=='png' || file.extension=='jpg' || file.extension=='jpeg'}" class="mdi mdi-image file-icon"></i>
                                                                            <i th:if="${file.extension!='doc'
                                                                                                    && file.extension!='docx'
                                                                                                    && file.extension!='xls'
                                                                                                    && file.extension!='xlsx'
                                                                                                    && file.extension!='pdf'
                                                                                                    && file.extension!='png'
                                                                                                    && file.extension!='jpg'
                                                                                                    && file.extension!='jpeg'}" class="mdi mdi-file file-icon"></i>
                                                                            <span th:text="${file.description}"></span>
                                                                            <p th:text="${file.name}"></p>
                                                                        </a>
                                                                        <button type="button" class="file-delete-btn" th:onclick="'deleteFile(' + ${file.id} + ')'">
                                                                            <i class="feather icon-x"></i>
                                                                        </button>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.work_schedule}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control"  type="text" th:field="${regApplicationCategoryFourAdditional.workSchedule}" required="" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.production_capacity}"></label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="input-group mb-3">
                                                                    <input class="form-control" type="text" required="" maxlength="254"  th:field="${regApplicationCategoryFourAdditional.productionCapacity}" data-parsley-errors-container="#error_productionCapacity" />
                                                                    <div class="input-group-append">
                                                                        <span class="input-group-text" th:utext="#{sys_step_3.birlik}">
                                                                           (y/tonna, y/dona v.h)
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="error_productionCapacity" class="col-md-6 offset-3"></div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.technological_process}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" required="" type="text" th:field="${regApplicationCategoryFourAdditional.technologicalProcess}" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.material_additional}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" required="" type="text" th:field="${regApplicationCategoryFourAdditional.materialAdditional}" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.step_3_material}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" required="" type="text" th:field="${regApplicationCategoryFourAdditional.step3Material}" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.source_material}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" required="" type="text" th:field="${regApplicationCategoryFourAdditional.sourceMaterial}" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.step_3_texno}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" required="" type="text" th:field="${regApplicationCategoryFourAdditional.step3Texno}" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.step_3_heat}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" required="" type="text" th:field="${regApplicationCategoryFourAdditional.step3Heat}" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.step_3_water}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" type="text" required="" th:field="${regApplicationCategoryFourAdditional.step3Water}" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.step_3_sewer}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" required="" type="text" th:field="${regApplicationCategoryFourAdditional.step3Sewer}" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.step_3_sewage}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" required="" type="text" th:field="${regApplicationCategoryFourAdditional.step3Sewage}" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.step_3_water_treatment}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" required="" type="text" th:field="${regApplicationCategoryFourAdditional.step3WaterTreatment}" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.step_3_waste}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" required="" type="text" th:field="${regApplicationCategoryFourAdditional.step3Waste}" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.step_3_event}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" type="text" required="" th:field="${regApplicationCategoryFourAdditional.step3Event}" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row" >
                                                            <div class="col-md-3 text-right">
                                                                <label class="col-form-label" th:text="#{sys_step_3.step_3_household}">Наименование объекта</label>
                                                                <span class="required">*</span>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <input class="form-control" required="" type="text" th:field="${regApplicationCategoryFourAdditional.step3Household}" maxlength="254"  />
                                                            </div>
                                                        </div>

                                                        <div class="alert alert-light row col-md-8 offset-2" role="alert">
                                                            <div class="col-auto">
                                                                <button class="btn drp-icon btn-warning dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="feather icon-alert-triangle"></i></button>
                                                            </div>
                                                            <div class="col-auto f-25" style="padding: inherit">
                                                                <span th:utext="#{sys_step_3.alert}"></span>
                                                            </div>
                                                        </div>

                                                        <input type="hidden" name="id" th:value="${regApplication.id}" />
                                                        <input type="hidden" name="regApplicationCategoryFourAdditionalId" th:value="${regApplicationCategoryFourAdditional.id}" />
                                                        <input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                                        <div class="row" >
                                                            <div class="form-group col-md-12 text-center" >
                                                                <a  th:href="${back_url}" class="btn btn-danger" th:text="#{sys_back}">Отмена</a>
                                                                <span th:if="${regApplication.status!=null &&  regApplication.status==T(uz.maroqand.ecology.core.constant.expertise.RegApplicationStatus).Modification && regApplication.regApplicationCategoryType==T(uz.maroqand.ecology.core.entity.expertise.RegApplicationCategoryType).fourType}">
                                                                            <a class="btn btn-warning" th:href="${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationResend + '?id=' + regApplication.id}">
                                                                                <i class="feather icon-rotate-cw"></i> <span th:text="#{sys_send_to_review}"></span>
                                                                            </a></span>
                                                                <button type="submit" class="btn btn-primary" th:text="#{sys_next}" >Далее</button><!--onclick="submitForm()"-->
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- [ sample-page ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="upload-file-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{sys_step_3.upload_plan_files}" style="float: left">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="file-name">
                        <span th:text="#{sys_file_name}"></span>
                        <span class="required">*</span>
                    </label>
                    <input class="form-control" type="text" id="file-name" required="" />
                </div>
                <div class="input-group">
                          <span class="input-group-btn">
                            <span class="btn btn-primary" style="border-bottom-right-radius: 0px;border-top-right-radius: 0px" onclick="$(this).parent().find('input[type=file]').click();">
                               <i class="mdi mdi-file-download-outline"></i> <span th:text="#{file_select}"></span>
                            </span>
                            <input name="uploaded_file" id="file-input" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file">
                          </span>
                    <span class="form-control" onclick="$(this).parent().find('input[type=file]').click();" id="fileDescription" style="border-bottom-left-radius: 0px;border-top-left-radius: 0px" placeholder="sdfsdfsdfsdf">
                        </span>
                </div>
                <input  type="hidden" id="airPoolId">
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button class="btn btn-info" type="button" th:text="#{sys_upload}" onclick="uploadFile()"></button>
            </div>
        </div>
    </div>
</div>

    <!-- [ Main Content ] end -->
    <object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
    <script type="text/javascript" src="/static/js/form.js?v=28122016"></script>
    <script src="/static/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script type="text/javascript" src="/static/parsley/parsley.min.js"></script>
    <script th:src="@{'/static/parsley/i18n/' + __${#locale}__ + '.js'}"></script>
<script th:inline="javascript">
    let regAddId = [[${regApplicationCategoryFourAdditional.id}]]
    let uploadFileAjaxUrl = [[${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationFourCategoryStep3FileUpload}]];
    let deleteFileAjaxUrl = [[${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationFourCategoryStep3FileDelete}]];

    function openModalFile(id) {
        $('#upload-file-modal').modal('show');
    }

    function uploadFile(){
        $('#file-name').parsley().validate();
        if(!$('#file-name').val() || !$('#file-input').val()){
            $('#fileDescription').addClass('is-invalid');
            return;
        }

        $('#upload-file-modal').modal('hide');

        var form = new FormData();
        form.append("id",regAddId);
        form.append("file", $('#file-input').prop('files')[0]);
        form.append("file_name", $('#file-name').val());
        form.append("_csrf", $('#global_csrf').val());

        $.ajax({
            url: uploadFileAjaxUrl,
            type: "POST",
            data: form,
            processData: false,
            contentType: false,
            cache: false,
            success: function (response) {
                if(response.status == 1) {

                    $('#files-div').append('<div class="col-md-3" id="file-block-'+response.fileId+'">\n' +
                        '                                                    <div class="file">\n' +
                        '                                                        <a href="'+response.link+'">\n' +
                        '                                                            <i class="feather icon-file file-icon"></i>\n' +
                        '                                                            <span>'+response.name+'</span>\n' +
                        '                                                        </a>\n' +
                        '                                                        <button type="button" class="file-delete-btn" onclick="deleteFile('+response.fileId+')">\n' +
                        '                                                            <i class="feather icon-x"></i>\n' +
                        '                                                        </button>\n' +
                        '                                                    </div>\n' +
                        '                                                </div>');
                }
            },
            beforeSend: function () {
                $('#plus-icon').hide();
                $('#upload-gif').show();
                $('#percentage').show();
            },
            complete: function () {
                $('#upload-gif').hide();
                $('#percentage').hide();
                $('#plus-icon').show();
            },
            xhr: function() {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress",
                    uploadProgressHandler,
                    false
                );

                return xhr;
            }

        });
    }

    function deleteFile(fileId) {
        var form = new FormData();
        form.append("id", regAddId);
        form.append("fileId", fileId);
        form.append("_csrf", $('#global_csrf').val());

        $.ajax({
            url: deleteFileAjaxUrl,
            type: "POST",
            data: form,
            processData: false,
            contentType: false,
            cache: false,
            success: function (response) {
                if(response.status == 1) {
                    $('#file-block-' + fileId).remove();
                }
            }
        });
    }

    function uploadProgressHandler(event){
        var percent = (event.loaded / event.total) * 100;
        var progress = Math.round(percent);
        $('#percentage-num').html(progress);
    }
</script>
</body>
</html>