<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <!-- smart-wizard css -->
    <link rel="stylesheet" href="/static/plugins/smart-wizard/css/smart_wizard.min.css">
    <link rel="stylesheet" href="/static/plugins/smart-wizard/css/smart_wizard_theme_dots.min.css">
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" th:href="@{/static/modal-window-effects/css/md-modal.css}">
    <link rel="stylesheet" href="/static/plugins/ol/ol.css">
    <link rel="stylesheet" href="/static/css/select2.min.css">
</head>
<body class="layout-6">
<!--<div style="display: none;" id="loader_box"></div>-->
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

    <object th:include="fragments/header :: head" th:remove="tag" ></object>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ sample-page ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 >
                                                <span th:text="#{reg_application.number}"></span>&nbsp;
                                                <span th:text="${regApplication.id}"></span>
                                            </h5>
                                        </div>
                                        <div class="card-body">

                                            <object th:include="reg/category_four/step_wizard :: wizard" th:remove="tag" ></object>

                                            <div class="row" >
                                                <div class="form-group col-md-12" >
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h5 th:text="#{sys_step_4.air_pool}">Ҳаво бассейнини атмосфера хавосини ифлослантирувчи манбалар ҳақида маьлумот</h5>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table  table-striped" id="pollution-table">
                                                                    <thead>
                                                                    <tr>
                                                                        <th style="width: 10%">№</th>
                                                                        <th  th:text="#{sys_step_4.name}">Tadbir nomi</th>
                                                                        <th  th:text="#{sys_step_4.jobName}">Tadbir nomi</th>
                                                                        <th  th:text="#{sys_step_4.fuelType}">Tadbir nomi</th>
                                                                        <th  th:text="#{sys_step_4.numberOfSources}">Tadbir nomi</th>
                                                                        <th  th:text="#{sys_step_4.substances}">Tadbir nomi</th>
                                                                        <th  th:text="#{sys_step_4.airSubstance}">Tadbir nomi</th>
                                                                        <th ></th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tbody >
                                                                    <tr th:id="${'row_' + itar.id}" th:if="${#lists.size(regApplicationCategoryFourAdditional.airPools)>0}" th:each="itar,index :${regApplicationCategoryFourAdditional.airPools}">
                                                                        <td th:id="${itar.id}" th:utext="${index.index+1}" style="width: 10%"></td>
                                                                        <td th:utext="${itar.name}"></td>
                                                                        <td th:utext="${itar.jobName}"></td>
                                                                        <td th:utext="${itar.fuelType}"></td>
                                                                        <td th:utext="${itar.numberOfSources}"></td>
                                                                        <td th:utext="${itar.substances}"></td>
                                                                        <td th:utext="${itar.airSubstance}"></td>
                                                                        <td style="width: 10%">
                                                                            <a class="btn btn-primary btn-sm list-btn ">
                                                                                <i class="feather icon-edit-1 mr-0"></i>
                                                                            </a>
                                                                            <a class="btn btn-warning btn-sm list-btn" th:onclick="'mymodal('+${itar.id}+')'">
                                                                                <i class="feather icon-x-square mr-0"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr></tr>
                                                                    </tbody>
                                                                    <tfoot>
                                                                    <tr style="background-color: rgba(0, 0, 0, 0.05);" >
                                                                        <th class="text-right" colspan="8">
                                                                            <button type="button" onclick="createInput()" class="btn btn-success btn-sm">
                                                                                <i class="feather icon-plus"></i>
                                                                                <span th:text="#{sys_add}"></span>
                                                                            </button>
                                                                        </th>
                                                                    </tr>
                                                                    </tfoot>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" >
                                                        <div class="form-group col-md-12 text-center" >
                                                            <a  th:href="${back_url}" class="btn btn-danger" th:text="#{sys_back}">Отмена</a>
                                                            <a  th:href="${next_url}" class="btn btn-primary" th:text="#{sys_next}">Отмена</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ sample-page ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- [ Main Content ] end -->
    <object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
    <script type="text/javascript" src="/static/js/form.js?v=28122016"></script>
    <script src="/static/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script type="text/javascript" src="/static/parsley/parsley.min.js"></script>
    <script th:src="@{'/static/parsley/i18n/' + __${#locale}__ + '.js'}"></script>

<script th:inline="javascript">
    var n=0;
    var regAddId = [[${regApplicationCategoryFourAdditional.id}]];
    var _csrf = [[${_csrf.token}]];


    var editLink = [[${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationFourCategoryAirPoolEdit}]];
    var deleteLink = [[${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationFourCategoryAirPoolDelete}]];
    var createLink = [[${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationFourCategoryAirPoolCreate}]];

    /*new row*/
    function createInput(){
        if (n==0) {
            n=1;
            $('#pollution-table tbody tr:last').after(
                '<tr id="input_add">' +
                '<td>' +
                '</td>' +
                '<td>' +
                '<input id="name" name="name"  class="form-control " type="text" required="" data-parsley-maxlength="255"/>' +
                '</td>' +
                '<td>' +
                '<input id="jobName" name="jobName"  class="form-control " type="text" required="" data-parsley-maxlength="255"/>' +
                '</td>' +
                '<td>' +
                '<input id="fuelType" name="fuelType"  class="form-control " type="text" required="" data-parsley-maxlength="255"/>' +
                '</td>' +
                '<td>' +
                '<input id="numberOfSources" name="numberOfSources"  class="form-control " type="text" required="" data-parsley-type="digits"/>' +
                '</td>' +
                '<td>' +
                '<input id="substances" name="substances"  class="form-control " type="text" required="" data-parsley-maxlength="255"/>' +
                '</td>' +
                '<td>' +
                '<input id="airSubstance" name="airSubstance"  class="form-control " type="text" required="" data-parsley-maxlength="255"/>' +
                '</td>' +
                '<td>' +
                '<button type="button" onclick="addExecutive()" class="btn btn-sm btn-outline-primary mr-0">\n' +
                '<i class="feather icon-check-square mr-0" aria-hidden="true"></i>' +
                '</button>' +
                '<button type="button" onclick="cancelExecutive()" class="btn btn-sm btn-outline-warning">\n' +
                '<i class="feather icon-x-square mr-0" aria-hidden="true"></i>' +
                '</button>' +
                '</td>' +
                '</tr>'
            );
        }
    }

    //add base
    function addExecutive(){
        $('#name').parsley().validate();
        $('#jobName').parsley().validate();
        $('#fuelType').parsley().validate();
        $('#numberOfSources').parsley().validate();
        $('#substances').parsley().validate();
        $('#airSubstance').parsley().validate();
        var name = $('#name').val();
        var jobName = $('#jobName').val();
        var fuelType = $('#fuelType').val();
        var numberOfSources = $('#numberOfSources').val();
        var substances = $('#substances').val();
        var airSubstance = $('#airSubstance').val();
        if( $('#name').parsley().isValid() &&
            $('#jobName').parsley().isValid() &&
        $('#fuelType').parsley().isValid() &&
        $('#numberOfSources').parsley().isValid() &&
        $('#substances').parsley().isValid() &&
        $('#airSubstance').parsley().isValid()) {

            var form = new FormData();
            form.append("regAddId", regAddId);
            form.append("name", name);
            form.append("jobName", jobName);
            form.append("fuelType", fuelType);
            form.append("numberOfSources", numberOfSources);
            form.append("substances", substances);
            form.append("airSubstance", airSubstance);
            form.append("_csrf", _csrf);

            $.ajax({
                type: "POST",
                url: createLink,
                data: form,
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    if (response.status==1){
                        console.log(response);
                        window.location.reload();
                        /*var id = response.data.id;
                        var name = response.data.name;
                        var jobName = response.data.jobName;
                        var fuelType = response.data.fuelType;
                        var numberOfSources = response.data.numberOfSources;
                        var substances = response.data.substances;
                        var airSubstance = response.data.airSubstance;
                        var actions = '<a class="btn btn-primary btn-sm list-btn mr-0" ><i class="feather icon-edit-1 mr-0"></i></a>' +
                            '<a class="btn btn-warning btn-sm list-btn" onclick="mymodal('+id+')" ><i class="feather icon-x-square mr-0"></i></a>';
                        cancelExecutive();
                        $('#pollution-table tbody tr:last').after('' +
                            '<tr id="row_' + id + '">' +
                            '<td id="'+id+'">' + id + '</td>' +
                            '<td>' + name + '</td>' +
                            '<td>' + jobName + '</td>' +
                            '<td>' + fuelType + '</td>' +
                            '<td>' + numberOfSources + '</td>' +
                            '<td>' + substances + '</td>' +
                            '<td>' + airSubstance + '</td>' +
                            '<td>' + actions + '</td></tr>');*/
                    }
                }
            });
        }
    }

    function cancelExecutive(){
        n=0;
        $('#input_add').remove();
    }

    /*delete modal*/
    function mymodal(id){

        var form = new FormData();
        form.append("id",id);
        form.append("regAddId",regAddId);
        form.append("_csrf", _csrf);
        $.ajax({
            type: "POST",
            url:deleteLink,
            data:form,
            success: function(){
                $('#row_'+id).remove();
            },
            processData: false,
            contentType: false,
            cache:false
        });
    }

    $('#pollution-table').css("width", "100%");
</script>
<script>

    $("#pollution-table").on('mousedown.edit', "i.feather.icon-edit-1", function(e) {
        $(this).removeClass().addClass("feather icon-check-circle mr-0");
        var $row = $(this).closest("tr").off("mousedown");
        var $tds = $row.find("td").not(':last').not(':first');
        var $idn=0;
        $.each($tds, function(i, el) {
            var txt = $(this).text();
            $idn++;
            if ($idn==1) {
                $(this).html("").append("<input id='name' name='name'  class='form-control' type='text' required='' data-parsley-maxlength='255'  value=\""+txt+"\"/>");
            }
            if ($idn==2) {
                $(this).html("").append("<input id='jobName' name='jobName'  class='form-control' type='text' required='' data-parsley-maxlength='255'  value=\""+txt+"\"/>");
            }
            if ($idn==3) {
                $(this).html("").append("<input id='fuelType' name='fuelType'  class='form-control' type='text' required='' data-parsley-maxlength='255'  value=\""+txt+"\"/>");
            }
            if ($idn==4) {
                $(this).html("").append("<input id='numberOfSources' name='numberOfSources'  class='form-control' type='text' required='' data-parsley-type='digits'  value=\""+txt+"\"/>");
            }
            if ($idn==5) {
                $(this).html("").append("<input id='substances' name='substances'  class='form-control' type='text' required='' data-parsley-maxlength='255'  value=\""+txt+"\"/>");
            }
            if ($idn==6) {
                $(this).html("").append("<input id='airSubstance' name='airSubstance'  class='form-control' type='text' required='' data-parsley-maxlength='255'  value=\""+txt+"\"/>");
            }
        });
    });

    $("#pollution-table").on('mousedown.save', "i.feather.icon-check-circle", function(e) {
        var $row = $(this).closest("tr");
        var $tds = $row.find("td").not(':last').not(':first');
        var id=$row.find("td").first().attr('id');
        console.log($tds);
        $('#name').parsley().validate();
        $('#jobName').parsley().validate();
        $('#fuelType').parsley().validate();
        $('#numberOfSources').parsley().validate();
        $('#substances').parsley().validate();
        $('#airSubstance').parsley().validate();
        if( $('#name').parsley().isValid(),
            $('#jobName').parsley().isValid(),
            $('#fuelType').parsley().isValid(),
            $('#numberOfSources').parsley().isValid(),
            $('#substances').parsley().isValid(),
            $('#airSubstance').parsley().isValid() ){
            var form = new FormData();
            $.each($tds, function(i, el) {
                var txt = $(this).find("input").val();
                var txtId = $(this).find("input").attr('id');
                form.append(txtId,txt);
                $(this).html(txt);
            });
            form.append('id',id);
            form.append('regAddId',regAddId);
            form.append("_csrf", _csrf);
            $(this).removeClass().addClass("feather icon-edit-1 mr-0");
            $.ajax({
                type: "POST",
                url:editLink,
                data:form,
                success: function(response){
                    console.log("refresh");
                },
                processData: false,
                contentType: false,
                cache:false
            });
        }
    });

</script>
</body>
</html>