<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <!-- smart-wizard css -->
    <link rel="stylesheet" href="/static/plugins/smart-wizard/css/smart_wizard.min.css">
    <link rel="stylesheet" href="/static/plugins/smart-wizard/css/smart_wizard_theme_dots.min.css">
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" th:href="@{/static/modal-window-effects/css/md-modal.css}">
    <link rel="stylesheet" href="/static/plugins/ol/ol.css">
    <link rel="stylesheet" href="/static/css/select2.min.css">
    <style>
        .table thead th{
            white-space: normal;
        }
        .datepicker>.datepicker-days {
            display: block;
        }

        .table td, .table th{
            text-align: center;
        }
        .required-border{
            border: 1px dashed darkred;
        }

        .add-file {
            background-color: #F4F7FA;
            border: 1px solid #CED4DA;
            height: 150px;
            width: 100%;
        }

        .add-file i {
            font-size: 60px;
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .is-invalid{

        }
        .file {
            position: relative;
            background-color: #F4F7FA;
            border: 1px solid #CED4DA;
            height: 150px;
            width: 100%;
            color: #748892;
        }

        .file-icon {
            font-size: 60px;
            position: relative;
            float: left;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .file span {
            position: absolute;
            bottom: 35px;
            width: 100%;
            text-align: center;
            left: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .file p {
            position: absolute;
            bottom: 10px;
            width: 100%;
            text-align: center;
            left: 0;
            font-size: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .file a{
            color: #748892;
        }

        .file a:hover {
            color: #5CB85C;
        }

        .file-delete-btn {
            color: red;
            position: absolute;
            right: 0;
            border: none;
            margin: 5px;
        }
        .file-delete-btn:hover {
            color:darkred;
        }

        #upload-gif{
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 125px;
        }

        #percentage {
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
        }
        .undo-btn {
            position: absolute;
            top: .5em;
            right: .5em;
        }
        .undo-btn button {
            cursor: pointer;
        }
        /* #loader_box {
             width: 100%;
             height: 100%;
             position: absolute;
             z-index: 999999;
             top: 0px;
             left: 0px;
             background-color: rgba(255, 255, 255, 0.8);
             background-image: url("/static/images/uploading.gif");
             background-repeat: no-repeat;
             background-position: center center;
             display: none;
         }*/
    </style>
</head>
<body class="layout-6">
<!--<div style="display: none;" id="loader_box"></div>-->
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

    <object th:include="fragments/header :: head" th:remove="tag" ></object>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ sample-page ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 >
                                                <span th:text="#{reg_application.number}"></span>&nbsp;
                                                <span th:text="${regApplication.id}"></span>
                                            </h5>
                                        </div>
                                        <div class="card-body">

                                            <object th:include="reg/category_four/step_wizard :: wizard" th:remove="tag" ></object>

                                            <div class="row" >
                                                <div class="form-group col-md-12" >
                                                    <form action="" method="post" th:object="${regApplicationCategoryFourAdditional}" data-parsley-validate="" id="step4_2-form">
                                                        <div class="card">
                                                            <div class="card-header">
                                                                <h5 th:text="#{sys_step_4_2.description_of_sources}"></h5>
                                                            </div>
                                                            <div class="card-body">
                                                                <div class="row mb-lg-5" th:if="${#lists.size(air_pools)>0}" th:each="airPool :${air_pools}">
                                                                    <div class="col-md-6 table-responsive">
                                                                        <table class="table  table-striped" id="description-table">
                                                                            <thead>
                                                                            <tr>
                                                                                <th th:text="#{description_of_sources.sourcesHeight}"></th>
                                                                                <th th:text="#{description_of_sources.sourcesDiometer}"></th>
                                                                                <th th:text="#{description_of_sources.sourcesW}"></th>
                                                                                <th th:text="#{description_of_sources.sourcesV}"></th>
                                                                                <th th:text="#{description_of_sources.sourcesT}"></th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody >
                                                                            <tr  th:if="${#lists.size(airPool.descriptionOfSources)>0}" th:each="description :${airPool.descriptionOfSources}">
                                                                                <td><input  th:name="'sourcesHeight_' + ${description.id}" th:value="${description.sourcesHeight}" class="form-control " type="text" required="" data-parsley-type="number"/></td>
                                                                                <td><input  th:name="'sourcesDiometer_' + ${description.id}" th:value="${description.sourcesDiometer}" class="form-control " type="text" required="" data-parsley-type="number"/></td>
                                                                                <td><input  th:name="'sourcesW_' + ${description.id}" th:value="${description.sourcesW}" class="form-control " type="text" required="" data-parsley-type="number"/></td>
                                                                                <td><input  th:name="'sourcesV_' + ${description.id}" th:value="${description.sourcesV}" class="form-control " type="text" required="" data-parsley-type="number"/></td>
                                                                                <td><input  th:name="'sourcesT_' + ${description.id}" th:value="${description.sourcesT}" class="form-control " type="text" required="" data-parsley-type="number"/></td>
                                                                            </tr>
                                                                            <tr></tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                    <div class="col-md-6 table-responsive">
                                                                        <table class="table  table-striped" th:id="'des_add_table_' + ${airPool.id}">
                                                                            <thead>
                                                                            <tr>
                                                                                <th rowspan="2" th:text="#{description_of_sourcDees_additional.name}"></th>
                                                                                <th colspan="2">Зарарли модда миқдори</th>
                                                                                <th rowspan="2" th:text="#{description_of_sources_additional.establishedQuota}"></th>
                                                                                <th rowspan="2" th:text="#{description_of_sources_additional.concentration}"></th>
                                                                            </tr>
                                                                            <tr>
                                                                                <th th:text="#{description_of_sources_additional.gSek}"></th>
                                                                                <th th:text="#{description_of_sources_additional.tYil}"></th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr th:id="${'row_' + desAdd.id }" th:data-id="${desAdd.id}"  th:data-name="${airPool.id}" th:if="${#lists.size(airPool.descriptionOfSourcesAdditionals)>0}" th:each="desAdd :${airPool.descriptionOfSourcesAdditionals}">
                                                                                <td th:id="${desAdd.id}" th:utext="${desAdd.name}" style="width: 10%"></td>
                                                                                <td th:utext="${desAdd.gSek}"></td>
                                                                                <td th:utext="${desAdd.tYil}"></td>
                                                                                <td th:utext="${desAdd.establishedQuota}"></td>
                                                                                <td th:utext="${desAdd.concentration}"></td>
                                                                                <td style="width: 10%">
                                                                                    <a class="btn btn-primary btn-sm list-btn ">
                                                                                        <i class="feather icon-edit-1 mr-0"></i>
                                                                                    </a>
                                                                                    <a class="btn btn-warning btn-sm list-btn" th:onclick="'mymodal('+${desAdd.id}+',' + ${airPool.id} + ')'">
                                                                                        <i class="feather icon-x-square mr-0"></i>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr></tr>
                                                                            </tbody>
                                                                            <tfoot>
                                                                            <tr style="background-color: rgba(0, 0, 0, 0.05);" >
                                                                                <th class="text-right" colspan="8">
                                                                                    <button type="button" th:onclick="'createInput('+${airPool.id}+')'" class="btn btn-success btn-sm">
                                                                                        <i class="feather icon-plus"></i>
                                                                                        <span th:text="#{sys_add}"></span>
                                                                                    </button>
                                                                                </th>
                                                                            </tr>
                                                                            </tfoot>
                                                                        </table>
                                                                    </div>
                                                                    <div class="col-md-12">
                                                                        <div class="col-md-6 offset-md-3 row" style="padding: 5px 0 5px 0;" th:id="'files-div_' + ${airPool.id}">
                                                                            <a href="#upload-file-modal" th:onclick="'openModalFile('+${airPool.id}+')'" class="col-md-3" style="padding-bottom: 25px;">
                                                                                <div class="add-file">
                                                                                    <img src="/static/images/uploading.gif" alt="" id="upload-gif" style="display: none;">
                                                                                    <span id="percentage"><span id="percentage-num"></span>%</span>
                                                                                    <i class="feather icon-plus" id="plus-icon"></i>
                                                                                </div>
                                                                            </a>
                                                                            <div class="col-md-3" th:each="file : ${airPool.files}" th:id="${'file-block-' + file.id}">
                                                                                <div class="file">
                                                                                    <a th:href="${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationFourCategoryStep4_2FileDownload + '?file_id=' + file.id + '&id=' + airPool.id }">
                                                                                        <i th:if="${file.extension=='doc' || file.extension=='docx'}" class="mdi mdi-file-word file-icon"></i>
                                                                                        <i th:if="${file.extension=='xls' || file.extension=='xlsx'}" class="mdi mdi-file-excel file-icon"></i>
                                                                                        <i th:if="${file.extension=='pdf'}" class="mdi mdi-file-pdf file-icon"></i>
                                                                                        <i th:if="${file.extension=='png' || file.extension=='jpg' || file.extension=='jpeg'}" class="mdi mdi-image file-icon"></i>
                                                                                        <i th:if="${file.extension!='doc'
                                                                                                    && file.extension!='docx'
                                                                                                    && file.extension!='xls'
                                                                                                    && file.extension!='xlsx'
                                                                                                    && file.extension!='pdf'
                                                                                                    && file.extension!='png'
                                                                                                    && file.extension!='jpg'
                                                                                                    && file.extension!='jpeg'}" class="mdi mdi-file file-icon"></i>
                                                                                        <span th:text="${file.description}"></span>
                                                                                        <p th:text="${file.name}"></p>
                                                                                    </a>
                                                                                    <button type="button" class="file-delete-btn" th:onclick="'deleteFile(' + ${file.id} + ')'">
                                                                                        <i class="feather icon-x"></i>
                                                                                    </button>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <input type="hidden" name="id" th:value="${regApplication.id}" />
                                                            <input type="hidden" name="regAddId" th:value="${regApplicationCategoryFourAdditional.id}" />
                                                            <input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                                            <div class="row" >
                                                                <div class="form-group col-md-12 text-center" >
                                                                    <a  th:href="${back_url}" class="btn btn-danger" th:text="#{sys_back}">Отмена</a>
                                                                    <button type="submit" class="btn btn-primary" th:text="#{sys_next}" >Далее</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ sample-page ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="upload-file-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" th:text="#{sys_step_4_2.upload_files}" style="float: left">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="file-name">
                        <span th:text="#{sys_file_name}"></span>
                        <span class="required">*</span>
                    </label>
                    <input class="form-control" type="text" id="file-name" required="" />
                </div>
                <div class="input-group">
                          <span class="input-group-btn">
                            <span class="btn btn-primary" style="border-bottom-right-radius: 0px;border-top-right-radius: 0px" onclick="$(this).parent().find('input[type=file]').click();">
                               <i class="mdi mdi-file-download-outline"></i> <span th:text="#{file_select}"></span>
                            </span>
                            <input name="uploaded_file" id="file-input" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file">
                          </span>
                    <span class="form-control" onclick="$(this).parent().find('input[type=file]').click();" id="fileDescription" style="border-bottom-left-radius: 0px;border-top-left-radius: 0px" placeholder="sdfsdfsdfsdf">
                        </span>
                </div>
                <input  type="hidden" id="airPoolId">
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button class="btn btn-info" type="button" th:text="#{sys_upload}" onclick="uploadFile()"></button>
            </div>
        </div>
    </div>
</div>

    <!-- [ Main Content ] end -->
    <object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
    <script type="text/javascript" src="/static/js/form.js?v=28122016"></script>
    <script src="/static/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script type="text/javascript" src="/static/parsley/parsley.min.js"></script>
    <script th:src="@{'/static/parsley/i18n/' + __${#locale}__ + '.js'}"></script>

<script th:inline="javascript">
    var n=0;
    var _csrf = [[${_csrf.token}]];

    var uploadFileAjaxUrl = [[${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationFourCategoryStep4_2FileUpload}]];
    var deleteFileAjaxUrl = [[${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationFourCategoryStep4_2FileDelete}]];

    var editLink = [[${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationFourCategoryDescriptionOfSourcesAdditionalEdit}]];
    var deleteLink = [[${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationFourCategoryDescriptionOfSourcesAdditionalDelete}]];
    var createLink = [[${T(uz.maroqand.ecology.ecoexpertise.constant.reg.RegUrls).RegApplicationFourCategoryDescriptionOfSourcesAdditionalCreate}]];

    /*new row*/
    function createInput(id){
        if (n==0) {
            n=1;
            $('#des_add_table_' + id +' tbody tr:last').after(
                '<tr id="input_add">' +
                '<td>' +
                '<input id="name_'+id+'" name="name"  class="form-control" type="text" required="" data-parsley-maxlength="255"/>' +
                '</td>' +
                '<td>' +
                '<input id="gSek_'+id+'" name="gSek"  class="form-control " type="text" required="" data-parsley-type="number"/>' +
                '</td>' +
                '<td>' +
                '<input id="tYil_'+id+'" name="tYil"  class="form-control " type="text" required="" data-parsley-type="number"/>' +
                '</td>' +
                '<td>' +
                '<input id="establishedQuota_'+id+'" name="establishedQuota"  class="form-control " type="text" required="" data-parsley-type="number"/>' +
                '</td>' +
                '<td>' +
                '<input id="concentration_'+id+'" name="concentration"  class="form-control " type="text" required="" data-parsley-type="number"/>' +
                '</td>' +
                '<td>' +
                '<button type="button" onclick="addExecutive(' + id + ')" class="btn btn-sm btn-outline-primary mr-0">\n' +
                '<i class="feather icon-check-square mr-0" aria-hidden="true"></i>' +
                '</button>' +
                '<button type="button" onclick="cancelExecutive(' + id + ')" class="btn btn-sm btn-outline-warning">\n' +
                '<i class="feather icon-x-square mr-0" aria-hidden="true"></i>' +
                '</button>' +
                '</td>' +
                '</tr>'
            );
        }
    }

    //add base
    function addExecutive(id){
        $('#name_'+id).parsley().validate();
        $('#gSek_'+id).parsley().validate();
        $('#tYil_'+id).parsley().validate();
        $('#establishedQuota_'+id).parsley().validate();
        $('#concentration_'+id).parsley().validate();
        var name = $('#name_'+id).val();
        var gSek = $('#gSek_'+id).val();
        var tYil = $('#tYil_'+id).val();
        var establishedQuota = $('#establishedQuota_'+id).val();
        var concentration = $('#concentration_'+id).val();
        if( $('#name_'+id).parsley().isValid() &&
            $('#gSek_'+id).parsley().isValid() &&
        $('#tYil_'+id).parsley().isValid() &&
        $('#establishedQuota_'+id).parsley().isValid() &&
        $('#concentration_'+id).parsley().isValid()){

            var form = new FormData();
            form.append("id", id);
            form.append("name", name);
            form.append("gSek", gSek);
            form.append("tYil", tYil);
            form.append("establishedQuota", establishedQuota);
            form.append("concentration", concentration);
            form.append("_csrf", _csrf);

            $.ajax({
                type: "POST",
                url: createLink,
                data: form,
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    if (response.status==1){
                        console.log(response)
                        var addId = response.data.id;
                        var name = response.data.name;
                        var gSek = response.data.gsek;
                        var tYil = response.data.tyil;
                        var establishedQuota = response.data.establishedQuota;
                        var concentration = response.data.concentration;
                        var actions = '<a class="btn btn-primary btn-sm list-btn " ><i class="feather icon-edit-1 mr-0"></i></a>' +
                            '<a class="btn btn-warning btn-sm list-btn" onclick="mymodal('+id+',' + addId + ')" ><i class="feather icon-x-square mr-0"></i></a>';
                        cancelExecutive(id);
                        $('#des_add_table_'+id+' tbody tr:last').after('' +
                            '<tr id="row_' + addId + '" data-name = ' + id + 'data-id="' + addId + '">' +
                            '<td id="'+id+'">' + name + '</td>' +
                            '<td>' + gSek + '</td>' +
                            '<td>' + tYil + '</td>' +
                            '<td>' + establishedQuota + '</td>' +
                            '<td>' + concentration + '</td>' +
                            '<td>' + actions + '</td></tr>');
                    }
                }
            });
        }
    }

    function cancelExecutive(id){
        n=0;
        $('#input_add').remove();
    }

    /*delete modal*/
    function mymodal(id,addId){

        var form = new FormData();
        form.append("id",id);
        form.append("regAddId",addId);
        form.append("_csrf", _csrf);
        $.ajax({
            type: "POST",
            url:deleteLink,
            data:form,
            success: function(){
                $('#row_'+id).remove();
            },
            processData: false,
            contentType: false,
            cache:false
        });
    }

    function openModalFile(id) {
        $('#airPoolId').val(id);
        $('#upload-file-modal').modal('show');
    }

    function uploadFile(){
        $('#file-name').parsley().validate();
        if(!$('#file-name').val() || !$('#file-input').val()){
            $('#fileDescription').addClass('is-invalid');
            return;
        }

        $('#upload-file-modal').modal('hide');

        var form = new FormData();
        form.append("id", $('#airPoolId').val());
        form.append("file", $('#file-input').prop('files')[0]);
        form.append("file_name", $('#file-name').val());
        form.append("_csrf", $('#global_csrf').val());

        $.ajax({
            url: uploadFileAjaxUrl,
            type: "POST",
            data: form,
            processData: false,
            contentType: false,
            cache: false,
            success: function (response) {
                if(response.status == 1) {

                    $('#files-div_' + $('#airPoolId').val()).append('<div class="col-md-3" id="file-block-'+response.fileId+'">\n' +
                        '                                                    <div class="file">\n' +
                        '                                                        <a href="'+response.link+'">\n' +
                        '                                                            <i class="feather icon-file file-icon"></i>\n' +
                        '                                                            <span>'+response.name+'</span>\n' +
                        '                                                        </a>\n' +
                        '                                                        <button type="button" class="file-delete-btn" onclick="deleteFile('+response.fileId+')">\n' +
                        '                                                            <i class="feather icon-x"></i>\n' +
                        '                                                        </button>\n' +
                        '                                                    </div>\n' +
                        '                                                </div>');
                }
            },
            beforeSend: function () {
                $('#plus-icon').hide();
                $('#upload-gif').show();
                $('#percentage').show();
            },
            complete: function () {
                $('#upload-gif').hide();
                $('#percentage').hide();
                $('#plus-icon').show();
            },
            xhr: function() {
                var xhr = new window.XMLHttpRequest();
                xhr.upload.addEventListener("progress",
                    uploadProgressHandler,
                    false
                );

                return xhr;
            }

        });
    }

    function deleteFile(fileId) {
        var form = new FormData();
        form.append("id", reg);
        form.append("fileId", fileId);
        form.append("_csrf", $('#global_csrf').val());

        $.ajax({
            url: deleteFileAjaxUrl,
            type: "POST",
            data: form,
            processData: false,
            contentType: false,
            cache: false,
            success: function (response) {
                if(response.status == 1) {
                    $('#file-block-' + fileId).remove();
                }
            }
        });
    }

    function uploadProgressHandler(event){
        var percent = (event.loaded / event.total) * 100;
        var progress = Math.round(percent);
        $('#percentage-num').html(progress);
    }

    $('#pollution-table').css("width", "100%");
</script>
<script>

    $(".table").on('mousedown.edit', "i.feather.icon-edit-1", function(e) {
        $(this).removeClass().addClass("feather icon-check-circle mr-0");
        let row = $(this).closest("tr").off("mousedown");
        let id = row.attr('data-id');
        let $tds = row.find("td").not(':last');
        let $idn=0;
        $.each($tds, function(i, el) {
            var txt = $(this).text();
            $idn++;
            if ($idn==1) {
                $(this).html("").append("<input id='name_" +id+ "' name='name'  class='form-control' type='text' required='' data-parsley-maxlength='255'  value=\""+txt+"\"/>");
            }
            if ($idn==2) {
                $(this).html("").append("<input id='gSek_" +id+ "' name='gSek'  class='form-control' type='text' required='' data-parsley-type='number'  value=\""+txt+"\"/>");
            }
            if ($idn==3) {
                $(this).html("").append("<input id='tYil_" +id+ "' name='tYil'  class='form-control' type='text' required='' data-parsley-type='number'  value=\""+txt+"\"/>");
            }
            if ($idn==4) {
                $(this).html("").append("<input id='establishedQuota_" +id+ "' name='establishedQuota'  class='form-control' type='text' required='' data-parsley-type='number'  value=\""+txt+"\"/>");
            }
            if ($idn==5) {
                $(this).html("").append("<input id='concentration_" +id+ "' name='concentration'  class='form-control' type='text' required='' data-parsley-type='number'  value=\""+txt+"\"/>");
            }
        });
    });

    $(".table").on('mousedown.save', "i.feather.icon-check-circle", function(e) {
        let row = $(this).closest("tr");
        console.log(row.attr('id'));
        let tds = row.find("td").not(':last');
        let  id=row.find("td").first().attr('id');
        console.log(tds);
        let regAddId = row.attr('data-name');

        $('#name_'+id).parsley().validate();
        $('#gSek_'+id).parsley().validate();
        $('#tYil_'+id).parsley().validate();
        $('#establishedQuota_'+id).parsley().validate();
        $('#concentration_'+id).parsley().validate();

        if( $('#name_'+id).parsley().isValid() &&
            $('#gSek_'+id).parsley().isValid() &&
            $('#tYil_'+id).parsley().isValid() &&
            $('#establishedQuota_'+id).parsley().isValid() &&
            $('#concentration_'+id).parsley().isValid()){
            var form = new FormData();
            $.each(tds, function(i, el) {
                var txt = $(this).find("input").val();
                var txtId = $(this).find("input").attr('name');
                form.append(txtId,txt);
                $(this).html(txt);
            });
            form.append('id',id);
            form.append('regAddId',regAddId);
            form.append("_csrf", _csrf);
            $(this).removeClass().addClass("feather icon-edit-1 mr-0");
            $.ajax({
                type: "POST",
                url:editLink,
                data:form,
                success: function(response){
                    console.log("res=" + response);
                },
                processData: false,
                contentType: false,
                cache:false
            });
        }
    });

</script>
</body>
</html>