<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <link rel="stylesheet" th:href="@{/static/datatables/css/datatables.min.css}">
</head>
<body class="layout-6">
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

<object th:include="fragments/header :: head" th:remove="tag" ></object>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ sample-page ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 th:text="#{mntr_objectExpertise_list}"></h5>
                                    </div>
                                    <div class="card-body">
                                        <form id="regIndividual" method="post" class="row">
                                            <div class="form-group col-sm-3">
                                                <label class="control-label"  th:text="#{mntr_objectExpertise.name}"></label><br/>
                                                <input type="text" class="form-control" id="name" />
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label"  th:text="#{mntr_objectExpertise.nameOz}"></label><br/>
                                                <input type="text" class="form-control" id="nameOz" />
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label"  th:text="#{mntr_objectExpertise.nameEn}"></label><br/>
                                                <input type="text" class="form-control" id="nameEn" />
                                            </div>
                                            <div class="form-group col-sm-3">
                                                <label class="control-label"  th:text="#{mntr_objectExpertise.nameRu}"></label><br/>
                                                <input type="text" class="form-control" id="nameRu" />
                                            </div>
                                            <div class="clearfix"></div>

                                            <div class="col-sm-12 text-right">
                                                <a href="#" onclick="getDatatableConnect();return false;" class="btn btn-info"><i class="feather icon-search"></i>
                                                    <span th:text="#{sys_search}">Поиск</span>
                                                </a>
                                                <a th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).ObjectExpertiseNew}" class="btn btn-success"><i class="feather icon-plus-square"></i>
                                                    <span th:text="#{mntr_objectExpertise.new}"></span>
                                                </a>
                                            </div>
                                        </form>
                                        <div class="table-responsive">
                                            <table id="object_expertise_table" class="display table nowrap table-striped table-hover" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th th:text="#{mntr_objectExpertise.name}">name</th>
                                                    <th th:text="#{mntr_objectExpertise.nameOz}">name</th>
                                                    <th th:text="#{mntr_objectExpertise.nameEn}">name</th>
                                                    <th th:text="#{mntr_objectExpertise.nameRu}">nameRu</th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

<div class="modal fade" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" th:text="#{mntr_objectExpertise.deleteReason}">Причина удаления</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="objExpertiseId" data-href="">
                    <textarea class="form-control" name="msg" id="deleteMessage" cols="30" rows="10"
                              th:placeholder="#{mntr_objectExpertise.deleteMessage}"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"
                        th:text="#{mntr_objectExpertise.cancelDelete}">Отмена</button>
                <button type="button" class="btn btn-danger" id="confirmDelete"
                        th:text="#{mntr_objectExpertise.confirmDelete}">Подтвердить удаление</button>
            </div>
        </div>
    </div>
</div>
<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
<script th:src="@{/static/datatables/datatables.min.js}"></script>
<script type="text/javascript" src="/static/parsley/parsley.min.js"></script>
<script th:src="@{'/static/parsley/i18n/' + __${#locale}__ + '.js'}" ></script>

<script th:inline="javascript">
    var editLink = [[${T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).ObjectExpertiseEdit}]];
    var viewLink = [[${T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).ObjectExpertiseView}]];
    var deleteLink = [[${T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).ObjectExpertiseDelete}]];
    function getCurrentLanguage() {
        return [[__${#locale}__]];
    }
</script>
<script th:inline="none">
    /*<![CDATA[*/

    var dataDatatableSelector;
    var thead;

    function renderActionsColumn(data, type, row, meta) {
        var currentEditLink = editLink + '?id=' + row[0];
        var currentViewLink = viewLink + '?id=' + row[0];
        var currentDeleteLink = deleteLink;
        var html = '';
        html += '<div class="btn-group mr-2" role="group" aria-label="First group">\n' +
            '             <a  href="'+currentViewLink+'" class="btn btn-sm btn-outline-info">\n' +
            '                    <i class="feather icon-eye" style="margin: 0px"></i>\n' +
            '            </a>\n' +
            '            <a href="'+currentEditLink+'"  class="btn btn-sm btn-outline-success">\n' +
            '                   <i class="feather icon-edit" style="margin: 0px"></i>\n' +
            '            </a>\n' +
            '            <a href="'+currentDeleteLink+'"  class="btn btn-sm btn-outline-danger delete" data-id="' + row[0] + '">\n' +
            '                   <i class="feather icon-delete" style="margin: 0px"></i>\n' +
            '            </a>\n' +
            '      </div>';
        return html;
    }

    function datatableConnect() {
        dataDatatableSelector.DataTable({
            processing: true,
            serverSide: true,
            scrollX: true,
            pageLength: 25,
            lengthMenu: [ [25, 500, 1000], [25, 500, 1000] ],
            order: [[0, 'desc']],
            dom: 'lrtip',
            ajax : function (dataToSend, callback, settings) {
                var api = this.api();
                var jqTable = $(api.table().node());

                dataToSend.page = api != undefined ? api.page() : 0;
                dataToSend.size = api != undefined ? api.page.len() : 25;

                dataToSend.name = $('#name').val();
                dataToSend.nameOz = $('#nameOz').val();
                dataToSend.nameEn = $('#nameEn').val();
                dataToSend.nameRu = $('#nameRu').val();
                dataToSend._csrf = $("#global_csrf").val();

                var order = api != undefined ? api.order() : [[1, 'desc']];
                dataToSend.sort = dataToSend.columns[ order[0][0] ].name + ',' + order[0][1];

                $.post("", dataToSend, function(data){
                    callback(data);
                });
            },
            columns: [
                {data: 0, name: 'id'},
                {data: 1, name: 'name'},
                {data: 2, name: 'nameOz'},
                {data: 3, name: 'nameEn'},
                {data: 4, name: 'nameRu'},
                {render: renderActionsColumn, orderable: false}
            ],
            language: {
                'url': '/static/datatables/lang_' + getCurrentLanguage() + '.json'
            }
        });
    }

    function getDatatableConnect() {
        dataDatatableSelector.DataTable().destroy();
        dataDatatableSelector.html(thead);
        datatableConnect();
    }

    $(document).ready(function () {
        dataDatatableSelector = $('#object_expertise_table');
        thead = dataDatatableSelector.html();
        datatableConnect();

        dataDatatableSelector.on('click', '.delete', function (e) {
            e.preventDefault();
            let ID = $(this).data('id');
            $('#deleteModal')
                .modal('show')
                .find('#objExpertiseId')
                .attr('data-href', $(this).attr('href'))
                .val(ID);
        });

        $('#confirmDelete').on('click', function () {
            let ID = $('#deleteModal #objExpertiseId').val();
            let msg = $('#deleteModal #deleteMessage').val();
            $.ajax({
                url: $('#deleteModal #objExpertiseId').data('href'),
                method: 'get',
                data: {id: ID, msg: msg},
                success: function (data) {
                    console.log(data);
                }
            }).done(function () {
                $('#deleteModal').modal('hide');
            })
        })
    });

    $('#object_expertise_table').css("width", "100%");
    /*]]>*/
</script>
</body>
</html>