<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <style>
        .navbar-dashboard {
            width: 100%;
            margin-left: 0px;
        }
    </style>
</head>
<body class="layout-6" style="background: #23b7e5;">

    <object th:include="fragments/header :: head" th:remove="tag" ></object>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container" style="margin-left: 0px;">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body" style="min-height: calc(100vh - 130px);padding: 80px 80px;">
                                            <div class="row" >
                                                <div class="col-md-6 col-xl-6" sec:authorize="hasAnyAuthority('EXPERTISE')">
                                                    <div class="card" style="box-shadow: 0px 0px 15px 5px rgba(69, 90, 100, 0.09);padding: 60px 25px;">
                                                        <a class="card-block text-center" href="/expertise/dashboard">
                                                            <i class="mdi mdi-book-open" style="font-size: 40px;padding-bottom: 25px;color: #23b8e5;"></i>
                                                            <h5  style="margin-top: 25px;" th:text="#{sys_expertise_dashboard}"></h5>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xl-6" sec:authorize="hasAnyAuthority('DOC_MANAGEMENT')">
                                                    <div class="card" style="box-shadow: 0px 0px 15px 5px rgba(69, 90, 100, 0.09);padding: 60px 25px;">
                                                        <a class="card-block text-center" href="/doc/dashboard">
                                                            <i class="mdi mdi-file-compare" style="font-size: 40px;padding-bottom: 25px;color: #1de9b6;"></i>
                                                            <h5  style="margin-top: 25px;" th:text="#{sys_doc_dashboard}"></h5>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 offset-3 col-xl-6" sec:authorize="hasAnyAuthority('ADMIN')">
                                                    <div class="card" style="box-shadow: 0px 0px 15px 5px rgba(69, 90, 100, 0.09);padding: 60px 25px;">
                                                        <a class="card-block text-center" href="/admin/dashboard">
                                                            <i class="mdi mdi-stack-overflow" style="font-size: 40px;padding-bottom: 25px;color: #3d8af7;"></i>
                                                            <h5  style="margin-top: 25px;" th:text="#{sys_admin_dashboard}"></h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
</body>
</html>