<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <style>
        .table{
            margin-bottom: 0px;
            width: 100%;
            background-color: transparent;
        }
    </style>
</head>
<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

    <object th:include="fragments/header :: head" th:remove="tag" ></object>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="card-dashboard">
                                <div class="card-header">
                                    <div class="header-top">
                                        <div class="img-block">
                                            <img src="static/images/icon/file.svg" alt="">
                                        </div>
                                        <div class="info">
                                            <div class="title-count">1 578</div>
                                            <div class="subtitle">количоства новых заявок </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="card-link">Подробно</a>
                                <a href="#" class="card-header-bottom">
                                    <div class="img-block">
                                        <img src="static/images/icon/statistic-icon.png" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="title">Статистика</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-dashboard">
                                <div class="card-header bgc-orange">
                                    <div class="header-top">
                                        <div class="img-block">
                                            <img src="static/images/icon/warning.svg" alt="">
                                        </div>
                                        <div class="info">
                                            <div class="title-count">1 578</div>
                                            <div class="subtitle">количоства новых заявок </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="card-link bgc-orange">Подробно</a>
                                <a href="#" class="card-header-bottom">
                                    <div class="img-block">
                                        <img src="static/images/icon/play-icon.png" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="title">Статистика</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-dashboard">
                                <div class="card-header bgc-red">
                                    <div class="header-top">
                                        <div class="img-block">
                                            <img src="static/images/icon/bell.svg" alt="">
                                        </div>
                                        <div class="info">
                                            <div class="title-count">1 578</div>
                                            <div class="subtitle">количоства новых заявок </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="card-link bgc-red">Подробно</a>
                                <a href="#" class="card-header-bottom">
                                    <div class="img-block">
                                        <img src="static/images/icon/pdf-icon.png" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="title">Статистика</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="m-b-30"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#" class="service-card">
                                <div class="img-block">
                                    <img src="static/images/icon/icon-1.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="title">Объект экспортизи</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="service-card">
                                <div class="img-block">
                                    <img src="static/images/icon/icon-2.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="title">Вид деятослность</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="service-card">
                                <div class="img-block">
                                    <img src="static/images/icon/icon-3.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="title">Форма экспертизы</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="service-card">
                                <div class="img-block">
                                    <img src="static/images/icon/icon-4.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="title">Категория деятельности</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#" class="service-card">
                                <div class="img-block">
                                    <img src="static/images/icon/icon-5.png" alt="">
                                </div>
                                <div class="info">
                                    <div class="title">МПЗП</div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
</body>
</html>