<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <style>
        .table{
            margin-bottom: 0px;
            width: 100%;
            background-color: transparent;
        }
    </style>
</head>
<body class="layout-6">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

    <object th:include="fragments/header :: head" th:remove="tag" ></object>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">

                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body" style="min-height: calc(100vh - 130px);">
                                            <div class="row" th:if="${logType!=null}">
                                                <div class="col-md-4">
                                                    <div class="card-dashboard">
                                                        <div class="card-header">
                                                            <div class="header-top min-h-125">
                                                                <div class="img-block">
                                                                    <img src="/static/images/icon/file.svg" alt="">
                                                                </div>
                                                                <div class="info">
                                                                    <div class="title-count text-right" th:if="NOT ${@userServiceImpl.isAdmin()}" th:text="${@regApplicationLogServiceImpl.getLogCount(0)}">0</div>
                                                                    <div class="subtitle text-right" th:utext="#{sys_dashboard.newApplication}">Количество новых заявок </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).ConfirmList}" class="card-link" th:text="#{sys_detail}"></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-dashboard">
                                                        <div class="card-header bgc-orange">
                                                            <div class="header-top min-h-125">
                                                                <div class="img-block">
                                                                    <img src="/static/images/icon/warning.svg" alt="">
                                                                </div>
                                                                <div class="info">
                                                                    <div class="title-count text-right">0</div>
                                                                    <div class="subtitle text-right" th:utext="#{sys_dashboard.expiringApplicationCount}">Количество заявок истекающие сроки </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).ConfirmList}" class="card-link bgc-orange" th:text="#{sys_detail}"></a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="card-dashboard">
                                                        <div class="card-header bgc-red">
                                                            <div class="header-top min-h-125">
                                                                <div class="img-block">
                                                                    <img src="/static/images/icon/bell.svg" alt="">
                                                                </div>
                                                                <div class="info">
                                                                    <div class="title-count text-right">0</div>
                                                                    <div class="subtitle text-right" th:utext="#{sys_dashboard.notCompletedOnTimeApplication}">Количество заявок не выполненные в сроки </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).ConfirmList}" class="card-link bgc-red" th:text="#{sys_detail}"></a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" sec:authorize="hasAnyAuthority('ADMIN')">

                                                <div class="col-md-4 col-xl-4">
                                                    <div class="card" style="box-shadow: 0px 0px 15px 5px rgba(69, 90, 100, 0.09);">
                                                        <a class="card-block text-center" th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).ObjectExpertiseList}">
                                                            <i class="mdi mdi-adobe" style="font-size: 40px;padding-bottom: 25px;color: #23b8e5;"></i>
                                                            <h5  style="margin-top: 25px;" th:text="#{mntr_objectExpertise_list}"></h5>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-xl-4">
                                                    <div class="card" style="box-shadow: 0px 0px 15px 5px rgba(69, 90, 100, 0.09);">
                                                        <a class="card-block text-center" th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).ActivityList}">
                                                            <i class="mdi mdi-stack-overflow" style="font-size: 40px;padding-bottom: 25px;color: #1de9b6;"></i>
                                                            <h5  style="margin-top: 25px;" th:text="#{mntr_activity_list}"></h5>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-xl-4">
                                                    <div class="card" style="box-shadow: 0px 0px 15px 5px rgba(69, 90, 100, 0.09);">
                                                        <a class="card-block text-center" th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).MaterialList}">
                                                            <i class="mdi mdi-file-compare" style="font-size: 40px;padding-bottom: 25px;color: #3d8af7;"></i>
                                                            <h5  style="margin-top: 25px;" th:text="#{sys_menu.materialList}"></h5>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-xl-4">
                                                    <div class="card" style="box-shadow: 0px 0px 15px 5px rgba(69, 90, 100, 0.09);">
                                                        <a class="card-block text-center" th:href="${T(uz.maroqand.ecology.cabinet.constant.mgmt.MgmtUrls).UsersList}">
                                                            <i class="feather icon-users" style="font-size: 60px;padding-bottom: 25px;color: #f4c22b"></i>
                                                            <h5  style="margin-top: 25px;" th:text="#{sys_menu.usersList}"></h5>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-xl-4">
                                                    <div class="card" style="box-shadow: 0px 0px 15px 5px rgba(69, 90, 100, 0.09);">
                                                        <a class="card-block text-center" th:href="${T(uz.maroqand.ecology.cabinet.constant.mgmt.MgmtUrls).MinWageList}">
                                                            <i class="mdi mdi-currency-usd" style="font-size: 40px;padding-bottom: 25px;color: #ff3823;"></i>
                                                            <h5  style="margin-top: 25px;" th:text="#{mgmt_min_wage}"></h5>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-xl-4">
                                                    <div class="card" style="box-shadow: 0px 0px 15px 5px rgba(69, 90, 100, 0.09);">
                                                        <a class="card-block text-center" th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).OfferList}">
                                                            <i class="mdi mdi-book-open" style="font-size: 40px;padding-bottom: 25px;color: #000000;"></i>
                                                            <h5  style="margin-top: 25px;" th:text="#{sys_menu.offerList}"></h5>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

<!--                                            <div class="row" >-->
<!--                                                <div class="col-md-4 col-xl-4">-->
<!--                                                    <div class="card" style="box-shadow: 0px 0px 15px 5px rgba(69, 90, 100, 0.09);">-->
<!--                                                        <a class="card-block text-center" href="#!">-->
<!--                                                            <i class="mdi mdi-chart-pie" style="font-size: 40px;padding-bottom: 25px;color: #3d8af7;"></i>-->
<!--                                                            <h5  style="margin-top: 25px;" th:text="#{sys_statistics}"></h5>-->
<!--                                                        </a>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-md-4 col-xl-4">-->
<!--                                                    <div class="card" style="box-shadow: 0px 0px 15px 5px rgba(69, 90, 100, 0.09);">-->
<!--                                                        <a class="card-block text-center" href="#!">-->
<!--                                                            <i class="mdi mdi-presentation-play" style="font-size: 40px;padding-bottom: 25px;color: #1de9b6;"></i>-->
<!--                                                            <h5  style="margin-top: 25px;" th:text="#{sys_video_instruction}"></h5>-->
<!--                                                        </a>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="col-md-4 col-xl-4">-->
<!--                                                    <div class="card" style="box-shadow: 0px 0px 15px 5px rgba(69, 90, 100, 0.09);">-->
<!--                                                        <a class="card-block text-center" href="#!">-->
<!--                                                            <i class="mdi mdi-file-pdf" style="font-size: 40px;padding-bottom: 25px;color: #f4c22b;"></i>-->
<!--                                                            <h5  style="margin-top: 25px;" th:text="#{sys_instruction}"></h5>-->
<!--                                                        </a>-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

    <object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
</body>
</html>