<div class="menu-wrapper">
    <div class="menu-left"></div>
    <div class="menu-block">
        <div class="menu-open-close-btn"></div>
        <ul>
            <li><a href="#" class="active">Главная</a></li>
            <li><a href="#"> О Лагере</a></li>
            <li><a href="#">Галерея</a></li>
            <li><a href="#">Родителям</a></li>
            <li><a href="#">Заказать путевку</a></li>
            <li><a href="#">Контакты</a></li>
            <li><a href="#">FAQ</a></li>
        </ul>
    </div>
    <div class="menu-right"></div>
</div>
<!--{% include "components/search.html" %}-->

