<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="action">
       <div class="card-block text-center" th:object="${comment}">
            <h5 th:text="#{sys_reg_application.result}"></h5>
       </div>

       <form method="post" action="" id="form">

           <div class="form-group row">
               <div class="col-md-3 text-right">
                   <label class="col-form-label"></label>
               </div>
               <div class="col-md-6">
                   <div class="custom-control custom-radio">
                       <input type="radio" id="budgetFalse" name="budget" value="0" class="custom-control-input" th:checked="${regApplication.budget!=null and regApplication.budget==false}" th:disabled="${regApplication.budget!=null}" >
                       <label class="custom-control-label" for="budgetFalse" th:text="#{sys_budget.false}"> </label>
                   </div>
                   <div class="custom-control custom-radio">
                       <input type="radio" id="budgetTrue" name="budget" value="1" class="custom-control-input" th:checked="${regApplication.budget!=null and regApplication.budget==true}" th:disabled="${regApplication.budget!=null}" >
                       <label class="custom-control-label" for="budgetTrue" th:text="#{sys_budget.true}"> </label>
                   </div>
               </div>
           </div>

           <div class="form-group row">
               <div class="col-md-3 text-right">
                   <label class="col-form-label" th:text="#{sys_reg_application.comments}"></label>
               </div>
               <div class="col-md-6">
                   <textarea class="form-control" rows="8" th:field="${regApplicationLog.comment}" maxlength="1000"></textarea>
               </div>
           </div>
           <input type="hidden" name="id" th:value="${regApplication.id}">
           <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

           <div class="form-group row">
               <div class="col-md-3 text-right">
                   <label class="col-form-label"></label>
               </div>
               <div class="col-md-6">
                   <div th:if="${regApplicationLog.status==T(uz.maroqand.ecology.core.constant.expertise.LogStatus).Denied || status==T(uz.maroqand.ecology.core.constant.expertise.LogStatus).Denied}" class="alert alert-danger" th:text="#{sys_message_application_denied}"></div>
                   <div th:if="${regApplicationLog.status==T(uz.maroqand.ecology.core.constant.expertise.LogStatus).Approved || status==T(uz.maroqand.ecology.core.constant.expertise.LogStatus).Approved}" class="alert alert-success" th:text="#{sys_message_application_approved}"></div>
               </div>
           </div>

           <div class="row">
               <div class="form-group col-md-12 text-center" th:if="${regApplicationLog.status==T(uz.maroqand.ecology.core.constant.expertise.LogStatus).Initial}" id="buttons-1">
                   <button class="btn btn-danger" type="submit" onclick="setAction(2)" th:text="#{sys_notConfirm}"></button>
                   <button class="btn btn-primary" type="submit" onclick="setAction(1)" th:text="#{sys_confirm}"></button>
               </div>

               <div class="form-group col-md-12 text-center" th:if="${regApplicationLog.status!=T(uz.maroqand.ecology.core.constant.expertise.LogStatus).Initial}">
                   <button class="btn btn-danger" type="submit" th:text="#{sys_change_status}"></button>
                   <a class="btn btn-primary" href="/expertise/confirm/list" th:text="#{sys_home_url}"></a>
               </div>

           </div>
       </form>
</body>
</html>