<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" th:href="@{/static/modal-window-effects/css/md-modal.css}">
    <link rel="stylesheet" href="/static/ol/ol.css">

    <style>
        .table td, .table th{
            white-space: pre-line;
        }
        .datepicker>.datepicker-days {
            display: block;
        }
    </style>
</head>
<body class="layout-6">
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

<object th:include="fragments/header :: head" th:remove="tag" ></object>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ sample-page ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body" style="min-height: calc(100vh - 130px);">
                                        <h5 th:text="#{reg_application_number}+': ' + ${regApplication.id}"></h5>
                                        <hr>
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link show" id="applicant-tab" data-toggle="tab" href="#applicant" role="tab" aria-controls="applicant" aria-selected="true" th:text="#{general_info}"></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link show" id="expertise-tab" data-toggle="tab" href="#expertise" role="tab" aria-controls="expertise" aria-selected="false" th:text="#{sys_expertise}"></a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link show" id="conclusion-tab" data-toggle="tab" href="#confirmation" role="tab" aria-controls="confirmation" aria-selected="false" th:text="#{sys_confirmation}"></a>
                                            </li>
                                        </ul>
                                        <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade" id="applicant" role="tabpanel" aria-labelledby="applicant-tab">
                                                <object th:include="expertise/fragment/applicant :: applicant" th:remove="tag"></object>
                                                <div class="form-group row">
                                                    <div class="col-md-12 text-center" id="tab-control-buttons">
                                                        <a class="btn btn-danger text-white" href="/expertise/confirm/list" th:text="#{sys_back}"></a>
                                                        <a class="btn btn-primary text-white btnNext" th:text="#{sys_next}"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="expertise" role="tabpanel" aria-labelledby="expertise-tab">
                                                <object th:include="expertise/fragment/expertise :: expertise" th:remove="tag"></object>
                                            </div>
                                            <div class="tab-pane fade" id="confirmation" role="tabpanel" aria-labelledby="confirmation-tab">
                                                <object th:include="expertise/confirm/action :: action" th:remove="tag"></object>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
<script type="text/javascript" th:inline="javascript">

    $(document).ready(function() {
        var hash = window.location.hash;
        if (hash.length === 0) {
            hash = '#applicant';
        }
        $('.nav-link[href="'+hash+'"]').addClass('active');
        $(hash).addClass('active show');
    });

    function setAction(actionNumber) {
        if (actionNumber === 1){
            $('#cofirm-form').attr('action',[[${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).ConfirmApproved}]]);
        }
        if (actionNumber === 2) {
            $('#cofirm-form').attr('action',[[${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).ConfirmDenied}]]);
        }
        if($('#budgetTrue').is(':checked') || $('#budgetFalse').is(':checked')) {
            $('#cofirm-form').submit();
        }else {
            alert("Tashkilot turi tanlanmagan");
        }
    }

    function setActionEdit(actionNumber) {
        if (actionNumber === 1){
            $('#cofirm-edit-form').attr('action',[[${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).ConfirmApprovedEdit}]]);
        }
        if (actionNumber === 2) {
            $('#cofirm-edit-form').attr('action',[[${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).ConfirmDeniedEdit}]]);
        }
        $('#cofirm-edit-form').submit();
    }

    $('.btnNext').click(function() {
        $('.nav-tabs .active').parent().next('li').find('a').trigger('click');
    });

    $('.btnPrevious').click(function() {
        $('.nav-tabs .active').parent().prev('li').find('a').trigger('click');
    });

</script>

<script src="/static/ol/ol.js" type="text/javascript"></script>
<script th:inline="javascript" th:if="${coordinate!=null}">
    var coordinateLatLongList = [[${coordinateLatLongList}]];
    var coordinateLat = [[${coordinate.latitude}]];
    var coordinateLong = [[${coordinate.longitude}]];

    var coordinateLongText = [[#{coordinate_long}]];
    var coordinateLatText = [[#{coordinate_lat}]];


</script>
<script th:if="${coordinate!=null}">
    var Map = ol.Map;
    var View = ol.View;
    var Draw = ol.interaction.Draw;
    var TileLayer = ol.layer.Tile;
    var VectorLayer = ol.layer.Vector;
    var OSM = ol.source.OSM;
    var VectorSource = ol.source.Vector;

    var raster = new TileLayer({
        source: new OSM()
    });

    var source = new VectorSource({wrapX: false});

    var vector = new VectorLayer({
        source: source
    });

    var polyCoords = [];
    // var coords = "41.30881,69.28178 41.30860,69.28136 41.30790,69.28209 41.30812,69.28250".split(' ');
    // var coords = "69.28178,41.30881 69.28136,41.30860 69.28209,41.30790 69.28250,41.30812".split(' ');
    var coords = [];

    coords.push(coordinateLat + "," + coordinateLong);
    for(var i in coordinateLatLongList){
        coords.push(coordinateLatLongList[i].latitude + "," + coordinateLatLongList[i].longitude);
    }

    for (var i in coords) {
        var c = coords[i].split(',');
        polyCoords.push(ol.proj.transform([parseFloat(c[0]), parseFloat(c[1])], 'EPSG:4326', 'EPSG:3857'));

        /*$('#mapModal').append('<div class="col-md-12 row form-group">\n' +
            '                                                <div class="col-md-2">\n' +
            '                                                    <h4 class="text-right pad-top">#'+(parseInt(i)+1)+'</h4>\n' +
            '                                                </div>\n' +
            '                                                <div class="col-md-3">\n' +
            '                                                    <input type="text" class="form-control" readonly="" value="'+parseFloat(c[1])+'">\n' +
            '                                                </div>\n' +
            '                                                <div class="col-md-3 offset-md-2">\n' +
            '                                                    <input type="text" class="form-control" readonly="" value="'+parseFloat(c[0])+'">\n' +
            '                                                </div>\n' +
            '                                            </div>')*/
    }

    var feature = new ol.Feature({
        geometry: new ol.geom.Polygon([polyCoords])
    });

    var layer = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: [feature]
        })
    });


    var map = new Map({
        layers: [raster, vector, layer],
        target: 'map',
        view: new View({
            // center: ol.proj.fromLonLat([coordinateLat, coordinateLong]),
            center: ol.proj.transform([parseFloat(coordinateLat), parseFloat(coordinateLong)], 'EPSG:4326', 'EPSG:3857'),
            zoom: 16
        })
    });

    var draw = new Draw({
        source: source,
        type: "Polygon"
    });
    // map.addInteraction(draw);

    map.on("click", function () {
        var features = vector.getSource().getFeatures();
        features.forEach(function (feature) {
            console.log(feature.getGeometry().getCoordinates()[0][0]);
            var lonlat = new ol.proj.toLonLat(feature.getGeometry().getCoordinates()[0][0]);
            console.log(lonlat[0]);
            console.log(lonlat[1]);
        })
    });

    document.addEventListener('keydown', function(e) {
        if (e.which == 8)
            vector.getSource().clear();
    });

    $('#openMapModal').on('click',function () {
        setTimeout( function() { map.updateSize();}, 200);
    })

</script>
</body>
</html>