<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
</head>
<body>
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->
<!---->
<object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

<object th:include="fragments/header :: head" th:remove="tag" ></object>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ sample-page ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5><span th:text="#{mntr_activity_view}"></span><span th:text="${':' + activity.id}"></span></h5>
                                    </div>
                                    <div class="card-block">
                                        <div class="col-sm-12">
                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link text-uppercase show active" id="activity-tab" data-toggle="tab" href="#activity" role="tab" aria-controls="activity" aria-selected="true"><span th:text="#{mntr_activity_info}"></span></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link text-uppercase show" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false"><span th:text="#{sys_history}"></span></a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="myTabContent" style="padding: 15px 5px;">
                                                <div class="tab-pane fade active show" id="activity" role="tabpanel" aria-labelledby="activity-tab">
                                                    <div class="table-responsive">
                                                        <table class="table table-hover" th:object="${activity}">
                                                            <thead>
                                                            <tr>
                                                                <th colspan="2" class="text-center"><h5 th:text="#{mntr_activity_info}"></h5></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <th style="width: 50%" class="text-right"><span th:text="#{mntr_activity.name}"></span>:</th>
                                                                <td style="width: 50%" class="text-left"><span th:text="*{name}"></span></td>
                                                            </tr>
                                                            <tr>
                                                                <th style="width: 50%" class="text-right"><span th:text="#{mntr_activity.nameOz}"></span>:</th>
                                                                <td style="width: 50%" class="text-left"><span th:text="*{nameOz}"></span></td>
                                                            </tr>
                                                            <tr>
                                                                <th style="width: 50%" class="text-right"><span th:text="#{mntr_activity.nameEn}"></span>:</th>
                                                                <td style="width: 50%" class="text-left"><span th:text="*{nameEn}"></span></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right"><span th:text="#{mntr_activity.nameRu}"></span>:</th>
                                                                <td class="text-left"><span th:text="*{nameRu}"></span></td>
                                                            </tr>
                                                            <tr>
                                                                <th class="text-right"><span th:text="#{mntr_activity.category}"></span>:</th>
                                                                <td class="text-left"><span th:text="*{category}"></span></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->

<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
<script th:inline="javascript">
    var html;
    var table;
    var tableUserAdditional='';
    $(document).ready(function () {
        html='<div class="col-sm-12"><div class="accordion" id="accordionExample">';
            $.each([[${beforeAndAfterList}]],function (val,elem) {
                console.log("val==" + val + " elem==" + elem["after"].id);
                var divId = 'collapse-' + val + '-' + elem["after"].id;
                var headingId = 'heading-' + val + '-' + elem["after"].id;
                var beforeActivityName='';
                var beforeActivityNameOz='';
                var beforeActivityNameEn='';
                var beforeActivityNameRu='';
                var beforeActivityCategory='';

                if (elem["before"]!=null) {
                    beforeActivityName = elem["before"].name;
                    beforeActivityNameOz = elem["before"].nameOz;
                    beforeActivityNameEn = elem["before"].nameEn;
                    beforeActivityNameRu = elem["before"].nameRu;
                    beforeActivityCategory = elem["before"].category;
                }
                var afterActivityName=elem["after"].name;
                var afterActivityNameOz=elem["after"].nameOz;
                var afterActivityNameEn=elem["after"].nameEn;
                var afterActivityNameRu=elem["after"].nameRu;
                var afterActivityCategory=elem["after"].category;
                console.log(elem["userAdditional"]);
                if (elem["userAdditional"]!=null){
                    tableUserAdditional = '<table class="table table-columned" >' +
                        '                       <thead>' +
                        '                           <tr class="text-center">' +
                        '                               <th>'+[[#{user_name}]]+'</th>' +
                        '                               <th>'+[[#{sys_info}]]+'</th>' +
                        '                               <th>'+[[#{sys_ipClient}]]+'</th>' +
                        '                               <th> '+[[#{sys_userAgent}]]+'</th>' +
                        '                               <th>'+[[#{sys_loginType}]]+'</th>' +
                        '                           </tr>' +
                        '                       </thead>' +
                        '                       <tbody>' +
                        '                               <td>'+elem["userName"]+'</td>' +
                        '                               <td style="word-break: break-all; width: 30%">'+elem["userAdditional"].info+'</td>' +
                        '                               <td>'+elem["userAdditional"].ipClient+'</td>' +
                        '                               <td>'+elem["userAdditional"].userAgent+'</td>' +
                        '                               <td>'+[[#{sys_loginType_}]] + elem["userAdditional"].loginType+'</td>' +
                        '                       </tbody>' +
                        '                   </table>';
                }

                table=' <table class="table info-table" >\n' +
                    '       <thead>\n' +
                    '           <tr>\n' +
                    '               <th  class="text-right" style="width: 30%"><h5></h5></th>\n' +
                    '               <th  class="text-center" style="width: 35%"><h5>'+[[#{sys_before}]]+'</h5></th>\n' +
                    '               <th  class="text-center" style="width: 35%"><h5>'+[[#{sys_after}]]+'</h5></th>\n' +
                    '           </tr>\n' +
                    '       </thead>' +
                    '       <tbody>' +
                    '           <tr>' +
                    '               <td class="text-right"><span>'+[[#{mntr_activity.name}]]+'</span>:</td>\n' +
                    '               <td class="text-center"><span>'+beforeActivityName+'</span></td>\n' +
                    '               <td class="text-center"><span>'+afterActivityName+'</span></td>\n' +
                    '           </tr>' +
                    '           <tr>' +
                    '               <td class="text-right"><span>'+[[#{mntr_activity.nameOz}]]+'</span>:</td>\n' +
                    '               <td class="text-center"><span>'+beforeActivityNameOz+'</span></td>\n' +
                    '               <td class="text-center"><span>'+afterActivityNameOz+'</span></td>\n' +
                    '           </tr>' +
                    '           <tr>' +
                    '               <td class="text-right"><span>'+[[#{mntr_activity.nameEn}]]+'</span>:</td>\n' +
                    '               <td class="text-center"><span>'+beforeActivityNameEn+'</span></td>\n' +
                    '               <td class="text-center"><span>'+afterActivityNameEn+'</span></td>\n' +
                    '           </tr>' +
                    '           <tr>' +
                    '               <td class="text-right"><span>'+[[#{mntr_activity.nameRu}]]+'</span>:</td>\n' +
                    '               <td class="text-center"><span>'+beforeActivityNameRu+'</span></td>\n' +
                    '               <td class="text-center"><span>'+afterActivityNameRu+'</span></td>\n' +
                    '           </tr>' +
                    '           <tr>' +
                    '               <td class="text-right"><span>'+[[#{mntr_activity.category}]]+'</span>:</td>\n' +
                    '               <td class="text-center"><span>'+beforeActivityCategory+'</span></td>\n' +
                    '               <td class="text-center"><span>'+afterActivityCategory+'</span></td>\n' +
                    '           </tr>' +
                    '           </tbody>' +
                    '</table>';


                html+='  <div class="card" style="margin:5px 0px; border: 0.5px solid #dee2e6;" >\n' +
                    '       <div id="'+headingId+'">\n' +
                    '           <button class="btn btn-link collapsed btn-block text-left" type="button" data-toggle="collapse" data-target="#'+divId+'" aria-expanded="false" aria-controls="'+divId+'">' +
                    '               <span>'+elem["registeredDate"]+'</span>&nbsp; - &nbsp;' +
                    '               <span>'+elem["userName"]+'</span>' +
                    '           </button>\n' +
                    '       </div>\n' +
                    '       <div id="'+divId+'" class="card-body collapse" aria-labelledby="'+headingId+'" data-parent="#accordionExample" >' +
                    '           <div class="table-responsive">' +
                    table +
                    '           </div>'+
                    '           </br><h5 class="text-center">UserAdditional info</h5>' +
                    '           <div class="table-responsive text-nowrap">' +
                    tableUserAdditional+
                    '           </div>' +
                    '       </div>\n' +
                    '   </div>';
            });
        html+='</div></div>';
        $('#history').append(html);
        audit();
    });

    function audit() {
        $('.info-table tbody').find('tr').each(function () {
            var td = $(this).find('td');
            if(td.length > 2 && ($(td[1]).html() != $(td[2]).html())) {
                $(td[1]).addClass('table-success');
                $(td[2]).addClass('table-success');
            }
        });
    }

</script>
</body>
</html>