<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
</head>
<body th:fragment="bank">
    <style>
       p{
           margin-bottom: 0px
        }
    </style>
<div class="col-md-10" style="float: none; margin: 15px auto;">

    <div class="row mb-3">
        <div class="col-md-6 offset-2 text-center">
            <h3>КВИТАНЦИЯ</h3>
        </div>
        <div class="col-md-4 text-right">
            <button type="button" class="btn btn-primary" onclick="$('#bank-for-print').printThis();">
                <span>Распечатать квитанцию</span>
                <i class="mdi mdi-printer"></i>
            </button>
        </div>
    </div>

    <div class="row mr-0 ml-0" id="bank-for-print">
        <table style="width: 100%; border-top: 2px dashed black; border-right: 2px dashed black;  border-left: 2px dashed black;">
            <tbody>
            <tr>
                <td style="border-right: 2px solid black; width: 15%; vertical-align: top;">
                    <p style="text-align: center; font-size: 11px;">Уведомление</p>
                </td>
                <td style="vertical-align: top;">
                    <table style="width: 99%; text-align: left; margin-left: 5px;font-size: 12px; ">
                        <tbody>
                        <tr>
                            <td colspan="2" class="pt-2">
                                <p style="text-align: center;  font-size: 12px; border-bottom: 2px solid rgb(0, 0, 0);">
                                    <span> ГУП "ЦЕНТР ГОСУДАРСТВЕННОЙ ЭКОЛОГИЧЕСКОЙ ЭКСПЕРТИЗЫ РЕСПУБЛИКИ УЗБЕКИСТАН"</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="pt-2">
                                <span>Принимающий платеж</span>
                            </td>
                            <td class="pt-2">
                                <p style="text-align: center;  font-size: 12px; border-bottom: 2px solid rgb(0, 0, 0);">
                                    <span> ГУП "ЦЕНТР ГОСУДАРСТВЕННОЙ ЭКОЛОГИЧЕСКОЙ ЭКСПЕРТИЗЫ РЕСПУБЛИКИ УЗБЕКИСТАН"</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table style="width: 100%; text-align: left; font-size: 12px;">
                                    <tbody>
                                    <tr>
                                        <td style="width: 20%;" class="pt-2">
                                            <span>Расчетный счет получателя</span>
                                        </td>
                                        <td style="width: 30%;border-bottom: 2px solid rgb(0, 0, 0);">
                                        </td>
                                        <td style="width: 15%;" class="pr-2 pb-0 text-right">
                                            <span>ИНН</span>
                                        </td>
                                        <td style="width: 30%;border-bottom: 2px solid rgb(0, 0, 0);">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 20%" class="pt-2">
                                            <span>Адрес получателя</span>
                                        </td>
                                        <td style="width: 30%;border-bottom: 2px solid rgb(0, 0, 0);">
                                        </td>
                                        <td style="width: 15%;" class="pr-2 pb-0 text-right">
                                            <span>МФО</span>
                                        </td>
                                        <td style="width: 30%;border-bottom: 2px solid rgb(0, 0, 0);">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pt-2">
                                <p style="text-align: center;  font-size: 12px; border-bottom: 2px solid rgb(0, 0, 0);">
                                    <span> ООО "151-QURILISH MONTAJ POYEZDI"</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; color: black" class="pt-2">
                                <span>ИНВОЙС</span>
                            </td>
                            <td style="font-weight: bold;text-align: center; color: black" class="pt-2 ">
                                <span>87711994645926</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table style="width: 100%;" class="table table-bordered">
                                    <tr style="border: 1px lightgrey solid">
                                        <td style="width: 60%" class="text-left">
                                           <span>Форма оплаты</span>
                                        </td>
                                        <td style="width: 20%" class="text-center">
                                            <span>Дата</span>
                                        </td>
                                        <td style="width: 20%" class="text-center">
                                            <span>Сумма</span>
                                        </td>
                                    </tr>
                                    <tr s>
                                        <td style="width: 60%" class="text-left">
                                            <span>12 на основе цифрового соглашения</span>
                                        </td>
                                        <td style="width: 20%" class="text-center">
                                            <span>03.05.2019</span>
                                        </td>
                                        <td style="width: 20%" class="text-center">
                                            <span>4 054 600.00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 80%" class="text-left" colspan="2">
                                            <span>Общая сумма</span>
                                        </td>
                                        <td style="width: 20%" class="text-center">
                                            <span>4 054 600.00</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-right: 2px solid black; border-top: 2px solid black; border-bottom: 2px dashed black; width: 15%; vertical-align: top;">
                    <p style="text-align: center; font-size: 11px;">Уведомление</p>
                </td>
                <td style="vertical-align: top;border-top: 2px solid black;border-bottom: 2px dashed black;">
                    <table style="width: 99%; text-align: left; margin-left: 5px;font-size: 12px; ">
                        <tbody>
                        <tr>
                            <td colspan="2" class="pt-2">
                                <p style="text-align: center;  font-size: 12px; border-bottom: 2px solid rgb(0, 0, 0);">
                                    <span> ГУП "ЦЕНТР ГОСУДАРСТВЕННОЙ ЭКОЛОГИЧЕСКОЙ ЭКСПЕРТИЗЫ РЕСПУБЛИКИ УЗБЕКИСТАН"</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td class="pt-2">
                                <span>Принимающий платеж</span>
                            </td>
                            <td class="pt-2">
                                <p style="text-align: center;  font-size: 12px; border-bottom: 2px solid rgb(0, 0, 0);">
                                    <span> ГУП "ЦЕНТР ГОСУДАРСТВЕННОЙ ЭКОЛОГИЧЕСКОЙ ЭКСПЕРТИЗЫ РЕСПУБЛИКИ УЗБЕКИСТАН"</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table style="width: 100%; text-align: left; font-size: 12px;">
                                    <tbody>
                                    <tr>
                                        <td style="width: 20%;" class="pt-2">
                                            <span>Расчетный счет получателя</span>
                                        </td>
                                        <td style="width: 30%;border-bottom: 2px solid rgb(0, 0, 0);">
                                        </td>
                                        <td style="width: 15%;" class="pr-2 pb-0 text-right">
                                            <span>ИНН</span>
                                        </td>
                                        <td style="width: 30%;border-bottom: 2px solid rgb(0, 0, 0);">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 20%" class="pt-2">
                                            <span>Адрес получателя</span>
                                        </td>
                                        <td style="width: 30%;border-bottom: 2px solid rgb(0, 0, 0);">
                                        </td>
                                        <td style="width: 15%;" class="pr-2 pb-0 text-right">
                                            <span>МФО</span>
                                        </td>
                                        <td style="width: 30%;border-bottom: 2px solid rgb(0, 0, 0);">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="pt-2">
                                <p style="text-align: center;  font-size: 12px; border-bottom: 2px solid rgb(0, 0, 0);">
                                    <span> ООО "151-QURILISH MONTAJ POYEZDI"</span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: bold; color: black" class="pt-2">
                                <span>ИНВОЙС</span>
                            </td>
                            <td style="font-weight: bold;text-align: center; color: black" class="pt-2 ">
                                <span>87711994645926</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table style="width: 100%;" class="table table-bordered">
                                    <tr style="border: 1px lightgrey solid">
                                        <td style="width: 60%" class="text-left">
                                           <span>Форма оплаты</span>
                                        </td>
                                        <td style="width: 20%" class="text-center">
                                            <span>Дата</span>
                                        </td>
                                        <td style="width: 20%" class="text-center">
                                            <span>Сумма</span>
                                        </td>
                                    </tr>
                                    <tr s>
                                        <td style="width: 60%" class="text-left">
                                            <span>12 на основе цифрового соглашения</span>
                                        </td>
                                        <td style="width: 20%" class="text-center">
                                            <span>03.05.2019</span>
                                        </td>
                                        <td style="width: 20%" class="text-center">
                                            <span>4 054 600.00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 80%" class="text-left" colspan="2">
                                            <span>Общая сумма</span>
                                        </td>
                                        <td style="width: 20%" class="text-center">
                                            <span>4 054 600.00</span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-10 offset-1 mt-lg-5">
        <button type="button" class="btn btn-danger float-left pl-lg-5 pr-lg-5"><span th:text="#{sys_back}"></span></button>
        <button type="button" class="btn btn-primary float-right pl-lg-5 pr-lg-5"><span th:text="#{sys_next}"></span></button>
    </div>
</div>
<!-- /top navigation -->
</body>
</html>