<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="top">

<meta charset="UTF-8">
<title th:text="#{sys_site_main_title}"></title>
<!-- Meta -->
<meta charset="utf-8">
<meta name="description" content="" />
<meta name="keywords" content="">
<meta name="author" content="MAROQAND LLC" />

<!-- Favicon icon -->
<link rel="icon" href="/static/images/logo-main.png" type="image/x-icon">
<!-- fontawesome icon -->
<link rel="stylesheet" href="/static/fonts/fontawesome/css/fontawesome-all.min.css">
<!-- animation css -->
<!--<link rel="stylesheet" href="/static/plugins/animation/animate.min.css">-->
<!-- prism css -->
<link rel="stylesheet" href="/static/plugins/prism/css/prism.min.css">
<!-- vendor css -->
<link rel="stylesheet" href="/static/plugins/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/toastr/toastr.min.css">
<link rel="stylesheet" href="/static/css/style.css?v=1.2">

</body>
</html>