<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" th:href="@{/static/modal-window-effects/css/md-modal.css}">
    <link rel="stylesheet" href="/static/ol/ol.css">
</head>
<body class="layout-6">
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

<object th:include="fragments/header :: head" th:remove="tag" ></object>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ sample-page ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 th:text="#{contract.view}"></h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group  text-center" style="border: 1px dashed #b7c5d4;width: 95%; padding: 40px 20px;margin: 0 auto" id="contract">
                                            <!--                                            <p style="font-weight: bold" th:utext="#{text1}"></p>-->
                                            <div style="text-align: justify" th:if="${offer.tagName!=null}" th:utext="#{${offer.tagName}}"></div>
                                            <!--                                            <div class="container-fluid mt-lg-3" th:if="${offer.id!=null}">-->
                                            <!--                                                <img th:src="${T(uz.maroqand.ecology.ecoexpertise.constant.sys.SysUrls).GetQRImage + '?id=' + offer.documentRepoId+'&rid='+regApplication.id}" class="qr-code" />-->
                                            <!--                                            </div>-->
                                            <div class="row">
                                                <div class="col-sm">
                                                    <table class="table-bordered"  th:utext="#{'contract_'+ ${offer.tagName}}">
<!--                                                        <thead>-->
<!--                                                        <tr>-->
<!--                                                            <th colspan="2"> Podpisan ETSP kluchom</th>-->
<!--                                                        </tr>-->
<!--                                                        </thead>-->
<!--                                                        <tr>-->
<!--                                                            <th>address</th>-->
<!--                                                            <td> amir temur</td>-->
<!--                                                        </tr>-->
<!--                                                        <tr>-->
<!--                                                            <th>tel</th>-->
<!--                                                            <td>+998 99 798 45 46</td>-->
<!--                                                        </tr>-->
<!--                                                        <tr>-->
<!--                                                            <th>р/с:</th>-->
<!--                                                            <td>2021 0000 0001 1801 4007</td>-->
<!--                                                        </tr>-->
<!--                                                        <tr>-->
<!--                                                            <th>Bank</th>-->
<!--                                                            <td>в «Узсаноаткурилишбанк»-->
<!--                                                                Яшнабадский филиал-->
<!--                                                            </td>-->
<!--                                                        </tr>-->
<!--                                                        <tr>-->
<!--                                                            <th>МФО:</th>-->
<!--                                                            <td>00432</td>-->
<!--                                                        </tr>-->
<!--                                                        <tr>-->
<!--                                                            <th>город:</th>-->
<!--                                                            <td>Ташкент</td>-->
<!--                                                        </tr>-->
<!--                                                        <tr>-->
<!--                                                            <th>ИНН:</th>-->
<!--                                                            <td>200934834</td>-->
<!--                                                        </tr>-->
<!--                                                        <tr>-->
<!--                                                            <th>ОКЭД:</th>-->
<!--                                                            <td>71200</td>-->
<!--                                                        </tr>-->
<!--                                                        <tr>-->
<!--                                                            <th colspan="2"> <span th:text="#{sys_authenticated_by_etsp}"></span></th>-->
<!--                                                        </tr>-->
                                                    </table>
                                                </div>
                                                <div class="col-sm">
                                                    <table class="table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th colspan="2">
                                                                <span th:text="#{sys.client.info}"></span>
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tr>
                                                            <th th:text="#{sys_address}"></th>
                                                            <td th:text="${client.address}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th th:text="#{sys_phone}"></th>
                                                            <td th:text="${client.phone}"></td>
                                                        </tr>
                                                        <tr>
                                                            <th><span th:text="#{sys_client_bank.account}"></span></th>
                                                            <td><span th:text="${client.bankAccount}"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th><span th:text="#{sys_client_bank.name}"></span></th>
                                                            <td><span th:text="${client.bankName}"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th><span th:text="#{sys_client_mfo}"></span></th>
                                                            <td><span th:text="${client.mfo}"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th><span th:text="#{sys_client_region}"></span></th>
                                                            <td><span th:text="${@soatoServiceImpl.getById(client.regionId).name} "></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th><span th:text="#{sys_client_tin}"></span></th>
                                                            <td><span th:text="${client.tin}"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th><span th:text="#{sys_client_oked}"></span></th>
                                                            <td><span th:text="${client.oked}"></span></td>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="2"> <span th:text="#{sys_authenticated_by_etsp}"></span></th>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="container-fluid mt-lg-3"
                                                     th:if="${regApp.offerId!=null}">
                                                    <img th:if="${offer.documentRepoId!=null}"
                                                         th:src="${T(uz.maroqand.ecology.cabinet.constant.sys.SysUrls).GetQRImageOffer + '?id=' + @offerServiceImpl.getById(regApp.offerId).documentRepoId+'&rid='+regApp.id}"
                                                         class="qr-code"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
<script type="text/javascript" src="/static/js/form.js?v=28122016"></script>
<script type="text/javascript" src="/static/parsley/parsley.min.js"></script>
<script th:src="@{'/static/parsley/i18n/' + __${#locale}__ + '.js'}"></script>
<script type="text/javascript" src="/static/plugins/printThis.js"></script>


</body>
</html>