<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="conclusion">
<style>
    p{
        margin-bottom: 4px !important;
        padding-top: 1px !important;
    }
    div .image {
        text-align: center !important;
    }
</style>
  <div class="card-block" id="conclusion-for-print"  style=" width: 100%;height: 29.7cm;" th:if="${conclusion!=null && conclusion.conclusionWordFileId!=null}">
      <iframe th:src="${'http://docs.google.com/gview?url=http://cb.eco-service.uz/expertise/conclusion/reg_word_file_download_for_view?id='+conclusion.id+'_' + conclusion.conclusionWordFileId +'&amp;embedded=true'}" style="width: 100%;height: 100%;"> </iframe>
</div>

<div class="card-block" id="conclusion-for-print" th:if="${conclusion!=null && conclusion.conclusionWordFileId==null}">
    <div th:if="${conclusion.conclusionFileId==null}">

        <p th:utext="${#strings.replace(conclusion.htmlText,'contenteditable','')}"></p>
        <p><span th:text="#{sys_conclusion_number}"></span> <span th:text="${conclusion.number}"></span> </p>
        <p><span th:text="#{sys_conclusion_date}"></span> <span th:text="${conclusion.date!=nul? #dates.format(conclusion.date,'dd.MM.yyyy'):''}"></span> </p>
        <p th:if="${documentRepo}"> <span th:text="#{sys_documentRepo_info}"></span> </p>
        <img th:src="${T(uz.maroqand.ecology.cabinet.constant.sys.SysUrls).GetQRImage + '?id=' + conclusion.documentRepoId}" class="qr-code" />
        <p th:if="${documentRepo}"> <span th:text="#{sys_documentRepo_id}"></span> <span th:text="${documentRepo.id}"></span> </p>
        <p th:if="${documentRepo}"> <span th:text="#{sys_documentRepo_code}"></span> <span th:text="${documentRepo.code}"></span> </p>
    </div>

    <div th:if="${conclusion.conclusionFileId!=null}" class="text-justify" style="border: #6e45e2 1px dashed;  height: 500px; width: 100%; overflow-y: auto; padding: 0px; margin-bottom: 10px" >
        <iframe th:src="${'http://docs.google.com/gview?url=http://cb.eco-service.uz/expertise/conclusion/file_download_for_view?id='+conclusion.id+'&amp;embedded=true'}" style="width: 100%;height: 100%;"></iframe>
    </div>

</div>

</body>
</html>