<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <link rel="stylesheet" th:href="@{/static/modal-window-effects/css/md-modal.css}">
    <link rel="stylesheet" href="/static/ol/ol.css">
    <style>
        .pad-top{
            padding-top: calc(.375rem + 1px);
        }
        .border-bottom-styled {
            border-bottom: 1px solid #000;
            width: 100%;
            margin-top: 20px
        }
        div.page {
            background: white;
            display: block;
            margin: 0 auto;
            margin-bottom: 0.5cm;
            box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
            font-size: 14px;
        }

        div.page.size-A4 {
            width: 21cm;
            /*height: 29.7cm;*/
            padding: 1.5cm 2cm;
            overflow: auto;
        }
    </style>
</head>
<body class="layout-6">
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

<object th:include="fragments/header :: head" th:remove="tag" ></object>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-body" style="min-height: calc(100vh - 130px);">
                                        <div class="col-md-12 text-right mb-5" >
                                            <button class="btn btn-primary pl-5 pr-5" id="conclusion_print_btn">
                                                <i class="feather icon-printer"></i>
                                                <span th:text="#{sys_print}"> print</span>
                                            </button>
                                        </div>
                                        <div   style="padding: 0px 38px; border: 1px dashed #b7c5d4" th:if="${conclusion!=null && !isRegApplication}" id="conclusion">
                                            <object th:include="expertise/conclusion/conclusion_view :: conclusion" th:remove="tag"></object>
                                        </div>

                                        <div class="col-md-12 " th:if="${performerLog!=null && #lists.size(performerLog.documentFiles)>0 && isRegApplication}">
                                            <h5  th:text="#{sys_performer.conclusionFiles}">Добавить сканированная копия заключения</h5>

                                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                <li class="nav-item" th:each="documentFile,iter :${performerLog.documentFiles}">
                                                    <a th:class="${iter.index==0?'nav-link show active':'nav-link show'}" th:id="${'online-tab' + documentFile.id}" data-toggle="tab" th:href="${'#online'+ documentFile.id}" role="tab" th:aria-controls="${'contract'+documentFile.id}" aria-selected="false" >
                                                        <span th:text="${documentFile.name}"></span>
                                                    </a>
                                                </li>
                                            </ul>

                                            <div class="tab-content" id="myTabContent" >
                                                <div   th:class="${iter.index==0?'tab-pane fade show active':'tab-pane fade'}" th:each="documentFile,iter :${performerLog.documentFiles}"  th:id="${'online' + documentFile.id}" role="tabpanel" th:aria-labelledby="${'applicant'+documentFile.id+'-tab'}">
                                                    <div  style="border: #6e45e2 1px dashed;  height: 800px; width: 100%; overflow-y: auto; padding: 0px; margin-bottom: 10px" >
                                                        <iframe th:src="${'https://docs.google.com/gview?url=https://cb.eco-service.uz/expertise/conclusion/reg_file_download_for_view?id='+performerLog.id+'_' + documentFile.id +'&amp;embedded=true'}" style="width: 100%;height: 100%;"></iframe>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="text-center col-md-12">
                                <a class="btn btn-danger text-white" href="#" onclick="history.go(-1);return false;" th:text="#{sys_back}"></a>
                            </div>
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
<script type="text/javascript" src="/static/plugins/printThis.js"></script>
<script th:inline="javascript">
    $('#conclusion_print_btn').on('click',function () {
        $("#conclusion").printThis({
            debug: false,               // show the iframe for debugging
            importCSS: true,            // import parent page css
            importStyle: true,         // import style tags
            printContainer: false,       // print outer container/$.selector
            loadCSS: "/static/plugins/bootstrap/bootstrap.min.css",                // path to additional css file - use an array [] for multiple
            pageTitle: "",              // add title to print page
            removeInline: false,        // remove inline styles from print elements
            removeInlineSelector: "*",  // custom selectors to filter inline styles. removeInline must be true
            printDelay: 333,            // variable print delay
            header: null,               // prefix to html
            footer: null,               // postfix to html
            base: false,                // preserve the BASE tag or accept a string for the URL
            formValues: true,           // preserve input/form values
            canvas: true,              // copy canvas content
            doctypeString: '',       // enter a different doctype for older markup
            removeScripts: true,       // remove script tags from print content
            copyTagClasses: false,      // copy classes from the html & body tag
            beforePrintEvent: null,     // function for printEvent in iframe
            beforePrint: null,          // function called before iframe is filled
            afterPrint: null            // function called before iframe is removed
        });
    });
    
    $(document).ready(function () {

    });

</script>
</body>
</html>