<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <style>
        .table td, .table th{
            white-space: pre-line;
        }
    </style>
</head>
<body>
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

<object th:include="fragments/header :: head" th:remove="tag" ></object>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ sample-page ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 th:text="#{mntr_roles_list}"></h5>
                                        <a href="#" class="btn btn-primary pull-right btn-rounded float-right" onclick="positionAdd()"><i class="feather icon-plus"></i> <span th:text="#{mgmt_position.add}">Добавить сотрудника</span></a>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped custom-table " id="positionTable">
                                                <thead>
                                                <tr>
                                                    <th th:utext="#{mgmt_position.id}"></th>
                                                    <th th:utext="#{mgmt_position.name}"></th>
                                                    <th th:utext="#{mgmt_position.nameRu}"></th>
                                                    <th></th>
                                                </tr>
                                                </thead>
                                                <tbody th:if="${#lists.size(positionList)>0}">
                                                <tr th:each="position :${positionList}">
                                                    <th th:utext="${position.id}" style="width: 20%;"></th>
                                                    <th th:utext="${position.name}" ></th>
                                                    <th th:utext="${position.nameRu}" ></th>
                                                    <td class="text-center">
                                                        <a class="btn btn-sm btn-outline-success pr-2 pl-2 pt-1 pb-1" href="#" th:onclick="'positionEdit('+${position.id}+')'"><i class="feather icon-edit" style="margin: 0px"></i></a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_position" style="display: none" id="modal"></button>
<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
<object th:include="mgmt/position/position_add :: position_add" th:remove="tag" ></object>
<script type="text/javascript" src="/static/parsley/parsley.min.js"></script>
<script th:src="@{'/static/parsley/i18n/' + __${#locale}__ + '.js'}" ></script>

<!--<script th:src="@{/static/datatables/jquery.spring-friendly.min.js}"></script>-->

<script th:inline="javascript">
    var getPositionLink = [[${get_url}]];

    function positionAdd() {
        $('#modal').click();
        addPosition();
    }

    function positionEdit(id) {
        $.get(getPositionLink + "?id=" + id,function (data) {
            $('#modal').click();
            console.log(data);
            editPosition(data.id,data.name,data.nameRu);
        });
    }

    function getDatatableConnect() {
        location.reload();
    }

</script>
</body>
</html>