<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="facture">

<div style="text-align: center">
    <h3>СЧЕТ-ФАКТУРА № 165 от 07 февраля 2019 г.</h3>
    <h4>к товарно-отгрузочным документам № 04/2019 от 04.01.2019</h4>
</div>
<table class="table mt-5">
    <tr>
        <td>
            <span th:text="#{sys_provider}"></span>:
        </td>
        <td><b style="border-bottom: 1px solid #000000"><span th:text="${invoice.payerName}"></span></b></td>
        <td>
            <span th:text="#{sys_customer}"></span>:
        </td>
        <td>
            <b style="border-bottom: 1px solid #000000"><span th:text="${@helperService.getOrganizationName(invoice.payeeId,#locale)}">"SURHAN GAS CHEMICAL OPERATING COMPANY"</span></b>
        </td>
    </tr>
    <tr>
        <td><span th:text="#{sys_address}"></span>:</td>
        <td><span style="border-bottom: 1px solid #000000">100047, Яшнаабадский р-н, Ташкент, Тойтепа, дом № 2, корпус А</span></td>
        <td><span th:text="#{sys_address}"></span>:</td>
        <td> <span style="border-bottom: 1px solid #000000" th:text="${invoice.payeeAddress}">Toshkent shahri, Mirobod tumani ул.Т.Шевченко д.7</span></td>
    </tr>
    <tr>
        <td><span th:text="#{sys_tin_fullname}"></span>(<span th:text="#{sys_tin}"></span>)</td>
        <td><span style="border-bottom: 1px solid #000000">200934834</span></td>
        <td><span th:text="#{sys_tin_fullname}"></span>(<span th:text="#{sys_tin}"></span>)</td>
        <td><span style="border-bottom: 1px solid #000000" th:text="${invoice.payeeTin}">304875292</span></td>
    </tr>
    <tr>
        <td><span th:text="#{sys_reg_code}">Регистрационный код плательщика</span><br /><span th:text="#{sys_nds}"></span>:</td>
        <td><span style="border-bottom: 1px solid #000000">326080023231</span></td>
        <td><span th:text="#{sys_reg_code}">Регистрационный код плательщика</span><br /><span th:text="#{sys_nds}"></span>:</td>
        <td><span style="border-bottom: 1px solid #000000">326010015000</span></td>
    </tr>
</table>
<table class="table table-bordered mt-5">
    <tr>
        <td rowspan="3">№</td>
        <td rowspan="2"><span th:text="#{sys_name_product}">Наименование товаров (работ, услуг)</span></td>
        <td rowspan="2"><span th:text="#{sys_currency}">Ед.</span></td>
        <td rowspan="2"><span th:text="#{sys_qty}">Кол-во</span></td>
        <td rowspan="2"><span th:text="#{sys_price}">Цена</span></td>
        <td rowspan="2"><span th:text="#{sys_provisionCost}">Стоимость поставки</span></td>
        <td colspan="2" class="text-center"><span th:text="#{sys_nds}"></span></td>
        <td rowspan="2"><span th:text="#{sys_provisionCost_withNDS}">Стоимость поставки с учетом</span>&nbsp;<span th:text="#{' ' + sys_nds}"> НДС</span></td>
    </tr>
    <tr>
        <td><span th:text="#{sys_count}">Став-ка</span></td>
        <td><span th:text="#{sys_amount}">Сумма</span></td>
    </tr>
    <tr style="text-align: center">
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
    </tr>
    <tr>
        <td>1</td>
        <td th:text="${@helperService.getMaterials(regApplication.materials,#locale)}">Проведение экологической экспертизы</td>
        <td>сум</td>
        <td> </td>
        <td> </td>
        <td class="text-right">5 068 250.00</td>
        <td>0%</td>
        <td class="text-right">Без НДС</td>
        <td class="text-right">5 068 250.00</td>
    </tr>
    <tr>
        <td colspan="2" class="text-right">Итого:</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right">5 068 250.00</td>
        <td></td>
        <td class="text-right">Без НДС</td>
        <td class="text-right">5 068 250.00</td>
    </tr>
</table>

<div class="col-md-12">
    <b>Всего к оплате: Пять миллионов шестьдесят восемь тысяч двести пятьдесят сум 00 тийин</b>
</div>
<table class="table">
    <tr>
        <td><span th:text="#{sys_director}">Руководитель</span>:</td>
        <td style="width: 200px">
            <div class="border-bottom-styled"></div>
        </td>
        <td>Shukurov G'.B.</td>
        <td style="width: 200px"></td>
        <td><span th:text="#{sys_recieved}">Получил</span>:</td>
        <td style="padding-top: 30px">
            <span style="border-top: 1px solid #000000;">(<span>Подпись покупателя или уполномоченного представителя</span>)</span>
        </td>
    </tr>
    <tr>
        <td><span th:text="#{sys_accountant}">Главный бухгалтер</span>:</td>
        <td style="width: 200px">
            <div class="border-bottom-styled"></div>
        </td>
        <td><span>Matyokubov M. H.</span></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="padding-top: 20px"><span th:text="#{sys_productSender}">Товар отпустил</span>:</td>
        <td style="width: 200px;padding-top: 20px">
            <div class="border-bottom-styled"></div>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="padding-top: 20px">М.П.</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>