<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="expertise">
        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_about.objectExpertise}"></label>
            </div>
            <div class="col-md-6">
                <input class="form-control only-number" readonly="readonly" th:value="${@helperService.getObjectExpertise(regApplication.objectId,#locale)}">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_about.activity}"></label>
            </div>
            <div class="col-md-6">
                <input class="form-control only-number" readonly="readonly" th:value="${@helperService.getActivity(regApplication.activityId,#locale)}">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_about.category}"></label>
            </div>
            <div class="col-md-6">
                <input class="form-control" readonly="readonly" th:value="${regApplication.category!=null? @helperService.getCategory(regApplication.category.getId(),#locale):''}" >
            </div>
        </div>

        <div class="form-group row" th:if="${regApplication.regionId!=null}">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_region}">Вилоят</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" readonly="readonly" th:value="${@helperService.getSoatoName(regApplication.regionId,#locale)}" >
            </div>
        </div>


        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_about.material}"></label>
            </div>
            <div class="col-md-6">
                <input class="form-control" readonly="readonly" th:value="${@helperService.getMaterials(regApplication.materials,#locale)}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_about.name}"></label>
            </div>
            <div class="col-md-6">
                <input class="form-control" readonly="readonly" th:value="${regApplication.name}" >
            </div>
        </div>

        <div class="form-group row" th:if="${regApplication.regApplicationCategoryType !=null && regApplication.regApplicationCategoryType ==1 && regApplicationCategoryFourAdditional!=null}">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_about.object_blanket}">Умумий қисм</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.objectBlanket}" readonly="readonly"/>
            </div>
        </div>

        <div class="form-group row" th:if="${regApplication.regApplicationCategoryType !=null && regApplication.regApplicationCategoryType ==1 && regApplicationCategoryFourAdditional!=null}">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_about.coordinate_description}">Танланган ёки ажратилган ер майдони﻿ҳақида қисқача маълумот</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.coordinateDescription}" readonly="readonly" />
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_about.projectDeveloper_tin}">ИНН разработчика проекта</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" readonly="readonly" th:value="${projectDeveloper!=null? projectDeveloper.tin:''}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_about.projectDeveloper_name}">Наименование разработчика проекта</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" readonly="readonly" th:value="${projectDeveloper!=null? projectDeveloper.name:''}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_opf}">Наименование разработчика проекта</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" readonly="readonly" th:value="${projectDeveloper!=null && projectDeveloper.opfId!=null ? @helperService.getOpfName(projectDeveloper.opfId,#locale):''}" >
            </div>
        </div>

        <div th:if="${regApplication.regApplicationCategoryType !=null && regApplication.regApplicationCategoryType ==1 && regApplicationCategoryFourAdditional!=null}">
            <div class="form-group row" >
                <div class="col-md-3 text-right">
                    <label class="col-form-label" th:text="#{sys_about.bordering_objects}"></label>
                    <span class="required">*</span>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.borderingObjects}" required="" maxlength="254"  />
                </div>
            </div>

            <div class="form-group row" >
                <div class="col-md-3 text-right">
                    <label class="col-form-label" th:text="#{sys_about.territory_description}"></label>
                    <span class="required">*</span>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.territoryDescription}" required="" maxlength="254"  />
                </div>
            </div>

            <div class="form-group row" >
                <div class="col-md-3 text-right">
                    <label class="col-form-label" th:text="#{sys_about.cultural_heritage_description}"></label>
                    <span class="required">*</span>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.culturalHeritageDescription}" required="" maxlength="254"  />
                </div>
            </div>

            <div class="form-group row" >
                <div class="col-md-3 text-right">
                    <label class="col-form-label" th:text="#{sys_about.animal_count_additional}"></label>
                    <span class="required">*</span>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.animalCountAdditional}" required="" maxlength="254"  />
                </div>
            </div>

            <div class="form-group row" >
                <div class="col-md-3 text-right">
                    <label class="col-form-label" th:text="#{sys_about.tree_count_additional}"></label>
                    <span class="required">*</span>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.treeCountAdditional}" required="" maxlength="254"  />
                </div>
            </div>

            <div class="form-group row" >
                <div class="col-md-3 text-right">
                    <label class="col-form-label" th:text="#{sys_about.water_information}"></label>
                    <span class="required">*</span>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.waterInformation}" required="" maxlength="254"  />
                </div>
            </div>

            <div class="form-group row" >
                <div class="col-md-3 text-right">
                    <label class="col-form-label" th:text="#{sys_about.structures_information}"></label>
                    <span class="required">*</span>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.structuresInformation}" required="" maxlength="254"  />
                </div>
            </div>

            <div class="form-group row" >
                <div class="col-md-3 text-right">
                    <label class="col-form-label" th:text="#{sys_about.about_wind_speed}"></label>
                    <span class="required">*</span>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" th:field="${regApplicationCategoryFourAdditional.aboutWindSpeed}" required="" maxlength="254"  />
                </div>
            </div>
        </div>

        <div th:if="${coordinate}">
            <div class="form-group row">
                <div class="col-md-3 text-right">
                    <label class="col-form-label" th:text="#{sys.coordinates}"></label>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#coordinate" id="openMapModal">
                        <i class="fs20 fas fa-map color-gray"></i>
                        <span th:text="#{sys_map.open}"></span>
                    </button>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3 text-right">
                    <label class="col-form-label">#1</label>
                </div>
                <div class="col-md-6 row" style="margin-left: 0;">
                    <input type="text" class="form-control col-md-4" th:value="${coordinate.longitude}" readonly="">
                    <input type="text" class="form-control col-md-4 offset-md-4" th:value="${coordinate.latitude}" readonly="">
                </div>
            </div>

            <div class="form-group row" th:each="coordinateLatLong, iter : ${coordinateLatLongList}">
                <div class="col-md-3 text-right">
                    <label class="col-form-label">#<span th:text="${iter.index + 2}"></span></label>
                </div>
                <div class="col-md-6 row" style="margin-left: 0;">
                    <input type="text" class="form-control col-md-4" th:value="${coordinateLatLong.longitude}" readonly="">
                    <input type="text" class="form-control col-md-4 offset-md-4" th:value="${coordinateLatLong.latitude}" readonly="">
                </div>
            </div>
        </div>

        <div class="col-md-3 text-right">
            <label class="col-form-label" th:text="#{sys_reg_application.documents}"></label>
        </div>
        <div class="col-md-6 offset-md-3 row" style="padding: 40px 0 40px 0;" id="files-div">

            <div class="col-md-3" th:each="file : ${regApplication.documentFiles}" th:id="${'file-block-' + file.id}">
                <div class="file">
                    <a th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).ExpertiseFileDownload + '?file_id=' + file.id}">
                        <i th:if="${file.extension=='doc' || file.extension=='docx'}" class="mdi mdi-file-word file-icon"></i>
                        <i th:if="${file.extension=='xls' || file.extension=='xlsx'}" class="mdi mdi-file-excel file-icon"></i>
                        <i th:if="${file.extension=='pdf'}" class="mdi mdi-file-pdf file-icon"></i>
                        <i th:if="${file.extension=='png' || file.extension=='jpg' || file.extension=='jpeg'}" class="mdi mdi-image file-icon"></i>
                        <i th:if="${file.extension!='doc' && file.extension!='docx' && file.extension!='xls' && file.extension!='xlsx' && file.extension!='pdf' && file.extension!='png' && file.extension!='jpg' && file.extension!='jpeg'}" class="mdi mdi-file file-icon"></i>
                        <span th:text="${file.description}"></span>
                        <p th:text="${file.name}"></p>
                    </a>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12 text-center" id="tab-control-buttons">
                <a class="btn btn-danger text-white btnPrevious" th:text="#{sys_back}"></a>
                <a class="btn btn-primary text-white btnNext" th:text="#{sys_next}"></a>
            </div>
        </div>

        <div class="modal fade" id="coordinate" tabindex="-1" role="dialog" aria-labelledby="coordinate" aria-hidden="true">
            <div class="modal-dialog modal-lg col-xl-6 col-12" role="document">
                <div class="modal-content">
                    <div class="card parent-card m0">
                        <div class="card-header flex-space-between-nowrap mb-0">
                            <h5 class="mb-0" style="align-self:center"><span href="#" class="card-header-a"><span th:text="#{sys_document.map}">Ижро амаллари ва изохлар</span></span></h5>
                            <button type="button" class="close pointer" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="card-body">
                            <div id="map" class="map" style="width: 100%; height: 600px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>