<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="expertise_list">

<div class="card-block table-border-style">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th th:text="#{sys_conclusion_number}">№Заключения</th>
                <th th:text="#{sys_conclusion_date}">Дата Заключения</th>
                <th th:text="#{sys_about.objectExpertise}">Обьект экспертизы</th>
                <th th:text="#{sys_about.category}">Форма экспертизы</th>
                <th th:text="#{sys_reg_application.performer}">Исполнител</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="conclusion : ${conclusionList}">
                <th scope="row" th:text="${conclusion[0]} ? ${conclusion[0]} : ' '" > 1</th>
                <td th:text="${conclusion[1]} ? ${conclusion[1]} : ' '" >707-2019</td>
                <td th:text="${conclusion[2]} ? ${conclusion[2]} : ' '" >02.05.2019</td>
                <td th:text="${conclusion[3]} ? ${conclusion[3]} : ' '" >Градостроительная документация</td>
                <td th:text="${conclusion[4]} ? ${conclusion[4]} : ' '" >ПДВ</td>
                <td th:text="${conclusion[5]} ? ${conclusion[5]} : ' '" >А.Акрамов</td>
                <td>
                    <!-- Button trigger modal -->
                    <a type="button" class="btn btn-primary btn-sm" th:href="${conclusion[6]} ? ${conclusion[6]} : '#'">
                        <i class="feather icon-eye" style="margin-right: 0px;"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog modal-lg" role="document">-->
<!--        <div class="modal-content">-->
<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title" id="exampleModalLabel" th:text="${'sys_conclusion '+ '№' + reg}">Заключение №1</h5>-->
<!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                    <span aria-hidden="true">&times;</span>-->
<!--                </button>-->
<!--            </div>-->
<!--            <div class="modal-body">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-6 text-dark p-2" th:text="#{sys_conclusion_number}">-->
<!--                        Номер-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-right text-dark p-2">-->
<!--                        707-2019-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-dark p-2" th:text="#{sys_conclusion_date}">-->
<!--                        Дата заключения-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-right text-dark p-2">-->
<!--                        02.05.2019-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-dark p-2" th:text="#{sys_about.objectExpertise}">-->
<!--                        Обьект экспертизы-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-right text-dark p-2">-->
<!--                        test-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-dark p-2" th:text="#{sys_about.activity}">-->
<!--                        Вид деятельности-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-right text-dark p-2">-->
<!--                        test-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-dark p-2" th:text="#{sys_about.material}">-->
<!--                        Вид материалов-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-right text-dark p-2">-->
<!--                        test-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-dark p-2" th:text="#{sys_reg_application.performer}">-->
<!--                        Ф.И.О исполнителя-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-right text-dark p-2">-->
<!--                        test-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-dark p-2" style="box-sizing: border-box" th:text="#{sys_downloadFile}">-->
<!--                        Электронная(или сканированная)<br />версия документа-->
<!--                    </div>-->
<!--                    <div class="col-md-6 text-right text-dark">-->
<!--                        <div class="m-l-50 media d-flex">-->
<!--                            <div class="m-r-10 file-attach">-->
<!--                                <i class="mdi mdi-file-pdf card-icon text-danger" style="font-size: 50px"></i>-->
<!--                            </div>-->
<!--                            <p class="m-t-30 d-block text-secondary">test.pdf</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="modal-footer" style="justify-content: unset;">-->
<!--                <div class="card" style="box-shadow: unset;margin-left: 35%">-->
<!--                    <h3 class="card-title" th:text="#{sys_conclusion_text}">Текст заключения</h3>-->
<!--                    <div class="card-text text-center">-->
<!--                        <a class="btn btn-primary btn-sm text-white" th:text="#{sys_open_text}">open</a>-->
<!--                    </div>-->

<!--                    <div class="card-text">-->
<!--                        <div class="media d-flex m-b-15">-->
<!--                            <div class="m-r-10 file-attach">-->
<!--                                <i class="mdi mdi-file-pdf card-icon text-danger" style="font-size: 50px"></i>-->
<!--                            </div>-->
<!--                            <div class="media-body m-t-20">-->
<!--                                <p class="m-b-5 m-t-10 d-block text-secondary">The_less_overslept.pdf</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="col-md-12 text-center" id="tab-control-buttons">
    <a class="btn btn-danger text-white btnPrevious" th:text="#{sys_back}"></a>
    <a class="btn btn-primary text-white btnNext" th:text="#{sys_next}"></a>
</div>

</body>
</html>