<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="last_comments">

<div class="col-md-12" id="comments">
    <h5 class="mt-lg-5" th:text="#{sys_comment.lastComments}">Последние комментарии к документу</h5>
    <div id="comments-first"></div>
    <div class="row" th:each="comment : ${lastCommentList}" th:if="${#lists.size(lastCommentList)>0}">
        <div class="col-md-2 text-right">
            <span class="hei-50 wid-50 d-inline-block rounded-circle font-weight-bold text-center f-18 last-message-user" th:text="${@helperService.getUserLastAndFirstShortById(comment.createdById)}">AB</span>
        </div>
        <div class="col-md-10 pl-0">
            <p class="p-2 mb-1 mt-lg-4 last-message-text" th:text="${comment.message}" ></p>
            <p class="text-right last-message-underline" th:if="${comment.createdAt!=null}" th:text="${#dates.format(comment.createdAt, 'dd.MM.yyyy HH:mm:ss')}"></p>
            <div >
                <ul class="media-list p-0" style="border-bottom: black 1px dashed" th:if="${#lists.size(comment.documentFiles)>0}" th:each="documentFile : ${comment.documentFiles}">
                    <li class="media d-flex m-b-15">
                        <div class="m-r-20 file-attach">
                            <i class="mdi mdi-file-pdf f-28 text-muted"></i>
                        </div>
                        <div class="media-body">
                            <a th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).CommentFileDownload + '?file_id=' + documentFile.id + '&comment_id=' + comment.id}" class="m-b-5 d-block text-secondary">
                                <span th:text="${documentFile.name}"></span>
                            </a>
                            <div class="text-muted">
                                <span th:text="${'Size: ' + documentFile.size/1024 + ' Kb'}">Size: 1.2Mb</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>