<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="log">
        <div class="row">

            <div class="col-md-12 pr-0">
                <div class="table-responsive">
                <table class="table table-xl">
                    <thead>
                    <tr>
                        <th th:text="#{regApplicationLog.created}">Yuboruvchi</th>
                        <th th:text="#{regApplicationLog.update}">Qabul qiluvchi</th>
                        <th th:text="#{regApplicationLog.type}">Type</th>
                        <th th:text="#{regApplicationLog.status}">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="regApplicationLog: ${regApplicationLogList}">
                        <td >
                            <p th:text="${@helperService.getUserFullNameById(regApplicationLog.createdById)}" style="margin-bottom: 0;"></p>
                            <p th:text="${regApplicationLog.createdAt!=null? #dates.format(regApplicationLog.createdAt,'dd.MM.yyyy HH:mm'):''}"></p>
                        </td>
                        <td >
                            <p th:text="${@helperService.getUserFullNameById(regApplicationLog.updateById)}" style="margin-bottom: 0;"></p>
                            <p th:text="${regApplicationLog.updateAt!=null? #dates.format(regApplicationLog.updateAt,'dd.MM.yyyy HH:mm'):''}"></p>
                        </td>
                        <td ><span th:text="#{${regApplicationLog.type.getHistoryName()}}"></span></td>
                        <td th:if="${regApplicationLog.type.getId()==0}">
                            <span th:if="${regApplicationLog.status.getId()==0}" class="badge badge-secondary" th:text="#{${regApplicationLog.status.getConfirmName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==1}" class="badge badge-secondary" th:text="#{${regApplicationLog.status.getConfirmName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==2}" class="badge badge-warning" th:text="#{${regApplicationLog.status.getConfirmName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==3}" class="badge badge-info" th:text="#{${regApplicationLog.status.getConfirmName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==4}" class="badge badge-success" th:text="#{${regApplicationLog.status.getConfirmName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==5}" class="badge badge-danger" th:text="#{${regApplicationLog.status.getConfirmName()}}"></span>
                        </td>
                        <td th:if="${regApplicationLog.type.getId()==1}">
                            <span th:if="${regApplicationLog.status.getId()==0}" class="badge badge-secondary" th:text="#{${regApplicationLog.status.getForwardingName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==1}" class="badge badge-secondary" th:text="#{${regApplicationLog.status.getForwardingName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==2}" class="badge badge-warning" th:text="#{${regApplicationLog.status.getForwardingName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==3}" class="badge badge-info" th:text="#{${regApplicationLog.status.getForwardingName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==4}" class="badge badge-success" th:text="#{${regApplicationLog.status.getForwardingName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==5}" class="badge badge-danger" th:text="#{${regApplicationLog.status.getForwardingName()}}"></span>
                        </td>
                        <td th:if="${regApplicationLog.type.getId()==2}">
                            <span th:if="${regApplicationLog.status.getId()==0}" class="badge badge-secondary" th:text="#{${regApplicationLog.status.getPerformerName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==1}" class="badge badge-secondary" th:text="#{${regApplicationLog.status.getPerformerName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==2}" class="badge badge-warning" th:text="#{${regApplicationLog.status.getPerformerName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==3}" class="badge badge-info" th:text="#{${regApplicationLog.status.getPerformerName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==4}" class="badge badge-success" th:text="#{${regApplicationLog.status.getPerformerName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==5}" class="badge badge-danger" th:text="#{${regApplicationLog.status.getPerformerName()}}"></span>
                        </td>
                        <td th:if="${regApplicationLog.type.getId()==3 || regApplicationLog.type.getId()==4}">
                            <span th:if="${regApplicationLog.status.getId()==0}" class="badge badge-secondary" th:text="#{${regApplicationLog.status.getAgreementName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==1}" class="badge badge-secondary" th:text="#{${regApplicationLog.status.getAgreementName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==2}" class="badge badge-warning" th:text="#{${regApplicationLog.status.getAgreementName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==3}" class="badge badge-info" th:text="#{${regApplicationLog.status.getAgreementName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==4}" class="badge badge-success" th:text="#{${regApplicationLog.status.getAgreementName()}}"></span>
                            <span th:if="${regApplicationLog.status.getId()==5}" class="badge badge-danger" th:text="#{${regApplicationLog.status.getAgreementName()}}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>

            <!--<div class="col-md-6" style="border-left: 1px solid #f4f4f4;">
                <div class="col-md-10 offset-1">
                    <textarea class="p-2" style="width: 100%; resize: none; border-radius: 10px" rows="4" id="message" placeholder="написать комментарий..."></textarea>
                    <p class="mt-2 mb-0" style="color: black">Добавить файл</p>
                    <div class="col-md-12 row" id="files-div">
                        <a href="#upload-file-modal" class="col-md-3 pb-3 p-0" onclick="openModalFile()">
                            <div class="add-file">
                                <img src="/static/images/uploading.gif" alt="" id="upload-gif" style="display: none;">
                                <span id="percentage"><span id="percentage-num"></span>%</span>
                                <i class="feather icon-plus" id="plus-icon"></i>
                            </div>
                        </a>
                    </div>
                    <div class="row ">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-danger float-left" > Возврат</button>
                            <button type="button" class="btn btn-primary float-right" >Согласовать</button>
                        </div>
                    </div>
                    <h5 class="mt-lg-5">Последние комментарии к документу</h5>
                    <div class="col-md-12" id="comments">
                        <div id="comments-first"></div>
                        <div class="row">
                            <div class="col-md-2">
                                <span class="hei-50 wid-50 d-inline-block rounded-circle font-weight-bold text-center f-18" style="color: white; padding-top: 20%; background-color: #bdc0c3" >AI</span>
                            </div>
                            <div class="col-md-10 pl-0">
                                <p class="p-2 mb-1 mt-lg-4" style="width: 100%;border: #7d878c 1px solid;border-radius: 5px">ok</p>
                                <p class="text-right" >03.05.2019 - 15:00</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <span class="hei-50 wid-50 d-inline-block rounded-circle font-weight-bold text-center f-18" style="color: white; padding-top: 20%; background-color: #bdc0c3" >AS</span>
                            </div>
                            <div class="col-md-10 pl-0">
                                <p class="p-2 mb-1 mt-lg-4" style="width: 100%;border: #7d878c 1px solid;border-radius: 5px">В пункте №5 грамматическая ошибка</p>
                                <p class="text-right">03.05.2019 - 19:11</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

        <!-- Modal -->
        <div class="modal fade" id="upload-file-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="#{sys_about.upload_files}" style="float: left">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="file-name">
                                <span th:text="#{sys_file_name}"></span>
                                <span class="required">*</span>
                            </label>
                            <input class="form-control" type="text" id="file-name" required="" />
                        </div>
                        <div class="input-group">
                          <span class="input-group-btn">
                            <span class="btn btn-primary" style="border-bottom-right-radius: 0px;border-top-right-radius: 0px" onclick="$(this).parent().find('input[type=file]').click();">
                               <i class="mdi mdi-file-download-outline"></i> <span th:text="#{file_select}"></span>
                            </span>
                            <input name="uploaded_file" id="file-input" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file">
                          </span>
                            <span class="form-control" onclick="$(this).parent().find('input[type=file]').click();" id="fileDescription" style="border-bottom-left-radius: 0px;border-top-left-radius: 0px" placeholder="sdfsdfsdfsdf">

                        </span>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: center;">
                        <button class="btn btn-info" type="button" th:text="#{sys_upload}" onclick="uploadFile()"></button>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>