<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="menu">

<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menu-light brand-lightblue icon-colored menupos-static">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/dashboard" class="b-brand">
                <img style="width: 45px; height: 45px; object-fit: cover;" src="/static/images/logo.png" />
                <span class="b-title" th:text="#{sys_site_main_title}"></span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label th:text="#{sys_control_panel}">Navigation</label>
                </li>
                <li class="nav-item"><a href="/dashboard" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-home-outline"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.dashboard}"> </span></a></li>

                <li class="nav-item pcoded-menu-caption" sec:authorize="hasAnyAuthority('ADMIN')">
                    <label th:text="#{mgmt_control}"></label>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"><a href="/admin/organization/list" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-office-building"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.organizationList}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"><a href="/admin/users/list" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-account-multiple"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.usersList}"> </span></a></li>
<!--                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"><a href="/admin/user_control/list" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-account-alert"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.userControlList}"> </span></a></li>-->
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"><a href="/mgmt/translations" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-translate"></i></span><span class="pcoded-mtext" th:text="#{mgmt_translations}"> </span></a></li>

                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"><a href="/admin/roles/list" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-stack-overflow"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.roleList}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"><a href="/mgmt/min_wage" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-credit-card-plus"></i></span><span class="pcoded-mtext" th:text="#{mgmt_min_wage}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"><a href="/admin/department/list" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-office-building"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.departmentList}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')"><a href="/admin/position/list" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-account-card-details"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.positionList}"> </span></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->

</body>
</html>