<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <!-- smart-wizard css -->
    <link rel="stylesheet" href="/static/plugins/smart-wizard/css/smart_wizard.min.css">
    <link rel="stylesheet" href="/static/plugins/smart-wizard/css/smart_wizard_theme_dots.min.css">
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" th:href="@{/static/modal-window-effects/css/md-modal.css}">
    <link rel="stylesheet" href="/static/plugins/ViewerJS/viewer.css">

</head>
<body class="layout-6" style="overflow:auto;">
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

    <object th:include="fragments/header :: head" th:remove="tag" ></object>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container" style="overflow:auto;">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ sample-page ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 >
                                                <span th:text="#{reg_application.number}"></span>&nbsp;
                                                <span th:text="${regApplication.id}"></span>
                                            </h5>
                                        </div>
                                        <div class="card-body">

                                            <object th:include="expertise/reg/step_wizard :: wizard" th:remove="tag" ></object>

                                            <div class="row" >
                                                <div class="form-group col-md-12 text-center" >
                                                    <a th:href="${T(uz.maroqand.ecology.cabinet.constant.expertise.ExpertiseUrls).ExpertiseRegApplicationPrepayment + '?id=' + regApplication.id}" class="btn btn-primary">
                                                        <i class="feather icon-align-right"></i>
                                                        <span th:text="#{sys_next}"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- [ sample-page ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
    <script type="text/javascript" src="/static/js/form.js?v=28122016"></script>
    <script src="/static/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script src="/static/plugins/ViewerJS/viewer.js"></script>
</body>
</html>