<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="facture">

<div style="text-align: center" th:if="${facture}">
    <h3 th:utext="#{facture_title} +' '+ ${facture.number} +', '+ ${#dates.format(facture.date, 'dd.MM.yyyy')}">СЧЕТ-ФАКТУРА № 10 от 11.11.2019 г.</h3>
    <h4 th:utext="#{facture_docs_title} +' '+ ${facture.docNumber} +', '+ ${#dates.format(facture.docDate, 'dd.MM.yyyy')}">к товарно-отгрузочным документам № 04/2019 от 04.01.2019</h4>
</div>
<table class="table mt-5" th:if="${facture}">
    <tr>
        <td>
            <span th:text="#{sys_provider}"></span>:
        </td>
        <td>
            <b style="border-bottom: 1px solid #000000"><span th:text="${facture.payeeName}">"SURHAN GAS CHEMICAL OPERATING COMPANY"</span></b>
        </td>
        <td>
            <span th:text="#{sys_customer}"></span>:
        </td>
        <td><b style="border-bottom: 1px solid #000000"><span th:text="${facture.payerName}"></span></b></td>
    </tr>
    <tr>
        <td><span th:text="#{sys_address}"></span>:</td>
        <td> <span style="border-bottom: 1px solid #000000" th:text="${facture.payeeAddress}">Toshkent shahri, Mirobod tumani ул.Т.Шевченко д.7</span></td>
        <td><span th:text="#{sys_address}"></span>:</td>
        <td><span style="border-bottom: 1px solid #000000" th:text="${facture.payerAddress}">100047, Яшнаабадский р-н, Ташкент, Тойтепа, дом № 2, корпус А</span></td>
    </tr>
    <tr>
        <td><span th:text="#{sys_tin_fullname}"></span>(<span th:text="#{sys_tin}"></span>)</td>
        <td><span style="border-bottom: 1px solid #000000" th:text="${facture.payeeTin}">304875292</span></td>
        <td><span th:text="#{sys_tin_fullname}"></span>(<span th:text="#{sys_tin}"></span>)</td>
        <td><span style="border-bottom: 1px solid #000000" th:text="${facture.payerTin}">200934834</span></td>
    </tr>
    <tr>
        <td><span th:text="#{sys_reg_code}">Регистрационный код плательщика</span><br /><span th:text="#{sys_nds}"></span>:</td>
        <td><span style="border-bottom: 1px solid #000000" th:text="${facture.payeeVAT}">326010015000</span></td>
        <td><span th:text="#{sys_reg_code}">Регистрационный код плательщика</span><br /><span th:text="#{sys_nds}"></span>:</td>
        <td><span style="border-bottom: 1px solid #000000" th:text="${facture.payerVAT}">326080023231</span></td>
    </tr>
</table>
<style>
    .table td {
        white-space: normal;
    }
</style>
<table class="table table-bordered mt-5">
    <tr>
        <td rowspan="3">№</td>
        <td rowspan="2"><span th:text="#{sys_name_product}">Наименование товаров (работ, услуг)</span></td>
        <td rowspan="2"><span th:text="#{sys_currency}">Ед.</span></td>
        <td rowspan="2"><span th:text="#{sys_qty}">Кол-во</span></td>
        <td rowspan="2"><span th:text="#{sys_price}">Цена</span></td>
        <td rowspan="2"><span th:text="#{sys_provisionCost}">Стоимость поставки</span></td>
        <td colspan="2" class="text-center"><span th:text="#{sys_nds}"></span></td>
        <td rowspan="2"><span th:text="#{sys_provisionCost_withNDS}">Стоимость поставки с учетом</span>&nbsp;<span th:text="#{' ' + sys_nds}"> НДС</span></td>
    </tr>
    <tr>
        <td><span th:text="#{sys_count}">Став-ка</span></td>
        <td><span th:text="#{sys_amount}">Сумма</span></td>
    </tr>
    <tr style="text-align: center">
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
    </tr>
    <tr th:each="factureProduct: ${factureProductList}">
        <td th:text="${factureProduct.number}">1</td>
        <td th:text="${factureProduct.name}">1</td>
        <td class="text-center" th:text="${factureProduct.unit}"></td>
        <td class="text-center" th:text="${factureProduct.qty}"></td>
        <td class="text-right" th:text="${#numbers.formatDecimal(factureProduct.price, 1, 'COMMA', 2, 'DEFAULT')}"></td>
        <td class="text-right" th:text="${#numbers.formatDecimal(factureProduct.cost, 1, 'COMMA', 2, 'DEFAULT')}"></td>
        <td class="text-center" th:text="${factureProduct.vatPresent+' %'}"></td>
        <td class="text-right">
            <span th:if="${factureProduct.vatPresent!=0}" th:text="${#numbers.formatDecimal(factureProduct.vatSum, 1, 'COMMA', 2, 'DEFAULT')}"></span>
            <span th:if="${factureProduct.vatPresent==0}" th:text="#{sys_facture.notVAT}"></span>
        </td>
        <td class="text-right" th:text="${#numbers.formatDecimal(factureProduct.total, 1, 'COMMA', 2, 'DEFAULT')}"></td>
    </tr>
    <tr >
        <td colspan="2" class="text-right"> <b th:text="#{sys_facture.total}"></b> </td>
        <td ></td>
        <td ></td>
        <td ></td>
        <td ></td>
        <td ></td>
        <td ></td>
        <td class="text-right"> <b th:text="${#numbers.formatDecimal(facture.amount, 1, 'COMMA', 2, 'DEFAULT')}"></b> </td>
    </tr>
</table>

<div class="col-md-12">
    <b><span th:text="#{sys_total_payment}">Всего к оплате</span>: <span th:text="${@numberToString.numberToStringTranslation(facture.amount, #locale)}">Пять миллионов шестьдесят восемь тысяч двести пятьдесят сум 00 тийин</span> </b>
</div>
<table class="table">
    <tr>
        <td><span th:text="#{sys_director}">Руководитель</span>:</td>
        <td style="width: 200px">
            <div class="border-bottom-styled"></div>
        </td>
        <td > <span th:text="${facture.payeeDirector}">Shukurov G'.B.</span> </td>
        <td style="width: 200px"></td>
        <td><span th:text="#{sys_recieved}">Получил</span>:</td>
        <td style="padding-top: 30px">
            <span style="border-top: 1px solid #000000;">(<span th:text="#{payeer_sign}">Подпись покупателя или уполномоченного представителя</span>)</span>
        </td>
    </tr>
    <tr>
        <td><span th:text="#{sys_accountant}">Главный бухгалтер</span>:</td>
        <td style="width: 200px">
            <div class="border-bottom-styled"></div>
        </td>
        <td><span th:text="${facture.payeeManager}">Matyokubov M. H.</span></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="padding-top: 20px"><span th:text="#{sys_productSender}">Товар отпустил</span>:</td>
        <td style="width: 200px;padding-top: 20px">
            <div class="border-bottom-styled"></div>
        </td>
        <td> <span th:text="${facture.productReleased}"></span> </td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td style="padding-top: 20px" th:text="#{sys_stamp_place}">М.П.</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
</body>
</html>