<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
</head>
<body class="layout-6">
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->
<object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>
<object th:include="fragments/header :: head" th:remove="tag" ></object>
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!-- [ sample-page ] start -->
                            <div class="col-sm-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h5 ></h5>
                                    </div>
                                    <div class="card-body">
                                        <div class="container text-dark" >
                                            <div class="col-md-12 text-center mb-5">
                                                <div class="col-md-12 text-right">
                                                    <button type="button" class="btn btn-primary" onclick="$('#accountBox').printThis();">
                                                        <i class="mdi mdi-printer"></i>
                                                        <span th:text="#{sys_print}" ></span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div  id="accountBox">
                                                <object th:include="expertise/facture/facture :: facture" th:remove="tag" ></object>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ sample-page ] end -->
                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
<script type="text/javascript" src="/static/plugins/printThis.js"></script>
</body>
</html>
