<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="legal_entity">

    <form action="" method="post" th:object="${regApplication}" data-parsley-validate="">
        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_tin}">СТИР</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityTin" name="legalEntityTin" value="" minlength="9" maxlength="9" th:value="${legalEntity.legalEntityTin}">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_legal_entity_name}">Фирменное наименование предприятия</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityName" name="legalEntityName" th:value="${legalEntity.legalEntityName}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_opf}">Организационно правовая форма предприятия</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <select class="form-control" required="" id="legalEntityOpfId" name="legalEntityOpfId" >
                    <option value="" th:text="#{sys_select}"></option>
                    <option th:each="opf : ${opfList}" th:value="${opf.id}" th:text="${opf.getNameTranslation(#locale)}" th:selected="${legalEntity.legalEntityOpfId==opf.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_director_full_name}">Директор</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="directorFullName" name="directorFullName" th:value="${legalEntity.directorFullName}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_oked}">ОКЭД</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="oked" name="oked" th:value="${legalEntity.oked}" >
                <small id="okedName" class="form-text text-muted">Oked nomi shundan iboratki sus sasasfcdsfcvsd d</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_region}">Вилоят</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <select class="form-control" required="" id="legalEntityRegionId" name="legalEntityRegionId" >
                    <option value="" th:text="#{sys_select}"></option>
                    <option th:each="region : ${regions}" th:value="${region.id}" th:text="${region.getNameTranslation(#locale)}" th:selected="${legalEntity.legalEntityRegionId==region.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_subregion}">Туман</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <select class="form-control" required="" id="legalEntitySubRegionId" name="legalEntitySubRegionId" >
                    <option value="" th:text="#{sys_select}"></option>
                    <option th:each="sub_region : ${sub_regions}" th:value="${sub_region.id}" th:text="${sub_region.getNameTranslation(#locale)}" th:class="${'sr-'+sub_region.parentId}" th:selected="${legalEntity.legalEntitySubRegionId==sub_region.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_address}">Адрес</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityAddress" name="legalEntityAddress" th:value="${legalEntity.legalEntityAddress}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_phone}">Рабочий телефон</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityPhone" name="legalEntityPhone" th:value="${legalEntity.legalEntityPhone}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_mobile_phone}">Мобильный телефон (для смс уведомление);</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityMobilePhone" name="legalEntityMobilePhone" th:value="${legalEntity.legalEntityMobilePhone}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_email}">Электронный адрес;</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityEmail" name="legalEntityEmail" th:value="${legalEntity.legalEntityEmail}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_mfo}">МФО обслуживающего банка;</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityMfo" name="legalEntityMfo" th:value="${legalEntity.legalEntityMfo}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_bank_name}">Наименование обслуживающего банка;</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityBankName" name="legalEntityBankName" th:value="${legalEntity.legalEntityBankName}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_bank_account}">Расчетный счет (Основной);</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityBankAccount" name="legalEntityBankAccount" th:value="${legalEntity.legalEntityBankAccount}" >
            </div>
        </div>

        <input type="hidden" name="applicantType" value="LegalEntity" >
        <input type="hidden" name="id" th:value="${regApplication.id}" >
        <input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="row" >
            <div class="form-group col-md-12 text-center" >
                <button type="button" class="btn btn-danger" th:text="#{sys_cancel}">Отмена</button>
                <button type="submit" class="btn btn-primary" th:text="#{sys_next}">Далее</button>
            </div>
        </div>
    </form>
</body>
</html>