<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="individual_entrepreneur">

    <form action="" method="post" th:object="${regApplication}" data-parsley-validate="">

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_tin_individual}">СТИР</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control only-number" required="" id="individualEntrepreneurTin" name="individualEntrepreneurTin" value="" minlength="9" maxlength="9" th:value="${individualEntrepreneur.individualEntrepreneurTin}">
            </div>
        </div>
        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_full_name}">Ф.И.О</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="individualEntrepreneurName" name="individualEntrepreneurName" th:value="${individualEntrepreneur.individualEntrepreneurName}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_opf}">Организационно правовая форма предприятия</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <select class="form-control" required="" id="legalEntityOpfId" name="legalEntityOpfId" >
                    <option value="" th:text="#{sys_select}"></option>
                    <option th:each="opf : ${opfIndividualList}" th:value="${opf.id}" th:text="${opf.getNameTranslation(#locale)}" th:selected="${legalEntity.legalEntityOpfId==opf.id}" th:disabled="${opf.parentId==null}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_passport_serial}"></label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6 input-group">
                <input class="form-control col-md-4 mr-3" required="" id="entrepreneurPassportSerial" name="entrepreneurPassportSerial" th:value="${individualEntrepreneur.entrepreneurPassportSerial}" maxlength="3" placeholder="CR">
                <input class="form-control col-md-8" required="" id="entrepreneurPassportNumber" name="entrepreneurPassportNumber" th:value="${individualEntrepreneur.entrepreneurPassportNumber}" maxlength="10" placeholder="12365498">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label " th:text="#{sys_passport.dateOfIssue}" >Дата выдачи паспорта</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control datepicker" required="" id="entrepreneurPassportDateOfIssue" name="entrepreneurPassportDateOfIssue" th:value="${individualEntrepreneur.entrepreneurPassportDateOfIssue}" data-parsley-pattern="/^(\d{1,2})[.\/](\d{1,2})[.\/](\d{4})$/" />
            </div>
        </div>
        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_passport.dateOfExpiry}">Действителен до</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control datepicker" required="" id="entrepreneurPassportDateOfExpiry" name="entrepreneurPassportDateOfExpiry" th:value="${individualEntrepreneur.entrepreneurPassportDateOfExpiry}" data-parsley-pattern="/^(\d{1,2})[.\/](\d{1,2})[.\/](\d{4})$/" />
            </div>
        </div>
        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_passport.IssuedBy}">Кем выдан</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="entrepreneurPassportIssuedBy" name="entrepreneurPassportIssuedBy" th:value="${individualEntrepreneur.entrepreneurPassportIssuedBy}" >
            </div>
        </div>

        <p class="text-center" th:text="#{sys_individual_entrepreneur_address}">Faoliyatini amalga manzili</p>
        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_region}">Вилоят</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <select class="form-control" required="" id="entrepreneurRegionId" name="entrepreneurRegionId" >
                    <option value="" th:text="#{sys_select}"></option>
                    <option th:each="region : ${regions}" th:value="${region.id}" th:text="${region.getNameTranslation(#locale)}" th:selected="${individualEntrepreneur.entrepreneurRegionId==region.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_subregion}">Туман</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <select class="form-control" required="" id="entrepreneurSubRegionId" name="entrepreneurSubRegionId" >
                    <option value="" th:text="#{sys_select}"></option>
                    <option th:each="sub_region : ${sub_regions}" th:value="${sub_region.id}" th:text="${sub_region.getNameTranslation(#locale)}" th:class="${'sr-'+sub_region.parentId}" th:selected="${individualEntrepreneur.entrepreneurSubRegionId==sub_region.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_address}">Адрес</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="entrepreneurAddress" name="entrepreneurAddress" th:value="${individualEntrepreneur.entrepreneurAddress}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_phone}">Рабочий телефон</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control phone" required="" id="entrepreneurPhone" name="entrepreneurPhone" th:value="${individualEntrepreneur.entrepreneurPhone}" placeholder="+998 ( -- ) --- -- --">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label " th:text="#{sys_mobile_phone}">Мобильный телефон (для смс уведомление);</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control phone" required="" id="entrepreneurMobilePhone" name="entrepreneurMobilePhone" th:value="${individualEntrepreneur.entrepreneurMobilePhone}" placeholder="+998 ( -- ) --- -- --">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_email}">Электронный адрес;</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input type="email" class="form-control" required="" id="entrepreneurEmail" name="entrepreneurEmail" th:value="${individualEntrepreneur.entrepreneurEmail}" placeholder="example@gmail.com">
            </div>
        </div>

        <input type="hidden" name="applicantType" value="IndividualEnterprise" >
        <input type="hidden" name="id" th:value="${regApplication.id}" >
        <input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="row" >
            <div class="form-group col-md-12 text-center" >
                <button type="button" class="btn btn-danger" th:text="#{sys_cancel}" data-toggle="modal" data-target="#cancel_modal">Отмена</button>
                <button type="submit" class="btn btn-primary" th:text="#{sys_next}">Далее</button>
            </div>
        </div>
    </form>
</body>
</html>