<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="legal_entity">

    <form action="" method="post" th:object="${regApplication}" data-parsley-validate="">
        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_tin}">СТИР</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityTin" name="legalEntityTin" data-parsley-type="digits" data-parsley-minlength="9" data-parsley-maxlength="9" maxlength="9" th:value="${legalEntity.legalEntityTin}">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_legal_entity_name}">Фирменное наименование предприятия</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityName" name="legalEntityName" th:value="${legalEntity.legalEntityName}" data-parsley-maxlength="250">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_opf}">Организационно правовая форма предприятия</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <select class="form-control" required="" id="legalEntityOpfId" name="legalEntityOpfId" data-parsley-errors-container="#legalEntityOpf-error">
                    <option value="" th:text="#{sys_select}"></option>
                    <option th:each="opf : ${opfLegalEntityList}" th:value="${opf.id}" th:text="${opf.getNameTranslation(#locale)}" th:selected="${legalEntity.legalEntityOpfId==opf.id}" th:disabled="${opf.parentId==null}"></option>
                </select>
                <div id="legalEntityOpf-error"></div>
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_director_full_name}">Директор</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="directorFullName" name="directorFullName" th:value="${legalEntity.directorFullName}" data-parsley-maxlength="250">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_oked}">ОКЭД</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" onkeypress="getOkedName()" required="" data-parsley-minlength="5" data-parsley-maxlength="5" maxlength="5" data-parsley-type="digits" id="oked" name="oked" th:value="${legalEntity.oked}" placeholder="81100">
                <small id="okedName" class="form-text text-muted" style="display: none"></small>
            </div>
        </div>

        <p class="text-center" th:text="#{sys_legal_entity_address}">Faoliyatni amalga oshirish manzili</p>
        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_region}">Вилоят</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <select class="form-control" required="" id="legalEntityRegionId" name="legalEntityRegionId" >
                    <option value="" th:text="#{sys_select}"></option>
                    <option th:each="region : ${regions}" th:value="${region.id}" th:text="${region.getNameTranslation(#locale)}" th:selected="${legalEntity.legalEntityRegionId==region.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_subregion}">Туман</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <select class="form-control" required="" id="legalEntitySubRegionId" name="legalEntitySubRegionId" >
                    <option value="" th:text="#{sys_select}"></option>
                    <option th:each="sub_region : ${sub_regions}" th:value="${sub_region.id}" th:text="${sub_region.getNameTranslation(#locale)}" th:class="${'sr-'+sub_region.parentId}" th:selected="${legalEntity.legalEntitySubRegionId==sub_region.id}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_address}">Адрес</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityAddress" name="legalEntityAddress" th:value="${legalEntity.legalEntityAddress}" data-parsley-maxlength="250">
            </div>
        </div>

        <p class="text-center" th:text="#{sys_legal_entity_contact}"></p>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_phone}">Рабочий телефон</label>
            </div>
            <div class="col-md-6">
                <input class="form-control phone" id="legalEntityPhone" name="legalEntityPhone" th:value="${legalEntity.legalEntityPhone}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_mobile_phone}">Мобильный телефон (для смс уведомление);</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-4">
                <input class="form-control phone" required="" id="legalEntityMobilePhone" name="legalEntityMobilePhone" th:value="${legalEntity.legalEntityMobilePhone}" placeholder="+998 ( -- ) --- -- --">
            </div>
            <div class="col-md-2">
                <button class="btn btn-info btn-block" type="button" id="send_code_button" onclick="getSMSCode()" th:text="#{sys_phone.confirm}"> Tasdiqlash</button>
            </div>
        </div>

        <div class="form-group row" id="sms_code" style="display: none">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_code_confirm}"></label>
                <span class="required">*</span>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" name="code" id="code"/>
            </div>
            <div class="col-md-2">
                <i class=" fa fa-check-square fa-2x" id="allow" style="margin-top: 6px;color: green;" hidden=""></i>
                <i class="fa fa-times fa-2x" id="notAllow" style="margin-top: 6px;color: red;" hidden=""></i>
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_email}">Электронный адрес;</label>
            </div>
            <div class="col-md-6">
                <input type="email" class="form-control" id="legalEntityEmail" name="legalEntityEmail" th:value="${legalEntity.legalEntityEmail}" data-parsley-maxlength="250">
            </div>
        </div>

        <p class="text-center" th:text="#{sys_bank_info}">Xizmat ko'rsatuvchi bank</p>
        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_mfo}">МФО обслуживающего банка;</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityMfo" name="legalEntityMfo" data-parsley-minlength="5" data-parsley-maxlength="5" maxlength="5" data-parsley-type="digits" th:value="${legalEntity.legalEntityMfo}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_bank_name}">Наименование обслуживающего банка;</label>
                <span class="required">*</span>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityBankName" name="legalEntityBankName" th:value="${legalEntity.legalEntityBankName}" data-parsley-maxlength="250" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_bank_account}">Расчетный счет (Основной);</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" id="legalEntityBankAccount" data-parsley-minlength="19" data-parsley-maxlength="30" name="legalEntityBankAccount" th:value="${legalEntity.legalEntityBankAccount}" >
            </div>
        </div>

        <input type="hidden" name="applicantType" value="LegalEntity" >
        <input type="hidden" name="id" th:value="${regApplication.id}" >
        <input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="row" >
            <div class="form-group col-md-12 text-center" >
                <button type="button" class="btn btn-danger" th:text="#{sys_cancel}" data-toggle="modal" data-target="#cancel_modal">Отмена</button>
                <button type="submit" class="btn btn-primary" th:text="#{sys_next}">Далее</button>
            </div>
        </div>
    </form>
</body>
</html>