<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <!-- smart-wizard css -->
    <link rel="stylesheet" href="/static/plugins/smart-wizard/css/smart_wizard.min.css">
    <link rel="stylesheet" href="/static/plugins/smart-wizard/css/smart_wizard_theme_dots.min.css">
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" th:href="@{/static/modal-window-effects/css/md-modal.css}">
    <style>
        .table td, .table th{
            white-space: pre-line;
        }
        .datepicker>.datepicker-days {
            display: block;
        }
        ol.linenums {
            margin: 0 0 0 -8px;
        }
    </style>
</head>
<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

    <object th:include="fragments/header :: head" th:remove="tag" ></object>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ sample-page ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 >
                                                <span th:text="#{reg_application.number}"></span>&nbsp;
                                                <span th:text="${regApplication.id}"></span>
                                            </h5>
                                        </div>
                                        <div class="card-body">

                                            <object th:include="reg/step_wizard :: wizard" th:remove="tag" ></object>

                                            <div class="row" >
                                                <div class="form-group col-md-12 text-center" >
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="applicantTypeLegalEntity" name="applicantType" class="custom-control-input" value="0" th:checked="${applicant.type == T(uz.maroqand.ecology.core.constant.expertise.ApplicantType).LegalEntity}" >
                                                        <label class="custom-control-label" for="applicantTypeLegalEntity" th:text="#{sys_legal_entity}">Yuridik shaxs</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="applicantTypeIndividual" name="applicantType" value="1" class="custom-control-input" th:checked="${applicant.type == T(uz.maroqand.ecology.core.constant.expertise.ApplicantType).Individual}" >
                                                        <label class="custom-control-label" for="applicantTypeIndividual" th:text="#{sys_individual}">Jismoniy shaxs</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="selectFormsLegal">
                                                <object th:include="reg/applicant_legal_entity_fragment :: legal_entity" th:remove="tag"></object>
                                            </div>
                                            <div id="selectFormsindividual">
                                                <object th:include="reg/applicant_individual_fragment :: individual" th:remove="tag"></object>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- [ sample-page ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
    <script type="text/javascript" src="/static/js/form.js?v=28122016"></script>
    <script src="/static/plugins/smart-wizard/js/jquery.smartWizard.min.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap-datetimepicker/js/bootstrap-datepicker.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            bindSubRegionSelectToRegionSelect('#individualSubRegionId', '#individualRegionId');
            bindSubRegionSelectToRegionSelect('#legalEntitySubRegionId', '#legalEntityRegionId');
            var checkVal=$("input[name='applicantType']:checked").val();
            selectForm(checkVal);
            $('.datepicker').datepicker({
                format: "dd.mm.yyyy",
                todayHighlight: true,
                autoclose: true
                // startDate: '-130y',
                // endDate: '-5y'
            });
        });

        $('input[name="applicantType"]:radio').change(function () {
            selectForm($(this).val());
        });

        function selectForm(checkval) {
            if (checkval==0){
                $('#selectFormsLegal').show();
                $('#selectFormsindividual').hide();
            }else{
                $('#selectFormsLegal').hide();
                $('#selectFormsindividual').show();
            }
        }

        $('.only-number').keyup(function() {
            if (/\D/g.test(this.value))
            {
                // Filter non-digits from input value.
                this.value = this.value.replace(/\D/g, '');
            }
        });

    </script>
</body>
</html>