<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <!-- smart-wizard css -->
    <link rel="stylesheet" href="/static/plugins/smart-wizard/css/smart_wizard.min.css">
    <link rel="stylesheet" href="/static/plugins/smart-wizard/css/smart_wizard_theme_dots.min.css">
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" th:href="@{/static/modal-window-effects/css/md-modal.css}">

</head>
<body>
    <!-- [ Pre-loader ] start -->
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    <!-- [ Pre-loader ] End -->

    <object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

    <object th:include="fragments/header :: head" th:remove="tag" ></object>

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!-- [ sample-page ] start -->
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 >
                                                <span th:text="#{reg_application.number}"></span>&nbsp;
                                                <span th:text="${regApplication.id}"></span>
                                            </h5>
                                        </div>
                                        <div class="card-body">

                                            <object th:include="reg/step_wizard :: wizard" th:remove="tag" ></object>

                                            <div id="confirmAction" class="container-fluid mt-lg-3">
                                                <div class="row">
                                                    <div class="col-md-12 text-center " style="color: #2f9c0a;">
                                                                    <span class="hei-75 wid-75 d-inline-block mr-4">
                                                                        <img src="/static/images/check.png" style="width: 100%; height: 100%">
                                                                    </span>
                                                        <span class="f-20 font-weight-bold" style="vertical-align: middle"> Ваша заявка принята</span></br>
                                                        <span class="f-12" style="margin-left: 125px">Срок исполнение заявки:</span> <span th:text="${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm:ss')}></span>
                                                    </div>
                                                    <div class="col-md-12 text-center mt-4 mr-0">
                                                        <a th:href="${back_url}" class="btn btn-primary pl-lg-5 pr-lg-5" >
                                                            <span th:text="#{sys_back}"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- [ sample-page ] end -->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->
    <object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
</body>
</html>