<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="menu">

<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menu-light brand-lightblue icon-colored">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/dashboard" class="b-brand">
                <img style="width: 60px;" src="/static/images/logo.png" />
                <span class="b-title" th:text="#{sys_site_main_title}"></span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label th:text="#{sys_control_panel}">Navigation</label>
                </li>
                <li class="nav-item"><a href="/dashboard" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.dashboard}"> </span></a></li>


                <li class="nav-item pcoded-menu-caption">
                    <label th:text="#{sys_expertise_control}"></label>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_CONFIRM')"><a href="/expertise/confirm/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.confirmList}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_FORWARDING')"><a href="/expertise/forwarding/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.forwardingList}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_PERFORMER')"><a href="/expertise/performer/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.performerList}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_AGREEMENT')"><a href="/expertise/agreement/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.agreementList}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_AGREEMENT_COMPLETE')"><a href="/expertise/agreement_complete/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.agreementCompleteList}"> </span></a></li>


                <li class="nav-item pcoded-menu-caption">
                    <label th:text="#{sys_expertise_registry}"></label>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ENTERPRISE_REGISTER')"><a href="/expertise/applicant/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext" th:text="#{registry_applicant.list}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EMPLOYEE_CONTROL')"><a href="/expertise/employee_control/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext" th:text="#{sys_employee.list}"> </span></a></li>


                <li class="nav-item pcoded-menu-caption">
                    <label th:text="#{sys_menu.billing}"></label>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('BILLING')"><a href="/expertise/billing/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.billing_list}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('PAYMENT_FILE')"><a href="/billing/payment_file/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-file-text"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.payment_file}"> </span></a></li>

                <li data-username="Sample Page" class="nav-item"><a href="/expertise/billing/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.billing_list}"> </span></a></li>
                <li data-username="Sample Page" class="nav-item"><a href="/expertise/coordinate/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext" th:text="#{coordination.list}"> </span></a></li>

                <li class="nav-item pcoded-menu-caption">
                    <label th:text="#{sys_expertise_control}"></label>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('APPEAL_ADMIN')"><a href="/sys/appeal_admin/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-sidebar"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.admin_appeal}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('COORDINATE_REGISTER')"><a href="/expertise/coordinate/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-menu"></i></span><span class="pcoded-mtext" th:text="#{coordination.list}"> </span></a></li>
                <li class="nav-item pcoded-hasmenu" sec:authorize="hasAnyAuthority('ADMIN')">
                    <a href="#!" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="feather icon-file"></i>
                        </span>
                        <span class="pcoded-mtext" th:text="#{mgmt_admin_panel}"></span></a>
                    <ul class="pcoded-submenu" style="display: none;">
                        <li class=""><a href="/mgmt/translations"  th:text="#{mgmt_translations}"> </a></li>
                        <li class=""><a href="/mgmt/expertise/object_expertise/list"  th:text="#{mntr_objectExpertise_list}"> </a></li>
                        <li class=""><a href="/mgmt/expertise/activity/list" th:text="#{mntr_activity_list}"> </a></li>
                        <li class=""><a href="/mgmt/expertise/material/list" th:text="#{sys_menu.materialList}"> </a></li>
                        <li class=""><a href="/mgmt/expertise/expertise_requirement/list"  th:text="#{mntr_expertise_requirement_list}"></a></li>
                        <li class=""><a href="/mgmt/expertise/offer/list"  th:text="#{sys_menu.offerList}"></a></li>
                        <li class=""><a href="/mgmt/roles/list"  th:text="#{sys_menu.roleList}"></a></li>
                        <li class=""><a href="/mgmt/users/list"  th:text="#{sys_menu.usersList}"></a></li>
                        <li class=""><a href="/mgmt/position/list"  th:text="#{sys_menu.positionList}"></a></li>
                        <li class=""><a href="/mgmt/department/list"  th:text="#{sys_menu.departmentList}"></a></li>
                        <li class=""><a href="/mgmt/min_wage"  th:text="#{mgmt_min_wage}"></a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->

</body>
</html>