<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body th:fragment="menu">

<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menu-light brand-lightblue icon-colored menupos-static">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/dashboard" class="b-brand">
                <img style="width: 45px; height: 45px; object-fit: cover;" src="/static/images/logo.png" />
                <span class="b-title" th:text="#{sys_site_main_title}"></span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label th:text="#{sys_control_panel}">Navigation</label>
                </li>
                <li class="nav-item"><a href="/dashboard" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-home-outline"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.dashboard}"> </span></a></li>
                <!--<li class="nav-item" sec:authorize="hasAnyAuthority('DOC_MANAGEMENT')"><a href="/doc/office" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-file-document-box-outline"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.doc_dashboard}"> </span></a></li>-->

                <li class="nav-item pcoded-menu-caption" sec:authorize="hasAnyAuthority('EXPERTISE_CONFIRM,EXPERTISE_FORWARDING,EXPERTISE_PERFORMER,EXPERTISE_AGREEMENT,EXPERTISE_AGREEMENT_COMPLETE,EXPERTISE_CONCLUSION_COMPLETE')">
                    <label th:text="#{sys_expertise_control}"></label>
                </li>

                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_REG')">
                    <a href="/expertise/reg/application/list" class="nav-link" style="padding: 5px 15px">
                        <span class="pcoded-micon"><i class="fas fa-envelope-open"></i></span>
                        <span class="pcoded-mtext text-wrap" th:text="#{sys_menu.regApplicationList}"> </span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_CONFIRM')">
                    <a href="/expertise/confirm/list" class="nav-link">
                        <span class="pcoded-micon"><i class="fas fa-envelope-open"></i></span>
                        <span class="pcoded-mtext text-wrap" th:text="#{sys_menu.confirmList}"> </span>
                        <span class="rounded-notification w-15 text-center" th:if="${@regApplicationLogServiceImpl.countbyLogType0AndDeletedFalseOrganizationId()}!=0" style="height: 20px" th:text="${@regApplicationLogServiceImpl.countbyLogType0AndDeletedFalseOrganizationId()}">2</span>
                        <!--<span th:text="${@getNotifacationService.countIncomingByStatus()}" class="rounded-notification w-15 text-center" style="height: 20px">12</span>-->
<!--                              <span class="rounded-notification w-15 text-center" th:if="${@regApplicationLogServiceImpl.getLogCount(0)}!=0" style="height: 20px" th:text="${@regApplicationLogServiceImpl.getLogCount(0)}">2</span>-->

                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_FORWARDING')">
                    <a href="/expertise/forwarding/list" class="nav-link">
                        <span class="pcoded-micon"><i class="mdi mdi-file-multiple"></i></span>
                        <span class="pcoded-mtext text-wrap" th:text="#{sys_menu.forwardingList}"> </span>
<!--                        <span class="rounded-notification w-15 text-center" th:if="${@regApplicationLogServiceImpl.getLogCount(1)}!=0" style="height: 20px" th:text="${@regApplicationLogServiceImpl.getLogCount(1)}">2</span>-->
                        <span class="rounded-notification w-15 text-center" th:if="${@regApplicationLogServiceImpl.countbyLogType1AndDeletedFalseOrganizationId() }!=0" style="height: 20px" th:text="${@regApplicationLogServiceImpl.countbyLogType1AndDeletedFalseOrganizationId()}">2</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_PERFORMER')">
                    <a href="/expertise/performer/list" class="nav-link">
                        <span class="pcoded-micon"><i class="mdi mdi-pen"></i></span>
                        <span class="pcoded-mtext text-wrap" th:text="#{sys_menu.performerList}"> </span>
<!--                        <span class="rounded-notification w-15 text-center" th:if=" ${@regApplicationLogServiceImpl.getLogCount(2)}!=0" style="height: 20px" th:text="${@regApplicationLogServiceImpl.getLogCount(2)}">2</span>-->
                        <span class="rounded-notification w-15 text-center" th:if=" ${@regApplicationLogServiceImpl.countbyLogType2AndDeletedFalseOrganizationId() }!=0" style="height: 20px" th:text="${@regApplicationLogServiceImpl.countbyLogType2AndDeletedFalseOrganizationId() }">2</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_AGREEMENT')">
                    <a href="/expertise/agreement/list" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-layers"></i></span>
                        <span class="pcoded-mtext text-wrap" th:text="#{sys_menu.agreementList}"> </span>
<!--                        <span class="rounded-notification w-15 text-center" th:if=" ${@regApplicationLogServiceImpl.getLogCount(3)}!=0" style="height: 20px" th:text="${@regApplicationLogServiceImpl.getLogCount(3)}">2</span>-->
                        <span class="rounded-notification w-15 text-center" th:if=" ${@regApplicationLogServiceImpl.countbyLogType3AndDeletedFalseOrganizationId() }!=0" style="height: 20px" th:text="${@regApplicationLogServiceImpl.countbyLogType3AndDeletedFalseOrganizationId() }">2</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_AGREEMENT_COMPLETE')">
                    <a href="/expertise/agreement_complete/list" class="nav-link">
                        <span class="pcoded-micon"><i class="mdi mdi-checkbox-multiple-marked-outline"></i></span>
                        <span class="pcoded-mtext text-wrap" th:text="#{sys_menu.agreementCompleteList}"> </span>
<!--                        <span class="rounded-notification w-15 text-center" th:if="${@regApplicationLogServiceImpl.getLogCount(4)}!=0" style="height: 20px" th:text="${@regApplicationLogServiceImpl.getLogCount(4)}">2</span>-->
                        <span class="rounded-notification w-15 text-center" th:if="${@regApplicationLogServiceImpl.countbyLogType4AndDeletedFalseOrganizationId()}!=0" style="height: 20px" th:text="${@regApplicationLogServiceImpl.countbyLogType4AndDeletedFalseOrganizationId()}">2</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_CONCLUSION_COMPLETE')">
                    <a href="/expertise/conclusion_complete/list" class="nav-link">
                        <span class="pcoded-micon"><i class="mdi mdi-checkbox-multiple-marked-outline"></i></span>
                        <span class="pcoded-mtext text-wrap" th:text="#{sys_menu.conclusionCompleteList}"> </span>
<!--                        <span class="rounded-notification w-15 text-center" th:if="${@regApplicationLogServiceImpl.getLogCount(5)}!=0" style="height: 20px" th:text="${@regApplicationLogServiceImpl.getLogCount(5)}">2</span>-->
                        <span class="rounded-notification w-15 text-center" th:if="${@regApplicationLogServiceImpl.countbyLogType5AndDeletedFalseOrganizationId()}!=0" style="height: 20px" th:text="${@regApplicationLogServiceImpl.countbyLogType5AndDeletedFalseOrganizationId()}">2</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_AGREEMENT_COMPLETE')">
                    <a href="/expertise/change_deadline/list" class="nav-link">
                        <span class="pcoded-micon"><i class="mdi mdi-inbox-multiple"></i></span>
                        <span class="pcoded-mtext text-wrap" th:text="#{sys_menu.changeDeadlineDateList}"> </span>
<!--                        <span class="rounded-notification w-15 text-center" th:if="NOT ${@userServiceImpl.isAdmin()} AND ${@changeDeadlineDateServiceImpl.getCountByStatusInitial()}!=0" style="height: 20px" th:text="${@changeDeadlineDateServiceImpl.getCountByStatusInitial()}">2</span>-->
                    </a>
                </li>

                <li class="nav-item pcoded-menu-caption" sec:authorize="hasAnyAuthority('ENTERPRISE_REGISTER,EMPLOYEE_CONTROL')">
                    <label th:text="#{sys_expertise_registry}"></label>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('ENTERPRISE_REGISTER')"><a href="/expertise/applicant/list" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-format-list-checkbox"></i></span><span class="pcoded-mtext" th:text="#{registry_applicant.list}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_MONITORING')"><a href="/expertise/reg/mntr/application/list" class="nav-link"><span class="pcoded-micon"><i class="fas fa-envelope-open"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.regMntrApplicationList}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_MONITORING_CONCLUSION')"><a href="/expertise/conclusion/list" class="nav-link"><span class="pcoded-micon"><i class="far fa-file-alt"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.conclusionList}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('COORDINATE_REGISTER')"><a href="/expertise/coordinate/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-map-pin"></i></span><span class="pcoded-mtext" th:text="#{coordination.list}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EXPERTISE_AGREE')"><a href="/expertise/agree/list" class="nav-link"><span class="pcoded-micon"><i class="fas fa-receipt"></i></span><span class="pcoded-mtext" th:text="#{contract.list}"> </span></a></li>


                <li class="nav-item pcoded-menu-caption" sec:authorize="hasAnyAuthority('BILLING','PAYMENT_FILE')">
                    <label th:text="#{sys_menu.billing}"></label>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('BILLING')"><a href="/expertise/billing/list" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-credit-card"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.billing_list}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('PAYMENT_FILE_ALL')"><a href="/billing/payment_file_all/list" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-cash-multiple"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.payment_file_all}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('PAYMENT_FILE')"><a href="/billing/payment_file/list" class="nav-link"><span class="pcoded-micon"><i class="mdi mdi-cash-multiple"></i></span><span class="pcoded-mtext" th:text="#{sys_menu.payment_file}"> </span></a></li>


                <li class="nav-item pcoded-menu-caption" sec:authorize="hasAnyAuthority('ADMIN')">
                    <label th:text="#{mgmt_control}"></label>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('APPEAL_ADMIN')">
                    <a href="/sys/appeal_admin/list" class="nav-link">
                        <span class="pcoded-micon"><i class="mdi mdi-email-outline"></i></span>
                        <span class="pcoded-mtext" th:text="#{sys_menu.admin_appeal}"></span>
<!--                        <span class="rounded-notification w-15 text-center" th:if="${@appealServiceImpl.getbyStatus()}!=0" style="height: 20px" th:text="${@appealServiceImpl.getbyStatus()}">2</span>-->
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('EMPLOYEE_CONTROL')"><a href="/expertise/employee_control/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-users"></i></span><span class="pcoded-mtext" th:text="#{sys_employee.list}"> </span></a></li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('PAYMENT_FILE_ALL')"><a href="/expertise/report/list" class="nav-link"><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext" th:text="#{sys.report}"> </span></a></li>

                <li class="nav-item pcoded-hasmenu" sec:authorize="hasAnyAuthority('ADMIN')">
                    <a href="#!" class="nav-link">
                        <span class="pcoded-micon">
                            <i class="mdi mdi-medical-bag"></i>
                        </span>
                        <span class="pcoded-mtext" th:text="#{mgmt_admin_panel}"></span></a>
                    <ul class="pcoded-submenu" style="display: none;">
                        <li class=""><a href="/mgmt/expertise/object_expertise/list"><i class="mdi mdi-grid-large mr-2"></i><span th:text="#{mntr_objectExpertise_list}"></span></a></li>
                        <li class=""><a href="/mgmt/expertise/activity/list"><i class="mdi mdi-track-light mr-2"></i><span th:text="#{mntr_activity_list}"></span></a></li>
                        <li class=""><a href="/mgmt/expertise/material/list"><i class="mdi mdi-server mr-2"></i><span th:text="#{sys_menu.materialList}"></span></a></li>
                        <li class=""><a href="/mgmt/expertise/expertise_requirement/list"><i class="mdi mdi-book-open-page-variant mr-2"></i><span th:text="#{mntr_expertise_requirement_list}"></span></a></li>
                        <li class=""><a href="/mgmt/expertise/offer/list"><i class="mdi mdi-file-document-outline mr-2"></i><span th:text="#{sys_menu.offerList}"></span></a></li>

                        <li class=""><a href="/mgmt/position/list"><i class="mdi mdi-account-card-details mr-2"></i><span th:text="#{sys_menu.positionList}"></span></a></li>
                        <li class=""><a href="/mgmt/department/list"><i class="mdi mdi-office-building mr-2"></i><span th:text="#{sys_menu.departmentList}"></span></a></li>
                        <li class=""><a href="/mgmt/users/list"><i class="feather icon-user mr-2"></i><span th:text="#{sys_menu.usersList}"></span></a></li>
                        <li class=""><a href="/mgmt/user_control/list"><i class="feather icon-user mr-2"></i><span th:text="#{sys_menu.userControl}"></span></a></li>
                        <li class=""><a href="/mgmt/roles/list"><i class="feather icon-user-check mr-2"></i><span th:text="#{sys_menu.roleList}"></span></a></li>
                        <li class=""><a href="/mgmt/event-news/list"><i class="feather icon-user-check mr-2"></i><span th:text="#{sys_menu.event}"></span></a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->

</body>
</html>