<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <link rel="stylesheet" href="/static/datatables/css/datatables.min.css">
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" th:href="@{/static/modal-window-effects/css/md-modal.css}">
</head>
<body>
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

<object th:include="fragments/header :: head" th:remove="tag" ></object>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">

                                <!-- [ sample-page ] start -->
                                <div class="col-sm-12">

                                    <!-- Accordion block begins here -->
                                    <div class="accordion" id="accordionExample">

                                        <!-- dataTable card begins here -->
                                        <div class="card">
                                        <div class="card-header">
                                            <h5 th:text="#{material.new}"></h5>
                                        </div>
                                        <div class="card-body">
                                            <form th:action="${T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).MaterialNew}" method="post" th:object="${material}">
                                               <div class="row col-md-10 offset-2">
                                                   <div class="form-group col-md-5">
                                                       <label for="name" th:text="#{material.name}"></label>
                                                       <input type="text" class="form-control" id="name" th:field="*{name}" required="">
                                                   </div>
                                                   <div class="form-group col-md-3">
                                                       <label for="name" th:text="#{material.nameShort}"></label>
                                                       <input type="text" class="form-control" id="nameShort" th:field="*{nameShort}" required="">
                                                   </div>
                                               </div>
                                                <div class="row col-md-10 offset-2">
                                                    <div class="form-group col-md-5">
                                                        <label for="name" th:text="#{material.nameOz}"></label>
                                                        <input type="text" class="form-control" id="nameOz" th:field="*{nameOz}" required="">
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="name" th:text="#{material.nameShortOz}"></label>
                                                        <input type="text" class="form-control" id="nameShortOz" th:field="*{nameShortOz}" required="">
                                                    </div>
                                                </div>
                                                <div class="row col-md-10 offset-2">
                                                    <div class="form-group col-md-5">
                                                        <label for="name" th:text="#{material.nameEn}"></label>
                                                        <input type="text" class="form-control" id="nameEn" th:field="*{nameEn}" required="">
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="name" th:text="#{material.nameShortEn}"></label>
                                                        <input type="text" class="form-control" id="nameShortEn" th:field="*{nameShortEn}" required="">
                                                    </div>
                                                </div>
                                                <div class="row col-md-10 offset-2">
                                                    <div class="form-group col-md-5">
                                                        <label for="nameRu" th:text="#{material.nameRu}"></label>
                                                        <input type="text" class="form-control" id="nameRu" th:field="*{nameRu}" required="">
                                                    </div>
                                                    <div class="form-group col-md-3">
                                                        <label for="nameRu" th:text="#{material.nameShortRu}"></label>
                                                        <input type="text" class="form-control" id="nameShortRu" th:field="*{nameShortRu}" required="">
                                                    </div>
                                                </div>
                                                <input type="hidden" th:field="*{id}">
                                                <div class="col-md-2 offset-5">
                                                    <button type="submit" class="btn btn-success btn-block">
                                                        <i class="feather icon-check"></i>
                                                        <span th:text="#{sys_add}" ></span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                        <!-- dataTable card ends here -->

                                    </div>
                                    <!-- Accordion block ends here -->

                                </div>
                                <!-- [ sample-page ] end -->
                            </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>

</body>
</html>