<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="confirmation">
       <div class="card-block text-center">
            <h5 th:text="#{sys_reg_application.result}"></h5>
       </div>
        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_reg_application.template}">СТИР</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" id="template" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_reg_application.comments}">СТИР</label>
            </div>
            <div class="col-md-6">
                <textarea class="form-control" rows="8" id="comments"></textarea>
            </div>
        </div>
        <div class="row" >
            <div class="form-group col-md-12 text-center" >
                <button class="btn btn-danger" type="submit" id="notConfirm" th:text="#{sys_notConfirm}"></button>
                <button class="btn btn-primary" type="submit" id="confirm" th:text="#{sys_confirm}"></button>
            </div>
        </div>
</body>
</html>