<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="general_info">

        <div class="form-group row" th:object="${regApplication}">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_tin}">СТИР</label>
            </div>
            <div class="col-md-6">
                <input class="form-control only-number" required="" minlength="9" maxlength="9" th:value="*{applicant.tin}">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_legal_entity_name}">Фирменное наименование предприятия</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="legalEntityName" name="legalEntityName" th:value="*{applicant.name}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_director_full_name}">Директор</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="directorFullName" name="directorFullName" th:value="*{applicant.directorFullName}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_oked}">ОКЭД</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" required="" id="oked" name="oked" th:value="*{applicant.oked}" >
                <small id="okedName" class="form-text text-muted">Oked nomi shundan iboratki sus sasasfcdsfcvsd d</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_region}">Вилоят</label>
            </div>
            <div class="col-md-6">
                <select class="form-control" readonly="readonly" disabled="disabled">
                    <option th:text="${region.getNameTranslation(#locale)}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_subregion}">Туман</label>
            </div>
            <div class="col-md-6">
                <select class="form-control" disabled="disabled">
                    <option th:text="${subRegion.getNameTranslation(#locale)}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_address}">Адрес</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" th:value="${applicant.legalEntityAddress}" readonly="readonly">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_mobile_phone}">Мобильный телефон (для смс уведомление);</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" th:value="${applicant.phone}" readonly="readonly">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_email}">Электронный адрес;</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" th:value="${applicant.email}" readonly="readonly">
            </div>
        </div>


        <div class="row" >
            <div class="form-group col-md-12 text-center" >
                <a th:href="${cancel_url}" class="btn btn-danger" th:text="#{sys_cancel}">Отмена</a>
                <a class="btn btn-primary" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" th:text="#{sys_next}">Далее</a>
            </div>
        </div>
</body>
</html>