<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="general_info">

        <div class="form-group row" th:object="${applicant}">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_tin}">СТИР</label>
            </div>
            <div class="col-md-6">
                <input class="form-control only-number" readonly="readonly" th:value="*{tin}">
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_applicant_type}">Фирменное наименование предприятия</label>
            </div>
            <div class="col-md-6" th:if="${applicant.type == T(uz.maroqand.ecology.core.constant.expertise.ApplicantType).LegalEntity}">
                <input class="form-control" th:value="#{sys_legal_entity}" readonly="readonly">
            </div>
            <div class="col-md-6" th:if="${applicant.type == T(uz.maroqand.ecology.core.constant.expertise.ApplicantType).Individual}">
                <input class="form-control" th:value="#{sys_individual}" readonly="readonly">
            </div>
            <div class="col-md-6" th:if="${applicant.type == T(uz.maroqand.ecology.core.constant.expertise.ApplicantType).IndividualEnterprise}">
                <input class="form-control" th:value="#{sys_individual_enterprise}" readonly="readonly">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_legal_entity_name}">Фирменное наименование предприятия</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" th:value="${applicant.name}" readonly="readonly">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_director_full_name}">Директор</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" readonly="readonly" th:value="${applicant.directorFullName}" >
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_oked}">ОКЭД</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" th:value="${applicant.oked}" readonly="readonly">
                <small id="okedName" class="form-text text-muted">Oked nomi shundan iboratki sus sasasfcdsfcvsd d</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_region}">Вилоят</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" th:value="${region.getNameTranslation(#locale)}" readonly="readonly"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_subRegion}">Туман</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" th:value="${subRegion.getNameTranslation(#locale)}" readonly="readonly"/>
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_address}">Адрес</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" th:value="${applicant.address}" readonly="readonly">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_mobile_phone}">Мобильный телефон (для смс уведомление);</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" th:value="${applicant.phone}" readonly="readonly">
            </div>
        </div>

        <div class="form-group row" >
            <div class="col-md-3 text-right">
                <label class="col-form-label" th:text="#{sys_email}">Электронный адрес;</label>
            </div>
            <div class="col-md-6">
                <input class="form-control" th:value="${applicant.email}" readonly="readonly">
            </div>
        </div>


        <div class="row" >
            <div class="form-group col-md-12 text-center" >
                <a th:href="${cancel_url}" class="btn btn-danger" th:text="#{sys_cancel}">Отмена</a>
                <a class="btn btn-primary" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" th:text="#{sys_next}">Далее</a>
            </div>
        </div>
</body>
</html>