<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="footer">

    <script type="text/javascript" src="/static/doc/assets/js/vendor-all.min.js"></script>
    <script type="text/javascript" src="/static/doc/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/doc/assets/plugins/data-tables/js/datatables.min.js"></script>
    <script type="text/javascript" src="/static/doc/assets/js/pages/tbl-datatable-custom.js"></script>
    <script type="text/javascript" src="/static/doc/assets/js/pcoded.min.js"></script>
    <script type="text/javascript" src="/static/doc/js/slick.js"></script>
    <script type="text/javascript" src="/static/doc/assets/plugins/moment/js/moment.js"></script>
    <script src="/static/doc/assets/plugins/material-datetimepicker/js/bootstrap-material-datetimepicker.js"></script>
    <script type="text/javascript" src="/static/doc/assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="/static/doc/js/index.js"></script>

</body>
</html>
