<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org">
<body th:fragment="menu">
<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo" >
            <a class="logo_a" href="#">
                <img alt="" src="/static/doc/images/logo.png">
                <span class="b-title">ЭКОЭКСПЕРТИЗА</span>
            </a>
            <!-- <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span> </a> -->
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item" >
                    <a class="nav-link" href="/dashboard">
                        <span class="pcoded-micon"><i class="mdi mdi-more"></i></span>
                        <span class="pcoded-mtext">ЭКО ЭКСПЕРТИЗА</span>
                    </a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Хужжатлар</label>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).Dashboard}">
                        <span class="pcoded-micon"><i class="fa fa-bars color-primary"></i></span>
                        <span class="pcoded-mtext" th:text="#{sys_document.dashboard}">Хужжатлар иш столи</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).IncomingList}">
                        <span class="pcoded-micon"><i class="fas fa-inbox color-yellow"></i></span>
                        <span class="pcoded-mtext" th:text="#{doc_incoming.list}">Кирувчи хатлар</span>
                        <span th:text="${@getNotifacationService.countIncomingByStatus()}" class="color-gray rounded-pill w-15 text-center" style="height: 20px">12</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).OutgoingList}">
                        <span class="pcoded-micon"><i class="fas fa-upload color-green"></i></span>
                        <span class="pcoded-mtext" th:text="#{doc_outgoing.list}">Чикувчи хатлар</span>
                        <span th:text="${@getNotifacationService.countOutgoingByStatus()}" class="color-gray rounded-pill w-15 text-center" style="height: 20px">12</span>

                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).InnerList}">
                        <span class="pcoded-micon"><i class="fa fa-archive color-purple"></i></span>
                        <span class="pcoded-mtext" th:text="#{doc_inner.list}">Ички хужжатлар</span>
                        <span th:text="${@getNotifacationService.countInnerByStatus()}" class="color-gray rounded-pill w-15 text-center" style="height: 20px">12</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).DocumentCheckList}">
                        <span class="pcoded-micon"><i class="fas fa-check-square color-primary"></i></span>
                        <span class="pcoded-mtext" th:text="#{doc_check.list}"></span>
                    </a>
                </li>

                <!--<li class="nav-item">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).AppealList}">
                        <span class="pcoded-micon"><i class="fas fa-clipboard-list color-purple"></i></span>
                        <span class="pcoded-mtext">Муррожатлар</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).OrdersList}">
                        <span class="pcoded-micon color-primary"><i class="fas fa-list-ol"></i></span>
                        <span class="pcoded-mtext">Буйруклар</span>
                    </a>
                </li>-->
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="pcoded-micon color-gray"><i class="fas fa-sitemap"></i></span>
                        <span class="pcoded-mtext">Журналлар буйича</span>
                    </a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).LibraryWindow}">
                        <span class="pcoded-micon"><i class="fa fa-book color-green"></i></span>
                        <span class="pcoded-mtext" th:text="#{Kutubxona}"></span>
                    </a>
                </li>

                <li class="nav-item pcoded-menu-caption" sec:authorize="hasAnyAuthority('DOC_MANAGEMENT_REGISTER')">
                    <label>Девонхона</label>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('DOC_MANAGEMENT_REGISTER')">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).Dashboard}">
                        <span class="pcoded-micon"><i class="fa fa-bars color-primary"></i></span>
                        <span class="pcoded-mtext" th:text="#{sys_document.dashboard}">Хужжатлар иш столи</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('DOC_MANAGEMENT_REGISTER')">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).IncomingRegistrationList}">
                        <span class="pcoded-micon"><i class="fa fa-level-down-alt color-green"></i></span>
                        <span class="pcoded-mtext" th:text="#{doc_incoming.list}">Кирувчи хатлар</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('DOC_MANAGEMENT_REGISTER')">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).OutgoingMailList}">
                        <span class="pcoded-micon"><i class="fa fa-level-up-alt color-primary"></i></span>
                        <span class="pcoded-mtext" th:text="#{doc_outgoing.list}">Чикувчи хатлар</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('DOC_MANAGEMENT_INTERNAL')">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).InnerRegistrationList}">
                        <span class="pcoded-micon"><i class="fa fa-archive color-purple"></i></span>
                        <span class="pcoded-mtext" th:text="#{doc_inner.list}">Ички хужжатлар</span>
                    </a>
                </li>

                <li class="nav-item pcoded-menu-caption" sec:authorize="hasAnyAuthority('DOC_MANAGEMENT_REGISTER')">
                    <label>Руйхатга олиш</label>
                </li>

                <li class="nav-item" sec:authorize="hasAnyAuthority('DOC_MANAGEMENT_REGISTER')">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).IncomingRegistrationNew}">
                        <span class="pcoded-micon"><i class="fas fa-envelope-open color-yellow"></i></span>
                        <span class="pcoded-mtext" th:text="#{doc_incoming.reg}">Кирувчи хатларни руйхатга олиш</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('DOC_MANAGEMENT_REGISTER')">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).OutgoingMailNew}">
                        <span class="pcoded-micon"><i class="fa fa-envelope color-primary"></i></span>
                        <span class="pcoded-mtext" th:text="#{doc_outgoing.reg}">Чикувчи хатларни руйхатга олиш</span>
                    </a>
                </li>
                <li class="nav-item" sec:authorize="hasAnyAuthority('DOC_MANAGEMENT_INTERNAL')">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).InnerRegistrationNew}">
                        <span class="pcoded-micon"><i class="fa fa-flag color-purple"></i></span>
                        <span class="pcoded-mtext" th:text="#{doc_inner.reg}">Ички хужжатларни руйхатга олиш</span>
                    </a>
                </li>
                <!-- <li class="nav-item">
                     <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).AppealRegistrationList}">
                         <span class="pcoded-micon"><i class="mdi mdi-clipboard-text-outline color-yellow"></i></span>
                         <span class="pcoded-mtext">Мурожаатларни руйхатга олиш</span>
                     </a>
                 </li>-->
                <li class="nav-item" sec:authorize="hasAnyAuthority('DOC_MANAGEMENT_REGISTER')">
                    <a class="nav-link" th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).IncomingRegistrationNewList}">
                        <span class="pcoded-micon"><i class="fa fa-exclamation-circle color-yellow"></i></span>
                        <span class="pcoded-mtext" th:text="#{doc_incoming.taskNotIncluded}">Ижрога тушмаган</span>
<!--                        <span th:text="${@getNotifacationService.countIncomingNotByStatus()}" class="bg-success border border-primary rounded-pill w-15 text-center" style="height: 20px">12</span>-->
                        <span th:text="${@getNotifacationService.countIncomingNotByStatus()}" class="color-gray w-15 text-center rounded-pill">12</span>

                    </a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="pcoded-micon"><i class="mdi mdi-clock-outline color-primary"></i></span>
                        <span class="pcoded-mtext">Чикиб кетмаган</span>
                    </a>
                </li>-->
                <!--<hr>
                <li class="nav-item pcoded-menu-caption">
                    <label>Менинг хужжатларим</label>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="pcoded-micon"><i class="mdi mdi-folder-open color-green"></i></span>
                        <span class="pcoded-mtext">Ижро учун</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="pcoded-micon"><i class="fas fa-cloud-upload-alt color-primary"></i></span>
                        <span class="pcoded-mtext">Муддати яқинлар</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="pcoded-micon"><i class="mdi mdi-clock-outline color-red"></i></span>
                        <span class="pcoded-mtext">Муддати ўтган</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="pcoded-micon"><i class="mdi mdi-checkbox-marked-circle-outline color-yellow"></i></span>
                        <span class="pcoded-mtext">Назоратдаги</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="pcoded-micon"><i class="mdi mdi-alert-circle-outline color-purple"></i></span>
                        <span class="pcoded-mtext">Маълумот учун</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="pcoded-micon"><i class="mdi mdi-folder color-gray"></i></span>
                        <span class="pcoded-mtext">Якунланган</span>
                    </a>
                </li>-->
                <!--<hr>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="pcoded-micon"><i class="mdi mdi-monitor color-primary"></i></span>
                        <span class="pcoded-mtext">Мониторинг ва статистика</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <span class="pcoded-micon"><i class="mdi mdi-network-strength-4 color-purple"></i></span>
                        <span class="pcoded-mtext">Хисоботлар</span>
                    </a>
                </li>-->
                <li class="nav-item pcoded-hasmenu" sec:authorize="hasAnyAuthority('DOC_MANAGEMENT_SETTINGS')">
                    <a class="nav-link" href="#">
                        <span class="pcoded-micon"><i class="fa fa-cog color-primary"></i></span>
                        <span class="pcoded-mtext" th:text="#{doc_settings}">Созламалар</span>
                    </a>
                    <ul class="pcoded-submenu" style="display: none;">
                        <li class=""><a th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).DocTypeList}" th:text="#{doc_doc_type.list}"></a></li>
                        <li class=""><a th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).JournalList}" th:text="#{doc_journal.list}"></a></li>
                        <li class=""><a th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).DocumentViewList}" th:text="#{doc_document_view.list}"></a></li>
                        <li class=""><a th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).CommunicationToolsList}" th:text="#{doc_communication_tools.list}"></a></li>
                        <li class=""><a th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).DocumentOrganizationList}" th:text="#{doc_document_organization.list}"></a></li>
                        <li><a th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).LibraryCategoryList}" th:text="#{doc_library.category_list}"></a></li>
                        <li><a th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).Chiefs}" th:text="#{doc_user_mngm.chiefs_list}"></a></li>
                        <li><a th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).Controllers}" th:text="#{doc_user_mngm.controllers_list}"></a></li>
                        <li><a th:href="${T(uz.maroqand.ecology.docmanagement.constant.DocUrls).DocDescriptionList}" th:text="#{doc.description_list}"></a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <span class="pcoded-micon"><i class="fas fa-user-alt color-green"></i></span>
                        <span class="pcoded-mtext" th:text="#{sys_document.my_profile}">Менинг маълумотларим</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <span class="pcoded-micon"><i class="fa fa-sign-out-alt color-red"></i></span>
                        <span class="pcoded-mtext" th:text="#{sys_document.logout}">Тизимдан чиқиш</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->

</body>
</html>
