<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <object th:include="fragments/includes_top :: top" th:remove="tag" ></object>
    <link rel="stylesheet" href="/static/datatables/css/datatables.min.css">
    <!-- Bootstrap datetimepicker css -->
    <link rel="stylesheet" href="/static/plugins/bootstrap-datetimepicker/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" th:href="@{/static/modal-window-effects/css/md-modal.css}">
    <style>
        .control-label {
            text-align: right;
        }
        .file-field.medium .file-path-wrapper {
            height: 3rem; }
        .file-field.medium .file-path-wrapper .file-path {
            height: 2.8rem; }

        .file-field.big-2 .file-path-wrapper {
            height: 3.7rem; }
        .file-field.big-2 .file-path-wrapper .file-path {
            height: 3.5rem; }

        .inputBorder{
            border: 2px solid #dc3545;
            border-radius: 4px;
        }
    </style>
</head>
<body>
<!-- [ Pre-loader ] start -->
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<!-- [ Pre-loader ] End -->

<object th:include="fragments/navigation_menu :: menu" th:remove="tag" ></object>

<object th:include="fragments/header :: head" th:remove="tag" ></object>

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <div class="main-body">
                    <div class="page-wrapper">
                        <!-- [ Main Content ] start -->
                        <div class="row">

                                <!-- [ sample-page ] start -->
                                <div class="col-sm-12">

                                    <!-- Accordion block begins here -->
                                    <div class="accordion" id="accordionExample">

                                        <!-- dataTable card begins here -->
                                        <div class="card">
                                        <div class="card-header">
                                            <h5 th:text="#{offer.new}"></h5>
                                        </div>
                                        <div class="card-body">
                                            <form th:action="${action_url}" method="post" th:object="${offer}" data-parsley-validate="" id="offerForm">
                                                <div class="form-group row">
                                                    <label for="name" class="col-md-4 col-form-label text-right" th:text="#{offer.name}"></label>
                                                    <div class="col-md-4">
                                                        <input type="text" class="form-control" id="name" th:field="*{name}" required="">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="control-label col-md-4 text-right"  th:text="#{offer.byudjet}"></label>
                                                    <div class="col-md-4">
                                                        <select required="" id="byudjet" name="byudjet" class="form-control">
                                                            <option value="" th:text="#{sys_select}"></option>
                                                            <option value="1" th:text="#{sys_byudjet}" th:selected="*{byudjet}"></option>
                                                            <option value="0" th:text="#{sys_not_byudjet}" th:selected="*{!byudjet}"></option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="fileUz" class="control-label col-md-4 text-right" >
                                                        <span th:text="#{offer.file_uz}"></span>
                                                        <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-4">
                                                        <input id="fileUz" name="fileUz" class="miskin-file-input miskin-file-upload-required" type="file" data-th-attr="data-download-name=${offer.fileUzId!=null? @helperService.getFileName(offer.fileUzId):''}, data-download-link=${offer.fileUzId!=null ? T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).OfferFileDownload+'?file_id='+offer.fileUzId : ''}, data-url=${T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).OfferFileUpload}" data-parsley-required="true" required=""  data-max-file-size="20971520" data-accept=".doc,.docx" />
                                                        <span class="custom-file-control"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label for="fileUz" class="control-label col-md-4 text-right" >
                                                        <span th:text="#{offer.file_uz}"></span>
                                                        <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-4">
                                                        <input id="fileOz" name="fileOz" class="miskin-file-input miskin-file-upload-required" type="file" data-th-attr="data-download-name=${offer.fileOzId!=null? @helperService.getFileName(offer.fileOzId):''}, data-download-link=${offer.fileOzId!=null ? T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).OfferFileDownload+'?file_id='+offer.fileOzId : ''}, data-url=${T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).OfferFileUpload}" data-parsley-required="true" required=""  data-max-file-size="20971520" data-accept=".doc,.docx" />
                                                        <span class="custom-file-control"></span>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label  class="control-label col-md-4 text-right" >
                                                        <span th:text="#{offer.file_uz}"></span>
                                                        <span class="required">*</span>
                                                    </label>
                                                    <div class="col-md-4">
                                                        <input id="fileRu" name="fileRu" class="miskin-file-input miskin-file-upload-required" type="file" data-th-attr="data-download-name=${offer.fileRuId!=null? @helperService.getFileName(offer.fileRuId) :''}, data-download-link=${offer.fileRuId!=null ? T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).OfferFileDownload+'?file_id='+offer.fileRuId : ''}, data-url=${T(uz.maroqand.ecology.cabinet.constant.expertise_mgmt.ExpertiseMgmtUrls).OfferFileUpload}" data-parsley-required="true" required=""  data-max-file-size="20971520" data-accept=".doc,.docx" />
                                                        <span class="custom-file-control"></span>
                                                    </div>
                                                </div>

                                                <input type="hidden" id="_csrf" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" class="miskin-file-upload-required" />
                                                <input type="hidden" th:field="*{id}" id="offerId" class="miskin-file-upload-required"/>
                                                <div class="form-group text-center">
                                                    <a th:href="${back_url}" th:text="#{sys_cancel}" class="btn btn-danger"></a>
                                                    <button type="button" th:text="#{sys_add}" class="btn btn-success" id="submitbutton"></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                        <!-- dataTable card ends here -->

                                    </div>
                                    <!-- Accordion block ends here -->

                                </div>
                                <!-- [ sample-page ] end -->
                            </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ Main Content ] end -->
<object th:include="fragments/includes_bottom :: bottom" th:remove="tag" ></object>
<script type="text/javascript" src="/static/parsley/parsley.min.js"></script>
<script th:src="@{'/static/parsley/i18n/' + __${#locale}__ + '.js'}" ></script>

<script type="text/javascript" src="/static/jquery-file-upload/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/jquery-file-upload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="/static/jquery-file-upload/jquery.fileupload.js"></script>
<script type="text/javascript" src="/static/jquery-file-upload/file-upload.js"></script>
<script th:inline="javascript">
    $('#submitbutton').on('click',function () {
        var inputFileOz = document.getElementById('fileOz');
        var inputFileRU = document.getElementById('fileRu');
        var inputFileUz = document.getElementById('fileUz');
        $('#name').parsley().validate();
        $('#byudjet').parsley().validate();
        $('#fileUz').parsley().validate();
        $('#fileOz').parsley().validate();
        $('#fileRu').parsley().validate();
        if (!$('#name').parsley().isValid()
            || !$('#byudjet').parsley().isValid()
            || !inputFileUz.classList.contains('miskin-required')
            || !inputFileOz.classList.contains('miskin-required')
            || !inputFileRU.classList.contains('miskin-required')
        ){
            if (!inputFileUz.classList.contains('miskin-required')){
                $('#fileUz').addClass('inputBorder');
            }
            if (!inputFileOz.classList.contains('miskin-required')){
                $('#fileOz').addClass('inputBorder');
            }
            if (!inputFileRU.classList.contains('miskin-required')){
                $('#fileRu').addClass('inputBorder');
            }
        }else{
            $('#offerForm').submit();
        }
    });
</script>
</body>
</html>